Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/

Tokenize Site Acquisition UI
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/__tests__/MultiScenarioComparisonSection.test.tsx
  frontend/src/app/pages/site-acquisition/__tests__/PreviewLayersTable.test.tsx
  frontend/src/app/pages/site-acquisition/__tests__/previewMetadata.test.ts
  frontend/src/app/pages/site-acquisition/components/capture-form/PropertyCaptureForm.tsx
  frontend/src/app/pages/site-acquisition/components/checklist/DueDiligenceChecklistSection.tsx
  frontend/src/app/pages/site-acquisition/components/map/PropertyLocationMap.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PreviewLayersTable.tsx
  frontend/src/app/pages/site-acquisition/previewMetadata.ts
  frontend/src/modules/feasibility/components/ImmersiveMap.tsx
  frontend/src/styles/site-acquisition.css
Due: check-ui-canon, prettier, eslint

feat(geocoding): add geocoding API endpoint and improve service
  .env
  .env.example
  backend/app/api/v1/__init__.py
  backend/app/api/v1/agents.py
  backend/app/api/v1/developers_gps.py
  backend/app/api/v1/geocoding.py
  backend/app/core/config.py
  backend/app/services/geocoding.py
  backend/tests/services/test_geocoding_service.py
  docs/all_steps_to_product_completion.md
  frontend/src/api/geocoding.ts
  frontend/src/modules/feasibility/components/ImmersiveMap.tsx
Due: pdf-smoke-test, check-documentation-whitelist, check-ui-canon, mypy-critical, prettier, eslint

style(tokens): update brand colors from Electric Blue to Electric Cyan
  core/design-tokens/index.ts
  core/design-tokens/tokens.css
Due: none

feat(team): add team activity tracking and statistics
  backend/app/api/v1/team.py
  backend/app/models/team.py
  backend/app/schemas/team.py
  backend/app/services/team/team_service.py
  backend/migrations/versions/788e8741fa70_add_last_active_at_to_team_members.py
  frontend/src/api/team.ts
  frontend/src/app/pages/team/TeamManagementPage.tsx
  frontend/src/app/pages/team/components/ProjectProgressDashboard.tsx
  frontend/src/app/pages/team/components/__tests__/mockData.ts
  frontend/src/app/pages/team/components/projectProgressMockData.ts
Due: check-migration-enums, check-enum-patterns, check-ui-canon, mypy-critical, prettier, eslint

fix(workflow): fix timezone handling and enum issues
  backend/app/api/v1/workflow.py
  backend/app/models/workflow.py
  backend/migrations/versions/8f91023abcdd_change_required_role_to_string.py
  backend/migrations/versions/d9412310ba89_fix_workflow_datetime_timezone.py
  frontend/src/api/workflow.ts
  frontend/src/app/pages/team/components/CreateWorkflowDialog.tsx
  frontend/src/app/pages/team/components/WorkflowDashboard.tsx
Due: check-migration-enums, check-enum-patterns, check-ui-canon, mypy-critical, prettier, eslint

fix(regulatory): fix async service and enum handling
  backend/app/api/v1/regulatory.py
  backend/app/models/regulatory.py
  backend/app/schemas/regulatory.py
  backend/app/services/regulatory_service.py
  frontend/src/api/regulatory.ts
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
Due: check-enum-patterns, check-ui-canon, mypy-critical, prettier, eslint

fix(backend): misc fixes for SQLite compat and project ID handling
  Makefile
  backend/app/api/v1/finance_common.py
  backend/app/main.py
  backend/app/models/developer_checklists.py
  frontend/src/api/identity.ts
  frontend/src/components/agents/MarketIntelligenceDashboard.tsx
  frontend/src/modules/cad/CadDetectionPreview.tsx
Due: check-enum-patterns, check-ui-canon, mypy-critical, prettier, eslint

feat(capture): migrate map components from Mapbox to Google Maps
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/components/agents/widgets/MarketHeatmap.tsx
  frontend/src/env.d.ts
  frontend/tsconfig.json
Due: check-ui-canon, prettier, eslint

feat(team): complete Phase 2E workflow API integration
  .coding-rules-exceptions.yml
  backend/app/api/v1/workflow.py
  backend/app/services/team/workflow_service.py
  backend/migrations/versions/788e8741fa70_add_last_active_at_to_team_members.py
  backend/migrations/versions/8f91023abcdd_change_required_role_to_string.py
  backend/tests/test_api/test_workflow.py
  frontend/src/api/workflow.ts
  frontend/src/app/pages/team/TeamManagementPage.tsx
  frontend/src/app/pages/team/components/ProjectProgressDashboard.tsx
  frontend/src/app/pages/team/components/WorkflowDashboard.tsx
Due: check-migration-enums, check-ui-canon, mypy-critical, prettier, eslint

feat(regulatory): connect compliance timeline to real submissions
  backend/scripts/seed_compliance_paths.py
  frontend/src/api/regulatory.ts
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/regulatory/components/CompliancePathTimeline.tsx
Due: check-ui-canon, prettier, eslint

fix(regulatory): improve backend services and form components
  backend/app/api/v1/regulatory.py
  backend/app/models/regulatory.py
  backend/app/schemas/regulatory.py
  backend/app/services/regulatory_service.py
  frontend/src/app/pages/regulatory/components/HeritageSubmissionForm.tsx
  frontend/src/app/pages/regulatory/components/SubmissionWizard.tsx
Due: check-enum-patterns, check-ui-canon, mypy-critical, prettier, eslint

chore(tokens): update design token exports and CSS variables
  core/design-tokens/index.ts
  core/design-tokens/tokens.css
Due: none

fix(projects): use is_(True) instead of == True for boolean comparison
  backend/app/api/v1/projects_api.py
Due: mypy-critical

fix(maps): resolve Google Maps deprecation warnings
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/components/agents/widgets/MarketHeatmap.tsx
Due: check-ui-canon, prettier, eslint

refactor(feasibility): tokenize and canonicalize UI components
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/feasibility/components/AssumptionsPanel.tsx
  frontend/src/modules/feasibility/components/LiveScorecard.tsx
  frontend/src/modules/feasibility/components/MetricsView.tsx
  frontend/src/styles/feasibility.css
Due: check-ui-canon, prettier, eslint

feat(projects): add global project context and selection
  backend/app/api/v1/developers_gps.py
  backend/app/api/v1/development_phases.py
  backend/app/models/development_phase.py
  backend/app/services/development/phase_manager.py
  frontend/src/api/development.ts
  frontend/src/api/projects.ts
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/components/AppNavigation.tsx
  frontend/src/app/navigation.ts
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/capture/utils/captureStorage.ts
  frontend/src/app/pages/phase-management/PhaseManagementPage.tsx
  frontend/src/app/pages/phase-management/components/PhaseEditor.tsx
  frontend/src/app/pages/projects/ProjectHubPage.tsx
  frontend/src/app/pages/projects/ProjectListPage.tsx
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/team/TeamManagementPage.tsx
  frontend/src/app/pages/team/components/WorkflowDashboard.tsx
  frontend/src/components/layout/ProjectSelector.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/contexts/ProjectContext.tsx
  frontend/src/contexts/projectContextDef.ts
  frontend/src/contexts/useProject.ts
  frontend/src/main.tsx
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/FinanceHeaderControls.tsx
  frontend/src/modules/finance/hooks/useFinanceScenarios.ts
  frontend/src/router.tsx
Due: check-enum-patterns, check-ui-canon, mypy-critical, prettier, eslint

fix(regulatory): add project validation and global exception handler for CORS
  backend/app/api/v1/regulatory.py
  backend/app/main.py
Due: mypy-critical

feat(regulatory): enhance dashboard with project context and timeline improvements
  backend/app/api/deps.py
  backend/app/api/v1/regulatory.py
  backend/app/schemas/regulatory.py
  frontend/src/api/regulatory.ts
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/regulatory/components/ChangeOfUseWizard.tsx
  frontend/src/app/pages/regulatory/components/CompliancePathTimeline.tsx
  frontend/src/app/pages/regulatory/components/HeritageSubmissionForm.tsx
  frontend/src/contexts/ProjectContext.tsx
Due: check-ui-canon, mypy-critical, prettier, eslint

feat(team): enhance team management and project progress dashboard
  backend/app/api/v1/workflow.py
  backend/app/services/team/team_service.py
  backend/app/services/team/workflow_service.py
  frontend/src/app/pages/team/TeamManagementPage.tsx
  frontend/src/app/pages/team/components/ProjectProgressDashboard.tsx
Due: check-ui-canon, mypy-critical, prettier, eslint

feat(projects): add projects API and improve navigation/capture functionality
  backend/app/api/v1/projects_api.py
  frontend/src/api/projects.ts
  frontend/src/app/navigation.ts
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/components/layout/ProjectSelector.tsx
  frontend/src/components/layout/TopUtilityMenu.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/router.tsx
Due: check-ui-canon, mypy-critical, prettier, eslint

refactor(team): fix UI/UX violations in Team Management module
  frontend/src/app/pages/team/TeamManagementPage.tsx
  frontend/src/app/pages/team/components/CreateWorkflowDialog.tsx
  frontend/src/app/pages/team/components/ProjectProgressDashboard.tsx
  frontend/src/app/pages/team/components/WorkflowDashboard.tsx
Due: check-ui-canon, prettier, eslint

test(team): add comprehensive tests for Team Management module
  frontend/src/app/pages/team/__tests__/TeamManagementPage.test.tsx
  frontend/src/app/pages/team/components/__tests__/ProjectProgressDashboard.test.tsx
  frontend/src/app/pages/team/components/__tests__/WorkflowDashboard.test.tsx
Due: check-ui-canon, prettier, eslint

test(regulatory): add test coverage and fix UI/UX violations
  frontend/src/app/pages/regulatory/__tests__/RegulatoryDashboardPage.test.tsx
  frontend/src/app/pages/regulatory/components/CompliancePathTimeline.tsx
  frontend/src/app/pages/regulatory/components/__tests__/CompliancePathTimeline.test.tsx
Due: check-ui-canon, prettier, eslint

feat(feasibility): enhance wizard components and add output panel
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/feasibility/__tests__/FeasibilityWizard.test.tsx
  frontend/src/modules/feasibility/__tests__/FeasibilityWizardCompute.test.tsx
  frontend/src/modules/feasibility/components/AssumptionsPanel.tsx
  frontend/src/modules/feasibility/components/FeasibilityLayout.tsx
  frontend/src/modules/feasibility/components/FeasibilityOutputPanel.tsx
  frontend/src/modules/feasibility/components/FinancialSettingsPanel.tsx
  frontend/src/modules/feasibility/components/GenerativeDesignPanel.tsx
  frontend/src/modules/feasibility/components/HolographicCard.tsx
  frontend/src/modules/feasibility/components/PackGenerationPanel.tsx
  frontend/src/modules/feasibility/components/ScenarioSelector.tsx
  frontend/src/modules/feasibility/components/SmartIntelligenceField.tsx
  frontend/src/modules/feasibility/components/index.ts
  frontend/src/modules/feasibility/hooks/useFeasibilityCompute.ts
  frontend/src/modules/feasibility/types/index.ts
  frontend/src/styles/feasibility.css
Due: check-ui-canon, prettier, eslint

refactor(regulatory): fix UI/UX violations in RegulatoryDashboardPage
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
Due: check-ui-canon, prettier, eslint

test(infra): add test utilities and analytics tests
  frontend/src/pages/__tests__/AgentPerformancePage.analytics.integration.test.tsx
  frontend/src/pages/__tests__/AgentPerformancePage.analytics.test.tsx
  frontend/src/test/renderWithProviders.tsx
Due: check-ui-canon, prettier, eslint

docs: update roadmap and add intelligence data sources planning
  .documentation-whitelist.yaml
  docs/all_steps_to_product_completion.md
  docs/planning/advanced-intelligence-data-sources.md
Due: check-documentation-whitelist

chore(config): add OpenAI API key placeholder for Advanced Intelligence
  .env.example
Due: none

chore(config): add OpenAI API key placeholder for Advanced Intelligence
  .env
Due: none

style(frontend): apply Prettier formatting to build and tooling configs
  frontend/.github/workflows/ci.yml
  frontend/eslint.config.cjs
  frontend/index.html
  frontend/playwright.config.ts
  frontend/scripts/test-bootstrap.mjs
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: prettier, eslint

style(ai): apply Prettier formatting to AI module components
  frontend/src/api/ai.ts
  frontend/src/components/ai/AIAssistantChat.tsx
  frontend/src/components/ai/AIFloatingButton.tsx
  frontend/src/components/ai/AIInsightsPanel.tsx
  frontend/src/components/ai/DealScoreCard.tsx
Due: check-ui-canon, prettier, eslint

style(components): apply Prettier formatting to GlassButton and SkeletonLoader
  frontend/src/components/feedback/SkeletonLoader.tsx
Due: check-ui-canon, prettier, eslint

style(simple-auth): apply Prettier formatting to HTML prototype pages
  frontend/simple-auth/dashboard.html
  frontend/simple-auth/projects-auth.html
  frontend/simple-auth/projects-complete.html
  frontend/simple-auth/projects-test.html
  frontend/simple-auth/projects-v2.html
  frontend/simple-auth/projects.html
  frontend/simple-auth/singapore-properties.html
  frontend/simple-auth/test-auth-flow.html
Due: none

style(tests): apply Prettier formatting to agent-advisory E2E tests
  frontend/tests/e2e/agent-advisory.spec.ts
Due: prettier, eslint

test(flows): add robust tests for Prefect ingestion and performance flows
  backend/tests/test_flows/__init__.py
  backend/tests/test_flows/test_ingestion_flow.py
  backend/tests/test_flows/test_performance_flow.py
Due: none

test(services): add comprehensive tests for AgentAdvisory and DealPipeline
  backend/tests/services/test_agent_advisory_service.py
  backend/tests/test_services/test_agent_deal_pipeline.py
Due: none

docs: fix broken documentation links and add ui-status stub
  START_HERE.md
  docs/PDF_TESTING_CHECKLIST.md
  docs/README.md
  docs/SOLO_FOUNDER_GUIDE.md
  docs/handoff_playbook.md
  docs/planning/ui-status.md
  frontend/README_AI_AGENTS.md
  frontend/src/pages/__tests__/AgentAdvisoryPage.test.tsx
  frontend/src/pages/__tests__/AgentIntegrationsPage.test.tsx
Due: check-documentation-whitelist, check-ui-canon, prettier, eslint

fix(entitlements): add validation for approval category enum values
  backend/app/services/entitlements.py
  backend/pyproject.toml
  backend/tests/test_services/test_entitlements.py
Due: none

style(frontend): apply prettier formatting and add ui-admin eslint config
  frontend/src/components/canonical/GlassButton.tsx
  frontend/src/modules/feasibility/components/HolographicCard.tsx
  frontend/src/pages/AgentAdvisoryPage.tsx
  ui-admin/eslint.config.js
  ui-admin/src/main.tsx
  ui-admin/tsconfig.eslint.json
Due: check-ui-canon, prettier, prettier-admin, eslint, eslint-admin

chore(tooling): fix pre-commit config and lint issues
  .pre-commit-config.yaml
  backend/tests/test_api/test_feasibility.py
  backend/tests/test_api/test_overlay_api.py
  backend/tests/test_api/test_products_api.py
  backend/tests/test_api/test_standards_api.py
  backend/tests/test_api/test_test_users_api.py
  backend/tests/test_flows/test_performance_flow.py
  backend/tests/test_services/test_agent_deal_pipeline.py
  bandit.yaml
Due: none
