Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

check-migration-enums:
  name: Check migration ENUM patterns
  entry: python3 scripts/check_migration_enums.py
  language: system
  pass_filenames: false

pdf-smoke-test:
  name: PDF generation smoke test
  entry: python3 scripts/smoke_test_pdfs.py
  language: system
  pass_filenames: false

check-enum-patterns:
  name: Check SQLAlchemy enum patterns have values_callable
  entry: python3 backend/scripts/check_enum_patterns.py
  language: system
  pass_filenames: true

check-documentation-whitelist:
  name: Documentation whitelist enforcement (Rule 14.2)
  entry: python3 scripts/check_documentation_whitelist.py
  language: system
  pass_filenames: false

check-ui-canon:
  name: UI canon enforcement (inline styles, hardcoded colors)
  entry: python3 scripts/check_ui_canon.py
  language: system
  pass_filenames: false

pip-audit:
  name: Dependency vulnerability scan (pip-audit)
  ...

mypy-critical:
  name: mypy (critical paths - blocks on new errors)
  entry: bash -c 'cd backend && ../.venv/bin/mypy app/api/ app/schemas/ --config-file=../mypy.ini --no-error-summary --exclude "(app/schemas/user\.py|app/api/v1/test_users\.py|app/schemas/buildable\.py|app/api/v1/users_secure\.py)"'
  language: system
  ...

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check'
  language: system

prettier-admin:
  name: prettier-admin
  entry: bash -c 'cd ui-admin && npx prettier --check'
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint'
  language: system

eslint-admin:
  name: eslint-admin
  entry: bash -c 'cd ui-admin && npx eslint'
  language: system

fix(ui): replay header animation on route change in YosaiShell
  frontend/src/components/layout/YosaiShell.tsx
Due: check-ui-canon, prettier, eslint

fix(ui): align Finance header with other page headers
  frontend/src/modules/finance/FinanceWorkspace.tsx
Due: check-ui-canon, prettier, eslint

Update all_steps_to_product_completion.md
  docs/all_steps_to_product_completion.md
Due: check-documentation-whitelist

feat: Add notification system, construction management, and UI improvements
  .coding-rules-exceptions.yml
  backend/app/api/v1/__init__.py
  backend/app/api/v1/construction.py
  backend/app/api/v1/notification.py
  backend/app/models/__init__.py
  backend/app/models/construction.py
  backend/app/models/notification.py
  backend/app/schemas/construction.py
  backend/app/schemas/notification.py
  backend/app/services/construction/__init__.py
  backend/app/services/construction/construction_finance.py
  backend/app/services/construction/project_manager.py
  backend/app/services/notification/__init__.py
  backend/app/services/notification/notification_service.py
  backend/app/services/team/team_service.py
  backend/app/services/team/workflow_service.py
  backend/app/utils/logging.py
  backend/app/utils/security.py
  backend/migrations/versions/20251207_000037_add_notifications_table.py
  backend/migrations/versions/20251207_000038_add_construction_tables.py
  backend/tests/test_api/test_notification.py
  docs/all_steps_to_product_completion.md
  frontend/playwright.config.ts
  frontend/src/api/development.ts
  frontend/src/api/notification.ts
  frontend/src/api/regulatory.ts
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/regulatory/components/ChangeOfUseWizard.tsx
  frontend/src/app/pages/regulatory/components/CompliancePathVisualization.tsx
  frontend/src/app/pages/regulatory/components/HeritageSubmissionForm.tsx
  frontend/src/components/layout/HeaderUtilityCluster.tsx
  frontend/src/components/notification/NotificationBell.tsx
  frontend/src/components/notification/index.ts
  frontend/tests/e2e/agent-advisory.spec.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  ui-admin/src/main.tsx
  ui-admin/tsconfig.eslint.json
  unit_tests/test_construction_services.py
Due: check-migration-enums, check-enum-patterns, check-documentation-whitelist, check-ui-canon, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

fix(frontend): resolve TypeScript errors in notification and regulatory APIs
  frontend/src/api/notification.ts
  frontend/src/app/pages/regulatory/components/CompliancePathTimeline.tsx
Due: check-ui-canon, prettier, eslint

refactor(frontend): resolve technical debt in notification API
  frontend/src/api/__tests__/notification.test.ts
  frontend/src/api/notification.ts
Due: prettier, eslint

feat(api): upgrade notification API to world-class quality
  frontend/src/api/__tests__/notification.test.ts
  frontend/src/api/notification.ts
Due: prettier, eslint

fix(backend): improve production config validation and logging
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/__init__.py
  backend/app/utils/client_ip.py
  backend/app/utils/logging.py
  backend/app/utils/security.py
Due: none

feat(backend): add Docker and production infrastructure
  backend/Dockerfile
  backend/requirements-prod.txt
  backend/scripts/ingest.py
  backend/tests/test_core/test_production_config_validation.py
  backend/tests/test_utils/test_client_ip.py
Due: pip-audit

fix(frontend): improve test reliability and component stability
  frontend/src/api/__tests__/finance.test.ts
  frontend/src/components/notification/NotificationBell.tsx
  frontend/src/modules/feasibility/__tests__/FeasibilityWizardCompute.test.tsx
  frontend/src/modules/feasibility/hooks/useFeasibilityCompute.ts
  frontend/src/modules/finance/components/__tests__/FinanceProjectSelector.test.tsx
  frontend/src/modules/finance/components/__tests__/FinanceScenarioTable.test.tsx
  frontend/src/modules/finance/components/__tests__/FinanceStackAndDrawdown.test.tsx
  frontend/src/pages/__tests__/AgentAdvisoryPage.test.tsx
  frontend/src/pages/__tests__/AgentIntegrationsPage.test.tsx
  frontend/src/pages/__tests__/AgentPerformancePage.analytics.test.tsx
  frontend/src/pages/__tests__/AgentsGpsCapturePage.test.tsx
  frontend/src/test/setup.ts
Due: check-ui-canon, prettier, eslint

feat(frontend): add Docker infrastructure and update dependencies
  frontend/Dockerfile
  frontend/nginx/default.conf.template
  frontend/nginx/entrypoint.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

feat(infra): add GCP Cloud Run deployment infrastructure
  .github/workflows/container-smoke.yml
  .github/workflows/deploy-cloudrun.yml
  infra/gcp/cloudrun/P2_PROVISIONING.md
  infra/gcp/cloudrun/README.md
  infra/gcp/cloudrun/deploy.sh
  infra/gcp/cloudrun/provision_cloudsql.sh
  infra/gcp/cloudrun/provision_secrets.sh
  infra/gcp/cloudrun/provision_storage.sh
  scripts/smoke_containers.sh
Due: none

chore: update test configuration and build tooling
  Makefile
  backend/pyproject.toml
  backend/scripts/seed_finance_demo.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  core/util.py
  pytest.ini
  tests/conftest.py
  tests/finance/test_api_integration.py
  tests/finance/test_finance_smoke.py
  unit_tests/test_users_routes.py
Due: none

fix(docker): add missing directories to backend container
  backend/Dockerfile
Due: none

fix(backend): improve users_db initialization for production
  backend/app/api/v1/users_db.py
Due: mypy-critical

feat(infra): add production deployment infrastructure and tests
  .documentation-whitelist.yaml
  .env.production.template
  .github/workflows/deploy.yml
  backend/app/core/database.py
  backend/tests/test_core/test_database_pool.py
  backend/tests/test_core/test_production_config.py
  docker-compose.prod.yml
  docs/DEPLOYMENT.md
Due: check-documentation-whitelist

feat(security): world-class production security hardening
  .env.production.template
  backend/Dockerfile
  backend/app/main.py
  backend/tests/test_core/test_security_hardening.py
  docker-compose.prod.yml
  frontend/nginx/default.conf.template
Due: none

feat: Add Construction Management UI and update phase statuses
  backend/tests/test_api/test_construction.py
  docs/all_steps_to_product_completion.md
  frontend/src/api/construction.ts
  frontend/src/app/pages/construction/ConstructionManagementPage.tsx
  frontend/src/app/pages/construction/index.ts
  frontend/src/main.tsx
Due: check-documentation-whitelist, check-ui-canon, prettier, eslint

fix: Fix construction tests and models for SQLite compatibility
  backend/app/models/construction.py
  backend/app/schemas/construction.py
  backend/tests/test_api/test_construction.py
Due: check-enum-patterns, mypy-critical

fix: Fix duplicate __table_args__ in RefSource model
  backend/app/models/rkp.py
Due: check-enum-patterns

docs: Document test suite state pollution issue
  docs/all_steps_to_product_completion.md
Due: check-documentation-whitelist

feat(tests): Add comprehensive tests for 20 critical files
  backend/tests/core/test_auth_service_comprehensive.py
  backend/tests/models_unit/test_entitlements_comprehensive.py
  backend/tests/models_unit/test_finance_comprehensive.py
  backend/tests/models_unit/test_projects_comprehensive.py
  backend/tests/models_unit/test_users_comprehensive.py
  backend/tests/models_unit/test_workflow_comprehensive.py
  backend/tests/services/test_account_lockout_comprehensive.py
  backend/tests/services/test_asset_mix_comprehensive.py
  backend/tests/services/test_commission_comprehensive.py
  backend/tests/services/test_compliance_comprehensive.py
  backend/tests/services/test_preview_generator_comprehensive.py
  backend/tests/services/test_team_service_comprehensive.py
  backend/tests/test_api/test_agents_comprehensive.py
  backend/tests/test_api/test_deals_comprehensive.py
  backend/tests/test_api/test_deps_comprehensive.py
  backend/tests/test_api/test_finance_feasibility_comprehensive.py
  backend/tests/test_api/test_finance_scenarios_comprehensive.py
Due: none

test: Add 991 comprehensive tests for 10 critical areas
  backend/tests/services/test_construction_finance_comprehensive.py
  backend/tests/services/test_email_service_comprehensive.py
  backend/tests/services/test_listing_accounts_comprehensive.py
  backend/tests/services/test_notification_service_comprehensive.py
  backend/tests/services/test_phase_manager_comprehensive.py
  backend/tests/services/test_project_manager_comprehensive.py
  backend/tests/services/test_workflow_service_comprehensive.py
  backend/tests/test_api/test_notification_api_comprehensive.py
  backend/tests/test_api/test_users_secure_api_comprehensive.py
  backend/tests/test_api/test_workflow_api_comprehensive.py
Due: none

feat: Implement Single Source of Truth (SSoT) for constants
  CLAUDE.md
  MCP.md
  backend/app/constants/__init__.py
  backend/app/constants/defaults.py
  backend/app/core/config.py
  frontend/src/api/agents.ts
  frontend/src/api/client.ts
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/map/PropertyLocationMap.tsx
  frontend/src/app/pages/site-acquisition/hooks/useConditionAssessment.ts
  frontend/src/constants/__tests__/constants.test.ts
  frontend/src/constants/api.ts
  frontend/src/constants/index.ts
  frontend/src/constants/locations.ts
  frontend/src/constants/scenarios.ts
  frontend/src/modules/feasibility/types/index.ts
  frontend/src/pages/AgentsGpsCapturePage.tsx
  frontend/src/services/api.ts
Due: check-ui-canon, prettier, eslint

fix: Resolve type checking errors and test failures
  backend/app/core/database.py
  backend/app/core/query_inspector.py
  backend/app/services/intelligence.py
  unit_tests/test_users_routes.py
Due: none

test: Add comprehensive model tests for 100% coverage
  backend/tests/conftest.py
  backend/tests/test_hk_jurisdiction.py
  backend/tests/test_models/test_ai_agents.py
  backend/tests/test_models/test_audit.py
  backend/tests/test_models/test_business_performance.py
  backend/tests/test_models/test_construction.py
  backend/tests/test_models/test_developer_condition.py
  backend/tests/test_models/test_development_phase.py
  backend/tests/test_models/test_hong_kong_property.py
  backend/tests/test_models/test_imports.py
  backend/tests/test_models/test_listing_integration.py
  backend/tests/test_models/test_market.py
  backend/tests/test_models/test_new_zealand_property.py
  backend/tests/test_models/test_notification.py
  backend/tests/test_models/test_organization.py
  backend/tests/test_models/test_overlay.py
  backend/tests/test_models/test_preview.py
  backend/tests/test_models/test_regulatory.py
  backend/tests/test_models/test_rkp.py
  backend/tests/test_models/test_rulesets.py
  backend/tests/test_models/test_seattle_property.py
  backend/tests/test_models/test_singapore_property.py
  backend/tests/test_models/test_team.py
  backend/tests/test_models/test_toronto_property.py
  backend/tests/test_models/test_types.py
  backend/tests/test_models/test_users.py
  backend/tests/test_models/test_workflow.py
  backend/tests/test_nz_jurisdiction.py
  backend/tests/test_seattle_jurisdiction.py
  backend/tests/test_toronto_jurisdiction.py
Due: none

fix: Add pytest skip guards for optional dependencies
  backend/tests/test_services/test_account_lockout.py
  backend/tests/test_services/test_geocoding.py
  backend/tests/test_services/test_heritage_overlay.py
  backend/tests/test_services/test_ingestion.py
  backend/tests/test_services/test_jurisdictions.py
  backend/tests/test_services/test_mock_corenet.py
  backend/tests/test_services/test_postgis.py
  backend/tests/test_services/test_products.py
  backend/tests/test_services/test_reference_storage.py
  backend/tests/test_services/test_standards.py
  backend/tests/test_services/test_storage.py
Due: none

test: add comprehensive API tests for 6 untested API modules
  backend/tests/test_api/test_developers_checklists_api.py
  backend/tests/test_api/test_developers_common_api.py
  backend/tests/test_api/test_developers_conditions_api.py
  backend/tests/test_api/test_development_phases_api.py
  backend/tests/test_api/test_projects_api.py
  backend/tests/test_api/test_users_secure_api.py
Due: none

fix: Add pytest skip guards for optional dependencies in tests
  backend/tests/services/test_investment_memorandum.py
  backend/tests/services/test_marketing_assets.py
  backend/tests/services/test_marketing_materials_generator.py
  backend/tests/services/test_scenario_builder_helpers.py
  backend/tests/services/test_universal_site_pack.py
  backend/tests/test_scripts/test_ingest_hk_parcels.py
  backend/tests/test_scripts/test_ingest_hk_zones.py
  backend/tests/test_scripts/test_ingest_sg_parcels.py
  backend/tests/test_services/test_agents/test_investment_memorandum.py
  backend/tests/test_services/test_agents/test_marketing_materials.py
  backend/tests/test_services/test_agents/test_pdf_generator.py
  backend/tests/test_services/test_agents/test_universal_site_pack.py
  backend/tests/test_services/test_universal_site_pack.py
  unit_tests/test_gps_property_logger.py
Due: none

feat: Add multitenancy migrations and update documentation
  .documentation-whitelist.yaml
  backend/migrations/versions/20251226_000001_merge_heads.py
  backend/migrations/versions/20251226_000002_add_multitenancy_tables.py
  docs/all_steps_to_product_completion.md
  docs/development/security-features.md
  docs/development/testing/summary.md
Due: check-migration-enums, check-documentation-whitelist

feat(ui): Phase 1 premium cyber-aesthetic design system
  core/design-tokens/tokens.css
  frontend/src/app/layout/BaseLayout.tsx
  frontend/src/components/layout/HeaderUtilityCluster.tsx
  frontend/src/components/layout/TopUtilityMenu.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/main.tsx
  frontend/src/styles/premium-effects.css
Due: check-ui-canon, prettier, eslint

feat(ui): Phase 2 premium canonical components
  frontend/src/components/canonical/Card.tsx
  frontend/src/components/canonical/NeonText.tsx
  frontend/src/components/canonical/PremiumMetricCard.tsx
  frontend/src/components/canonical/PulsingStatusDot.tsx
Due: check-ui-canon, prettier, eslint

feat(ui): Phase 3 Finance module premium upgrade
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
  frontend/src/modules/finance/components/FinanceAnalyticsPanel.tsx
  frontend/src/modules/finance/components/FinanceMetricsGrid.tsx
Due: check-ui-canon, prettier, eslint

fix(finance): improve scenario cards UX
  core/design-tokens/tokens.css
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
Due: check-ui-canon, prettier, eslint

fix(frontend): restore typecheck after UI merge
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
  frontend/src/pages/visualizations/AdvancedIntelligence.tsx
Due: check-ui-canon, prettier, eslint

refactor(cad): canonicalize CAD uploader and rule pack components
  core/design-tokens/tokens.css
  frontend/src/modules/cad/CadUploader.tsx
  frontend/src/modules/cad/RulePackExplanationPanel.tsx
  frontend/src/pages/CadUploadPage.tsx
  frontend/src/styles/STYLE_GUIDE.md
Due: check-ui-canon, prettier, eslint

docs: split UI_STANDARDS into token reference and UX architecture
  CLAUDE.md
  frontend/UI_STANDARDS.md
  frontend/UX_ARCHITECTURE.md
  frontend/src/styles/STYLE_GUIDE.md
Due: prettier

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/
