Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/

Polish Phase 2E team coordination: rejection, invitations, UI feedback
  backend/app/api/v1/audit.py
  backend/app/api/v1/developers_deal_calculator.py
  backend/app/api/v1/finance_workbook.py
  backend/app/api/v1/team.py
  backend/app/api/v1/workflow.py
  backend/app/schemas/team.py
  backend/app/services/team/team_service.py
  backend/app/services/team/workflow_service.py
  frontend/src/app/pages/team/TeamManagementPage.tsx
  frontend/src/app/pages/team/components/WorkflowDashboard.tsx
Due: check-ui-canon, mypy-critical, prettier, eslint

Polish Phase 2F regulatory navigation: seed data, STB confirmation, canonical cards
  backend/app/main.py
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/regulatory/components/CompliancePathTimeline.tsx
  frontend/src/app/pages/regulatory/components/HeritageSubmissionForm.tsx
Due: check-ui-canon, prettier, eslint

Fix issues found during code review
  backend/app/main.py
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
Due: prettier, eslint

Full UX audit fix: P0-P3 across routing, responsive, validation, tokens, and error handling
  frontend/src/app/layout/BaseLayout.tsx
  frontend/src/app/pages/NotFoundPage.tsx
  frontend/src/app/pages/advisory/AdvisoryPage.tsx
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/business-performance/components/PipelineBoard.tsx
  frontend/src/app/pages/capture/components/AgentResultsPanel.tsx
  frontend/src/app/pages/deal-calculator/DealCalculatorPage.tsx
  frontend/src/app/pages/deal-calculator/components/DealInputsForm.tsx
  frontend/src/app/pages/due-diligence/DueDiligencePage.tsx
  frontend/src/app/pages/evidence/EvidencePage.tsx
  frontend/src/app/pages/phase-management/PhaseManagementPage.tsx
  frontend/src/app/pages/projects/ProjectListPage.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/checklist/DueDiligenceChecklistSection.tsx
  frontend/src/app/pages/site-acquisition/hooks/useChecklist.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/layout/TopUtilityMenu.tsx
  frontend/src/main.tsx
  frontend/src/router.tsx
  frontend/src/styles/agents-capture.css
  frontend/src/styles/app-shell.css
  frontend/src/styles/business-performance.css
  frontend/src/styles/cad.css
  frontend/src/styles/core.css
  frontend/src/styles/developer-preview.css
  frontend/src/styles/feasibility.css
  frontend/src/styles/finance/capital-advisory.css
  frontend/src/styles/gps-capture/core.css
  frontend/src/styles/phase-management.css
Due: check-ui-canon, prettier, eslint

Design critique fixes: mobile nav, typography, empty states, success feedback, onboarding
  core/design-tokens/tokens.css
  frontend/src/app/layout/BaseLayout.tsx
  frontend/src/app/pages/NotFoundPage.tsx
  frontend/src/app/pages/advisory/AdvisoryPage.tsx
  frontend/src/app/pages/business-performance/components/PipelineBoard.tsx
  frontend/src/app/pages/deal-calculator/DealCalculatorPage.tsx
  frontend/src/app/pages/evidence/EvidencePage.tsx
  frontend/src/app/pages/projects/ProjectListPage.tsx
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/styles/app-shell.css
Due: check-ui-canon, prettier, eslint

Rename Yosai components, strip neon aesthetic, normalize tokens, add gold accents
  frontend/src/App.tsx
  frontend/src/app/layout/AppShell.tsx
  frontend/src/app/layout/BaseLayout.tsx
  frontend/src/app/pages/deal-calculator/DealCalculatorPage.tsx
  frontend/src/app/pages/projects/ProjectListPage.tsx
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/components/layout/Shell.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/TopNav.tsx
  frontend/src/main.tsx
  frontend/src/styles/agent-performance.css
  frontend/src/styles/agents-capture.css
  frontend/src/styles/business-performance.css
  frontend/src/styles/cad.css
  frontend/src/styles/core.css
  frontend/src/styles/developer-preview.css
  frontend/src/styles/finance/core.css
  frontend/src/styles/gps-capture/template-manager.css
  frontend/src/styles/page-layout.css
  frontend/src/styles/phase-management.css
  frontend/src/styles/site-acquisition.css
  frontend/src/theme/YosaiThemeProvider.tsx
  frontend/src/theme/index.ts
  frontend/src/theme/theme.ts
  frontend/src/theme/yosaiTheme.ts
Due: check-ui-canon, prettier, eslint

Remove synthetic advanced intelligence data
  backend/app/api/v1/advanced_intelligence.py
  backend/tests/test_api/test_advanced_intelligence.py
  frontend/src/hooks/useInvestigationAnalytics.ts
  frontend/src/pages/visualizations/AdvancedIntelligence.tsx
  frontend/src/pages/visualizations/__tests__/AdvancedIntelligence.test.tsx
  frontend/src/pages/visualizations/components/KPITickerCard.tsx
  frontend/src/pages/visualizations/components/RelationshipGraph.tsx
  frontend/src/services/analytics/advancedAnalytics.ts
  frontend/src/services/analytics/fixtures.ts
Due: check-ui-canon, mypy-critical, prettier, eslint

Plan real Advanced Intelligence implementation
  docs/planning/advanced-intelligence-data-sources.md
Due: check-documentation-whitelist

Persist advanced intelligence snapshots
  backend/app/api/v1/advanced_intelligence.py
  backend/app/models/__init__.py
  backend/app/models/advanced_intelligence.py
  backend/app/schemas/__init__.py
  backend/app/schemas/advanced_intelligence.py
  backend/app/services/analytics/__init__.py
  backend/app/services/analytics/workspace_snapshots.py
  backend/migrations/versions/20260406_000041_add_advanced_intelligence_snapshot_tables.py
  backend/tests/test_api/test_advanced_intelligence.py
Due: check-migration-enums, check-enum-patterns, mypy-critical

Scope advanced intelligence to projects
  backend/app/api/v1/advanced_intelligence.py
  backend/app/services/analytics/__init__.py
  backend/app/services/analytics/scope.py
  backend/tests/test_api/test_advanced_intelligence.py
  frontend/src/pages/visualizations/AdvancedIntelligence.tsx
  frontend/src/pages/visualizations/__tests__/AdvancedIntelligence.test.tsx
  frontend/src/services/analytics/advancedAnalytics.ts
Due: check-ui-canon, mypy-critical, prettier, eslint

Build live advanced intelligence snapshots
  backend/app/api/v1/advanced_intelligence.py
  backend/app/services/analytics/__init__.py
  backend/app/services/analytics/project_refresh.py
  backend/tests/test_api/test_advanced_intelligence.py
  frontend/src/hooks/useInvestigationAnalytics.ts
  frontend/src/pages/visualizations/AdvancedIntelligence.tsx
  frontend/src/pages/visualizations/__tests__/AdvancedIntelligence.test.tsx
  frontend/src/pages/visualizations/components/RelationshipGraph.tsx
  frontend/src/services/analytics/advancedAnalytics.ts
Due: check-ui-canon, mypy-critical, prettier, eslint

Normalize language pickers
  frontend/src/components/layout/HeaderUtilityCluster.tsx
  frontend/src/components/layout/TopUtilityMenu.tsx
  frontend/src/i18n/index.ts
  frontend/src/i18n/resources.ts
Due: check-ui-canon, prettier, eslint

Refine capture outputs and move asset allocation to feasibility
  frontend/src/app/navigation.ts
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/capture/routeAliases.test.ts
  frontend/src/app/pages/capture/routeAliases.ts
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.test.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PreviewLayersTable.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PropertyOverviewSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/__tests__/PreviewLayersTable.test.tsx
  frontend/src/app/pages/site-acquisition/components/scenario-focus/ScenarioFocusSection.tsx
  frontend/src/app/pages/site-acquisition/hooks/useCaptureScenarioComparison.test.tsx
  frontend/src/app/pages/site-acquisition/hooks/useCaptureScenarioComparison.ts
  frontend/src/app/pages/site-acquisition/hooks/usePropertyCapture.ts
  frontend/src/app/pages/site-acquisition/utils/cardBuilders.ts
  frontend/src/main.tsx
  frontend/src/modules/feasibility/__tests__/FeasibilityOutputPanel.test.tsx
  frontend/src/modules/feasibility/components/FeasibilityOutputPanel.tsx
Due: check-ui-canon, prettier, eslint

Polish capture review flow and harden voice notes
  frontend/src/app/pages/capture/UnifiedCapturePage.test.tsx
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/VoiceObservationsPanel.tsx
  frontend/src/app/pages/site-acquisition/components/__tests__/VoiceObservationsPanel.test.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PropertyOverviewSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/__tests__/PropertyOverviewSection.test.tsx
  frontend/src/app/pages/site-acquisition/types.ts
  frontend/src/app/pages/site-acquisition/utils/cardBuilders.test.ts
  frontend/src/app/pages/site-acquisition/utils/cardBuilders.ts
  frontend/src/styles/gps-capture/core.css
  frontend/src/styles/site-acquisition.css
  scripts/lint-ui-standards.mjs
Due: check-ui-canon, prettier, eslint

Add scenario-specific starter model pipeline
  backend/app/api/v1/developers_gps.py
  backend/tests/test_api/test_developer_site_acquisition.py
  frontend/src/api/siteAcquisition.previewJobs.test.ts
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/capture/utils/captureResultV2.test.ts
  frontend/src/app/pages/capture/utils/captureResultV2.ts
  frontend/src/app/pages/site-acquisition/hooks/usePreviewJob.ts
  frontend/src/app/pages/site-acquisition/utils/previewJobSelection.ts
Due: check-ui-canon, mypy-critical, prettier, eslint

Sync capture model assumptions and provenance
  .documentation-whitelist.yaml
  backend/app/api/v1/developers_common.py
  backend/app/api/v1/developers_gps.py
  backend/app/services/preview_jobs.py
  backend/tests/test_api/test_developer_site_acquisition.py
  docs/capture-assumption-governance.md
  frontend/src/api/siteAcquisition.previewJobs.test.ts
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/components/site-acquisition/Preview3DViewer.test.tsx
  frontend/src/app/components/site-acquisition/Preview3DViewer.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/capture/utils/captureResultV2.test.ts
  frontend/src/app/pages/capture/utils/captureResultV2.ts
  frontend/src/styles/site-acquisition.css
Due: check-documentation-whitelist, check-ui-canon, mypy-critical, prettier, eslint

Optimize frontend loading and code splitting
  core/design-tokens/index.ts
  core/design-tokens/tokens.css
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/due-diligence/DueDiligencePage.tsx
  frontend/src/app/pages/phase-management/PhaseManagementPage.tsx
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/site-acquisition/DeveloperPreviewStandalone.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/AssetMixChart.tsx
  frontend/src/components/layout/Shell.tsx
  frontend/src/components/layout/TopNav.tsx
  frontend/src/contexts/ProjectContext.tsx
  frontend/src/modules/agent-performance/AgentPerformancePage.tsx
  frontend/src/modules/agent-performance/components/PerformanceTrendsSection.tsx
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/modules/finance/index.ts
  frontend/src/pages/AgentAdvisoryPage.tsx
  frontend/src/pages/AgentsGpsCapturePage.tsx
  frontend/src/pages/CadPipelinesPage.tsx
  frontend/src/pages/CadUploadPage.tsx
  frontend/src/pages/visualizations/AdvancedIntelligence.tsx
  frontend/src/pages/visualizations/components/KPITickerCard.tsx
  frontend/src/styles/finance/polish.css
  frontend/src/styles/index.css
  frontend/src/theme/tokens.ts
  frontend/vite.config.ts
Due: check-ui-canon, prettier, eslint

Lazy load finance chart panels
  frontend/src/modules/finance/components/FinanceCapitalStack.tsx
  frontend/src/modules/finance/components/FinanceDrawdownSchedule.tsx
Due: check-ui-canon, prettier, eslint

Replace hard-coded colors, borderRadius, and fontSize with design tokens
  frontend/src/app/pages/phase-management/components/GanttChart.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/VoiceNoteRecorder.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/HistoryCompareView.tsx
  frontend/src/app/pages/site-acquisition/components/photos/PhotoDocumentation.tsx
  frontend/src/app/pages/site-acquisition/components/photos/PhotoGallery.tsx
Due: check-ui-canon, prettier, eslint

Improve inspection history comparisons and coverage
  frontend/src/app/pages/site-acquisition/__tests__/MultiScenarioComparisonSection.test.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/HistoryCompareView.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/HistoryTimelineView.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/InspectionHistoryContent.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/__tests__/InspectionHistoryContent.test.tsx
  frontend/src/app/pages/site-acquisition/components/modals/__tests__/InspectionHistoryModal.test.tsx
  frontend/src/app/pages/site-acquisition/hooks/useScenarioComparison.ts
  frontend/src/app/pages/site-acquisition/utils/historyComparisons.test.ts
  frontend/src/app/pages/site-acquisition/utils/historyComparisons.ts
  frontend/src/app/pages/site-acquisition/utils/index.ts
Due: check-ui-canon, prettier, eslint

Add deal outcome capture and benchmark aggregation
  backend/app/api/v1/__init__.py
  backend/app/api/v1/deal_outcomes.py
  backend/app/models/__init__.py
  backend/app/models/business_performance.py
  backend/app/models/deal_outcome.py
  backend/app/models/finance.py
  backend/app/schemas/deal_outcome.py
  backend/app/services/deal_outcomes.py
  backend/migrations/versions/a1b2c3d4e5f6_add_deal_outcomes_table.py
Due: check-migration-enums, check-enum-patterns, mypy-critical

Improve capture and site acquisition workflows
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/components/site-acquisition/Preview3DViewer.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/capture/utils/captureResultV2.test.ts
  frontend/src/app/pages/capture/utils/captureResultV2.ts
  frontend/src/app/pages/capture/utils/captureStorage.ts
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.test.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/components/photos/PhotoGallery.tsx
  frontend/src/app/pages/site-acquisition/hooks/usePreviewJob.test.tsx
  frontend/src/app/pages/site-acquisition/hooks/usePreviewJob.ts
  frontend/src/pages/AgentsGpsCapturePage.tsx
Due: check-ui-canon, prettier, eslint

Refine UI layout, styling, and finance components
  frontend/src/app/pages/advisory/AdvisoryPage.tsx
  frontend/src/app/pages/deal-calculator/components/DealInputsForm.tsx
  frontend/src/components/canonical/HeroMetric.tsx
  frontend/src/components/canonical/NeonText.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/features/pages/Main.tsx
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/styles/glass.css
  frontend/src/styles/gps-capture/core.css
  frontend/src/styles/index.css
  frontend/src/utils/themeStyles.ts
Due: check-ui-canon, prettier, eslint

Update devstack ports, CLAUDE.md, and project config
  .devstack/backend.port
  .devstack/frontend.port
  .devstack/ui-admin.port
  .impeccable.md
  .nvmrc
  CLAUDE.md
  frontend/.npmrc
Due: none

Fix frontend accessibility: focus traps, ARIA labels, form labels, and aria-live regions
  frontend/src/app/pages/capture/components/AgentResultsPanel.tsx
  frontend/src/app/pages/deal-calculator/DealCalculatorPage.tsx
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/app/pages/phase-management/components/GanttChart.tsx
  frontend/src/app/pages/projects/ProjectListPage.tsx
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/site-acquisition/components/CommandBar.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/VoiceNoteRecorder.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentEditor.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/HistoryCompareView.tsx
  frontend/src/app/pages/site-acquisition/components/photos/PhotoCapture.tsx
  frontend/src/app/pages/site-acquisition/components/photos/PhotoGallery.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/ColorLegendEditor.tsx
  frontend/src/app/pages/team/TeamManagementPage.tsx
  frontend/src/app/pages/team/components/WorkflowDashboard.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ai/AIAssistantChat.tsx
  frontend/src/components/ai/AIInsightsPanel.tsx
  frontend/src/components/ai/DealScoreCard.tsx
  frontend/src/components/canonical/AlertBlock.tsx
  frontend/src/components/layout/ProjectSelector.tsx
  frontend/src/components/notifications/NotificationBell.tsx
  frontend/src/modules/cad/CadUploader.tsx
  frontend/src/modules/finance/FinanceAlerts.tsx
Due: check-ui-canon, prettier, eslint

Replace hardcoded colors and spacing with design tokens across frontend
  frontend/src/app/components/site-acquisition/Preview3DViewer.tsx
  frontend/src/app/pages/business-performance/components/AnalyticsPanel.tsx
  frontend/src/app/pages/due-diligence/DueDiligencePage.tsx
  frontend/src/app/pages/phase-management/PhaseManagementPage.tsx
  frontend/src/app/pages/phase-management/components/TenantRelocationDashboard.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/VoiceNoteList.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ScenarioComparisonCard.tsx
  frontend/src/app/pages/site-acquisition/components/photos/PhotoDocumentation.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/LayerBreakdownCards.tsx
  frontend/src/components/agents/widgets/MarketCycleIndicator.tsx
  frontend/src/components/agents/widgets/MarketHeatmap.tsx
  frontend/src/components/agents/widgets/YieldBenchmarkChart.tsx
  frontend/src/components/ai/AIFloatingButton.tsx
  frontend/src/components/canonical/HeroMetric.tsx
  frontend/src/modules/cad/CadDetectionPreview.tsx
  frontend/src/modules/feasibility/components/AIAssistantSidebar.tsx
  frontend/src/modules/feasibility/components/AddressForm.tsx
  frontend/src/modules/feasibility/components/GenerativeDesignPanel.tsx
  frontend/src/modules/feasibility/components/ImmersiveMap.tsx
  frontend/src/modules/feasibility/components/PackGenerationPanel.tsx
  frontend/src/modules/feasibility/components/ResultsPanel.tsx
  frontend/src/modules/feasibility/components/ScenarioFAB.tsx
  frontend/src/modules/feasibility/components/SmartIntelligenceField.tsx
  frontend/src/modules/finance/components/CapitalStackMiniBar.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
  frontend/src/modules/finance/components/FinanceAnalyticsPanel.tsx
  frontend/src/modules/finance/components/FinanceScenarioTable.tsx
  frontend/src/pages/AgentsGpsCapturePage.tsx
  frontend/src/pages/advisory/components/AbsorptionChart.tsx
  frontend/src/pages/advisory/components/AssetMixPanel.tsx
Due: check-ui-canon, prettier, eslint

Standardize responsive breakpoints, add dvh fallback, and convert fixed widths to fluid
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/YosaiSidebar.tsx
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/styles/advisory.css
  frontend/src/styles/agent-performance.css
  frontend/src/styles/agents-capture.css
  frontend/src/styles/app-shell.css
  frontend/src/styles/business-performance.css
  frontend/src/styles/cad.css
  frontend/src/styles/core.css
  frontend/src/styles/developer-preview.css
  frontend/src/styles/feasibility.css
  frontend/src/styles/finance/capital-advisory.css
  frontend/src/styles/gps-capture/core.css
  frontend/src/styles/page-layout.css
  frontend/src/styles/phase-management.css
  frontend/src/styles/site-acquisition.css
Due: check-ui-canon, prettier, eslint

Improve frontend performance: virtualization, memoization, CSS contain, and cleanup
  frontend/src/app/pages/site-acquisition/components/inspection-history/ScenarioAssessmentsTable.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/ScenarioComparisonTable.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/SystemComparisonPanel.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/ProcessingStatusCard.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/SmartCard.tsx
  frontend/src/modules/cad/useFeasibilityLoop.ts
  frontend/src/modules/feasibility/components/FeasibilityLayout.tsx
  frontend/src/modules/feasibility/components/FinancialSettingsPanel.tsx
  frontend/src/modules/feasibility/hooks/useFeasibilityCompute.ts
  frontend/src/modules/finance/components/AssetMixTable.tsx
  frontend/src/modules/finance/components/FinanceDrawdownSchedule.tsx
  frontend/src/router.tsx
  frontend/src/styles/glass.css
  frontend/src/styles/premium-effects.css
Due: check-ui-canon, prettier, eslint

Split 9 oversized components into focused sub-components and hooks
  frontend/src/app/pages/gps-capture/HudWidgets.tsx
  frontend/src/app/pages/gps-capture/MissionLog.tsx
  frontend/src/app/pages/gps-capture/gpsCaptureUtils.ts
  frontend/src/app/pages/phase-management/components/CriticalPathView.tsx
  frontend/src/app/pages/phase-management/components/DemoPhaseData.tsx
  frontend/src/app/pages/phase-management/components/HeritageView.tsx
  frontend/src/app/pages/regulatory/components/CompliancePathTimeline.tsx
  frontend/src/app/pages/regulatory/components/ComplianceSummaryCards.tsx
  frontend/src/app/pages/regulatory/components/HeritageSubmissionForm.tsx
  frontend/src/app/pages/regulatory/components/complianceTimelineUtils.ts
  frontend/src/app/pages/regulatory/components/heritage/DocumentsTab.tsx
  frontend/src/app/pages/regulatory/components/heritage/HeritageElementsTab.tsx
  frontend/src/app/pages/regulatory/components/heritage/ProposedWorksTab.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/ConceptPreviewSection.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/RecommendedActionsDiff.tsx
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/AllocationSummaryPanel.tsx
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/modules/finance/components/TemplateSelectorCard.tsx
  frontend/src/modules/finance/components/financeScenarioConstants.ts
  frontend/src/modules/finance/hooks/useFinanceWorkspaceActions.ts
  frontend/src/pages/AgentsCaptureContextPanel.tsx
  frontend/src/pages/agentsCaptureUtils.ts
Due: check-ui-canon, prettier, eslint

Rebalance brand palette from gold to slate blue for CRE platform identity
  core/design-tokens/index.ts
  core/design-tokens/tokens.css
  frontend/src/app/pages/business-performance/components/AnalyticsPanel.tsx
  frontend/src/app/pages/deal-calculator/DealCalculatorPage.tsx
  frontend/src/app/pages/gps-capture/MissionLog.tsx
  frontend/src/app/pages/phase-management/components/TenantRelocationDashboard.tsx
  frontend/src/app/pages/projects/ProjectListPage.tsx
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/AssetMixChart.tsx
  frontend/src/modules/finance/components/CapitalStackMiniBar.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/modules/finance/utils/chartTheme.ts
  frontend/src/theme/theme.ts
  frontend/src/theme/tokens.ts
Due: check-ui-canon, prettier, eslint

Add Canonical UI System Rule to impeccable skill
  .agents/skills/impeccable/SKILL.md
  .claude/skills/impeccable/SKILL.md
Due: none

Advance capture recommendation and rule controls
  backend/app/api/v1/developers_common.py
  backend/app/api/v1/developers_gps.py
  backend/app/services/rules/zone_rules.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_services/test_zone_rules.py
  frontend/src/api/siteAcquisition.capture.test.ts
  frontend/src/api/siteAcquisition.previewJobs.test.ts
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/capture/UnifiedCapturePage.test.tsx
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/components/AgentResultsPanel.tsx
  frontend/src/app/pages/capture/components/CaptureRecommendationSection.tsx
  frontend/src/app/pages/capture/components/ConceptPreviewSection.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/capture/components/MissionLog.tsx
  frontend/src/app/pages/capture/components/SaveProjectDialog.tsx
  frontend/src/app/pages/capture/components/useStarterModelMemos.ts
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/capture/utils/captureResultV2.test.ts
  frontend/src/app/pages/capture/utils/captureResultV2.ts
  frontend/src/app/pages/capture/utils/formatScenario.ts
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.test.tsx
  frontend/src/styles/gps-capture/core.css
  frontend/src/styles/site-acquisition.css
Due: check-ui-canon, mypy-critical, prettier, eslint
