Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

check-migration-enums:
  name: Check migration ENUM patterns
  entry: python3 scripts/check_migration_enums.py
  language: system
  pass_filenames: false

pdf-smoke-test:
  name: PDF generation smoke test
  entry: python3 scripts/smoke_test_pdfs.py
  language: system
  pass_filenames: false

check-enum-patterns:
  name: Check SQLAlchemy enum patterns have values_callable
  entry: python3 backend/scripts/check_enum_patterns.py
  language: system
  pass_filenames: true

check-documentation-whitelist:
  name: Documentation whitelist enforcement (Rule 14.2)
  entry: python3 scripts/check_documentation_whitelist.py
  language: system
  pass_filenames: false

check-ui-canon:
  name: UI canon enforcement (inline styles, hardcoded colors)
  entry: python3 scripts/check_ui_canon.py
  language: system
  pass_filenames: false

pip-audit:
  name: Dependency vulnerability scan (pip-audit)
  ...

mypy-critical:
  name: mypy (critical paths - blocks on new errors)
  entry: bash -c 'cd backend && ../.venv/bin/mypy app/api/ app/schemas/ --config-file=../mypy.ini --no-error-summary --exclude "(app/schemas/user\.py|app/api/v1/test_users\.py|app/schemas/buildable\.py|app/api/v1/users_secure\.py)"'
  language: system
  ...

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check'
  language: system

prettier-admin:
  name: prettier-admin
  entry: bash -c 'cd ui-admin && npx prettier --check'
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint'
  language: system

eslint-admin:
  name: eslint-admin
  entry: bash -c 'cd ui-admin && npx eslint'
  language: system

Add design-token aliases flagged by check_design_tokens.py
  core/design-tokens/tokens.css
Due: none

Require auth on remaining API v1 endpoints
  backend/app/api/v1/agents.py
  backend/app/api/v1/ai.py
  backend/app/api/v1/commercial_property_packs.py
  backend/app/api/v1/compliance.py
  backend/app/api/v1/developers_checklists.py
  backend/app/api/v1/developers_conditions.py
  backend/app/api/v1/developers_gps.py
  backend/app/api/v1/development_phases.py
  backend/app/api/v1/finance_workbook.py
  backend/app/api/v1/geocoding.py
  backend/app/api/v1/market_intelligence.py
  backend/app/api/v1/notifications.py
  backend/app/api/v1/regulatory.py
  backend/app/api/v1/test_users.py
  backend/app/api/v1/users_db.py
  backend/app/api/v1/users_secure.py
Due: pdf-smoke-test, mypy-critical

Add three pre-commit guardrails: design-tokens, auth-required, secrets-scan
  .auth-required-baseline.txt
  .pre-commit-config.yaml
  .secrets-allowlist.txt
  scripts/check_auth_required.py
  scripts/check_secrets.py
Due: none

Add Google Maps API setup verification helper
  scripts/verify_google_maps_setup.py
Due: none

Clear backend type-ignore via narrower types
  backend/app/models/base.py
  backend/app/services/finance/re_metrics.py
  backend/app/services/finance/workbook_exchange.py
  backend/app/services/rules/zone_rules.py
  backend/jobs/parse_cad.py
Due: check-enum-patterns

Exempt _typing helper module from mypy
  backend/app/schemas/_typing.py
  config/type_safety/guardrails.toml
  mypy.ini
Due: mypy-critical

Rename inner parameter_key to avoid loop-variable shadowing
  backend/app/services/rules/official_source_ingestion.py
Due: none

Clear all five react-hooks/exhaustive-deps suppressions
  backend/app/services/agents/ura_integration.py
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/components/agents/widgets/MarketHeatmap.tsx
  frontend/src/components/ai/AIAssistantChat.tsx
  frontend/src/components/ai/AIInsightsPanel.tsx
Due: pdf-smoke-test, check-ui-canon, prettier, eslint

Tighten remaining type seams in dev-potential and gps preview
  backend/app/api/v1/developers_gps.py
  backend/app/services/agents/development_potential_scanner.py
Due: pdf-smoke-test, mypy-critical

Reconcile Technical Debt Radar in all_steps_to_product_completion
  docs/all_steps_to_product_completion.md
Due: check-documentation-whitelist

Narrow finance, report, and audit-service type seams
  backend/app/api/v1/finance_export.py
  backend/app/api/v1/finance_feasibility.py
  backend/app/services/ai/report_generator.py
  backend/app/services/audit_service.py
Due: mypy-critical

Type portfolio_optimizer asset-type bucket dict explicitly
  backend/app/services/ai/portfolio_optimizer.py
Due: none

Retire mypy "511 errors" entry; document gated 0-error state
  docs/all_steps_to_product_completion.md
Due: check-documentation-whitelist

Migrate capture page to Places API (New)
  .design-token-exceptions.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/pages/capture/UnifiedCapturePage.test.tsx
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/styles/gps-capture/core.css
  scripts/verify_google_maps_setup.py
Due: check-ui-canon, prettier, eslint

Address review feedback on Places API migration
  .design-token-exceptions.txt
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/styles/gps-capture/core.css
Due: check-ui-canon, prettier, eslint

Harden API error handling, drop unused notification UI, fix a11y
  .design-token-exceptions.txt
  backend/app/api/v1/agents.py
  backend/app/api/v1/ai.py
  backend/app/api/v1/commercial_property_packs.py
  backend/app/api/v1/development_phases.py
  backend/app/api/v1/feasibility.py
  backend/app/api/v1/market_intelligence.py
  backend/app/api/v1/singapore_properties.py
  backend/app/api/v1/workflow.py
  backend/app/main.py
  backend/app/services/regulatory_service.py
  backend/tests/test_api/test_agents_packs.py
  backend/tests/test_api/test_ai.py
  frontend/src/api/notifications.ts
  frontend/src/app/components/gps-capture/FeatureTogglePanel.tsx
  frontend/src/app/pages/NotFoundPage.tsx
  frontend/src/app/pages/business-performance/components/RoiPanel.tsx
  frontend/src/app/pages/deal-calculator/components/DealInputsForm.tsx
  frontend/src/app/pages/marketing/MarketingPage.tsx
  frontend/src/app/pages/phase-management/PhaseManagementPage.tsx
  frontend/src/app/pages/projects/ProjectHubPage.tsx
  frontend/src/app/pages/projects/ProjectListPage.tsx
  frontend/src/app/pages/regulatory/components/QuickActionsSection.tsx
  frontend/src/app/pages/regulatory/components/SubmissionsTabContent.tsx
  frontend/src/app/pages/why-not-excel/WhyNotExcelPage.tsx
  frontend/src/components/layout/TopNav.tsx
  frontend/src/components/notifications/NotificationBell.tsx
  frontend/src/components/notifications/index.ts
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/main.tsx
  frontend/src/modules/finance/components/AllocationSummaryPanel.tsx
  frontend/src/modules/finance/components/AssetMixTable.tsx
  frontend/src/modules/finance/components/FinanceCapitalStack.tsx
  frontend/src/modules/finance/components/FinanceHeaderControls.tsx
  frontend/src/modules/finance/components/TemplateSelectorCard.tsx
  structlog/processors.py
Due: pdf-smoke-test, check-ui-canon, mypy-critical, prettier, eslint

Slim CLAUDE.md from 2055 to 66 lines
  CLAUDE.md
Due: none

Cut production type:ignore budget 85 -> 65, enforce ratchet
  .coding-rules-exceptions.yml
  backend/app/models/_geometry.py
  backend/app/models/hong_kong_property.py
  backend/app/models/market.py
  backend/app/models/new_zealand_property.py
  backend/app/models/property.py
  backend/app/models/seattle_property.py
  backend/app/models/singapore_property.py
  backend/app/models/toronto_property.py
  backend/app/services/agents/investment_memorandum.py
  backend/app/services/agents/marketing_materials.py
  backend/app/services/heritage_overlay.py
  backend/tests/test_api/test_agents_financial.py
  backend/tests/test_api/test_agents_gps.py
  backend/tests/test_api/test_agents_market.py
  backend/tests/test_api/test_entitlements_api.py
  config/type_safety/guardrails.toml
  docs/all_steps_to_product_completion.md
  scripts/check_type_ignore_budget.py
Due: pdf-smoke-test, check-enum-patterns, check-documentation-whitelist

Drop 9 vendored shim packages; reach for real deps instead
  backend/prefect/__init__.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/yosai_intel_dashboard/src/adapters/api/routes/enhanced_upload_router.py
  eval_type_backport/__init__.py
  geoalchemy2/__init__.py
  geoalchemy2/elements.py
  geoalchemy2/functions.py
  httpx/__init__.py
  importlib/__init__.py
  prefect/__init__.py
  pydantic/__init__.py
  pyproject.toml
  scripts/check_design_tokens.py
  scripts/smoke_test_pdfs.py
Due: pip-audit

Add agent_session lock primitive + canonical coordination doc
  .documentation-whitelist.yaml
  docs/ai-agents/multi_agent_coordination.md
  scripts/agent_session.py
Due: check-documentation-whitelist

MCP.md: add Core Directive 6 (Single-Writer Per Branch)
  MCP.md
Due: none

gitignore .agent-active so the local lock stays out of git
  .gitignore
Due: none

CLAUDE.md: add Rule 6 (single-writer per branch, agent lock)
  CLAUDE.md
Due: none

codex.md: add §7.1 single-writer rule + Codex→Claude handoff flow
  docs/ai-agents/codex.md
Due: check-documentation-whitelist

Restore geoalchemy2 shim — sqlite tests need the TEXT fallback
  geoalchemy2/__init__.py
  geoalchemy2/elements.py
  geoalchemy2/functions.py
Due: none

Merge alembic heads: ref_building_footprints + deal_outcomes_recorded_by
  backend/migrations/versions/069afe97c108_merge_ref_building_footprints_deal_.py
Due: check-migration-enums

Wire agent_session.py check into pre-commit (commit-time enforcement)
  .pre-commit-config.yaml
Due: none

CLAUDE.md: declare reviewer/committer as Claude's default role
  CLAUDE.md
Due: none

codex.md: hoist implementer/reviewer role split to the top
  docs/ai-agents/codex.md
Due: check-documentation-whitelist

Fix PR #320 CI: restore prefect shim, aiosqlite _conn, test alignments
  backend/aiosqlite/__init__.py
  backend/prefect/__init__.py
  prefect/__init__.py
  tests/entitlements/test_rbac.py
  tests/finance/test_api_integration.py
  tests/finance/test_finance_smoke.py
  tests/test_scripts/test_type_ignore_budget.py
Due: none

Fix core/canonical_models.py import order ruff missed locally
  core/canonical_models.py
Due: none

Drop obsolete httpx/pydantic mypy allowlist entries
  backend/app/api/v1/screen.py
  backend/pyproject.toml
  config/type_safety/guardrails.toml
  docs/all_steps_to_product_completion.md
  mypy.ini
Due: check-documentation-whitelist, mypy-critical

Cap sqlalchemy at 2.0.35 (prefect 2.20.25 ceiling)
  backend/requirements.txt
Due: pip-audit

ui_scorecard: preserve hand-written sections across re-runs
  docs/ui_upgrade_scorecard.md
  scripts/ui_scorecard.py
Due: check-documentation-whitelist

db: harden schema and add core ML primitives
  backend/app/models/__init__.py
  backend/app/models/_vector.py
  backend/app/models/ai_agents.py
  backend/app/models/entity_history.py
  backend/app/models/finance.py
  backend/app/models/imports.py
  backend/app/models/mixins.py
  backend/app/models/organization.py
  backend/app/models/overlay.py
  backend/app/models/predictions.py
  backend/app/models/projects.py
  backend/app/models/property.py
  backend/app/models/users.py
  backend/migrations/versions/20260518_000042_db_hardening_ml_readiness.py
  scripts/ui_scorecard.py
Due: check-migration-enums, check-enum-patterns

telemetry: capture behavioral events and search intent (PR1)
  backend/app/api/v1/__init__.py
  backend/app/api/v1/events.py
  backend/app/models/__init__.py
  backend/app/models/events.py
  backend/migrations/versions/20260518_000043_user_events_search_queries.py
  frontend/src/components/layout/Shell.tsx
  frontend/src/hooks/usePageViewTelemetry.ts
  frontend/src/services/telemetry/telemetry.ts
Due: check-migration-enums, check-enum-patterns, check-ui-canon, mypy-critical, prettier, eslint

telemetry: decision provenance and document corpus (PR2)
  backend/app/api/v1/__init__.py
  backend/app/api/v1/decisions.py
  backend/app/api/v1/documents.py
  backend/app/models/__init__.py
  backend/app/models/decisions.py
  backend/app/models/documents.py
  backend/migrations/versions/20260518_000044_decisions_documents.py
  frontend/src/services/telemetry/decisions.ts
Due: check-migration-enums, check-enum-patterns, mypy-critical, prettier, eslint

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/
