Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, prettier-admin, eslint, eslint-admin

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: audit-migrations
      name: audit-migrations
      entry: python3 scripts/audit_migrations.py
      language: system
      pass_filenames: false

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
    - id: check-merge-conflict

- repo: https://github.com/psf/black
  rev: 24.8.0  # MUST match requirements.txt and requirements-dev.txt
  hooks:
    - id: black
      args: ["--line-length=88"]
      files: ^(backend|app|core|db|jurisdictions|scripts|tests|uvicorn_app|prefect|jobs|samples)/

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
    - id: ruff
      args: ["--fix"]
      files: ^(backend|app|core|db|jurisdictions|scripts|tests|uvicorn_app|prefect|jobs|samples)/

- repo: https://github.com/PyCQA/flake8
  rev: 7.1.1
  hooks:
    - id: flake8
      additional_dependencies: [flake8-bugbear==24.8.19]
      files: ^(backend/tests|tests)/

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.7.1
  hooks:
    - id: mypy
      name: mypy-backend
      files: ^backend/
      args: [--config-file=mypy.ini]
      pass_filenames: false
      additional_dependencies:
        - fastapi==0.104.1
        - uvicorn[standard]==0.24.0
        - pydantic[email]==2.5.0
        - pydantic==2.5.0
        - sqlalchemy[asyncio]==2.0.23
        - asyncpg==0.29.0
        - alembic==1.13.0
        - python-multipart==0.0.6
        - python-jose[cryptography]==3.3.0
        - passlib[bcrypt]==1.7.4
        - httpx==0.25.2
        - python-dateutil==2.8.2
        - prefect==2.14.10
        - structlog==23.2.0
        - prometheus-client==0.19.0

- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: bash -c 'cd frontend && npx prettier --check'
      language: system
      files: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$
      exclude: ^frontend/node_modules/
    - id: prettier-admin
      name: prettier-admin
      entry: bash -c 'cd ui-admin && npx prettier --check'
      language: system
      files: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$
      exclude: ^ui-admin/node_modules/

- repo: local
  hooks:
    - id: eslint
      name: eslint
      entry: bash -c 'cd frontend && npx eslint'
      language: system
      files: ^frontend/.*\.(js|jsx|ts|tsx)$
      exclude: ^frontend/node_modules/
    - id: eslint-admin
      name: eslint-admin
      entry: bash -c 'cd ui-admin && npx eslint'
      language: system
      files: ^ui-admin/.*\.(js|jsx|ts|tsx)$
      exclude: ^ui-admin/node_modules/

# Temporarily disabled due to SSL certificate issues
# - repo: https://github.com/gitleaks/gitleaks
#   rev: v8.18.4
#   hooks:
#     - id: gitleaks
#       args: ["protect", "--verbose", "--redact", "--staged"]

fix: remove shadow directory stubs and implement Rule 13.1 protection
  .coveragerc
  .pre-commit-config.yaml
  CODING_RULES.md
  backend/pydantic/__init__.py
  backend/pytest_cov/__init__.py
  backend/sqlalchemy/__init__.py
  backend/tests/test_api/test_agent_advisory.py
  backend/tests/test_utils/test_logging.py
  backend/tests/test_utils/test_metrics.py
  backend/tests/test_utils/test_render.py
  backend/tests/unit/test_api_deps.py
  backend/tests/unit/test_utils_metrics.py
  docs/phase2b_delivery_audit.md
  mako_stub_1758768476/__init__.py
  mako_stub_1758768476/exceptions.py
  mako_stub_1758768476/template.py
  pydantic_shadow_1758771277/__init__.py
  pydantic_shadow_1758771277/version.py
  pytest_cov_backup/__init__.py
  scripts/check_shadow_directories.py
  sqlalchemy/__init__.py
  sqlalchemy/dialects/__init__.py
  sqlalchemy/ext/asyncio.py
  sqlalchemy/orm/__init__.py
  sqlalchemy/util/__init__.py
Due: none

docs: update coverage baseline and add feature completion rules
  CODING_RULES.md
  PRE_PHASE_2D_INFRASTRUCTURE_AUDIT.MD
Due: none

test: enable preview_jobs tests, improve coverage to 55.96%
  PRE_PHASE_2D_INFRASTRUCTURE_AUDIT.MD
  backend/tests/test_services/test_preview_jobs.py
  docs/audits/coverage_opportunities.md
Due: none

docs: add third-party audit guide with coverage measurement commands
  docs/audits/THIRD_PARTY_AUDIT_GUIDE.md
Due: none

fix: make test-cov now works correctly with all enabled tests
  Makefile
  PRE_PHASE_2D_INFRASTRUCTURE_AUDIT.MD
  docs/audits/THIRD_PARTY_AUDIT_GUIDE.md
Due: none

fix(phase2b): add router parameterization and static proxy for preview viewer
  docs/phase2b_manual_qa_results.md
  frontend/src/router.tsx
  frontend/vite.config.ts
Due: prettier, eslint

fix: resolve ESLint and migration audit errors in Phase 2B files
  backend/migrations/versions/20251104_000021_add_preview_metadata_url.py
  frontend/src/app/pages/site-acquisition/DeveloperPreviewStandalone.tsx
Due: prettier, eslint

fix: resolve ruff linting errors (zip strict= and line length)
  backend/app/services/preview_generator.py
  scripts/check_coding_rules.py
Due: none

feat(phase2b): implement GLTF preview generation pipeline
  backend/app/api/v1/developers.py
  backend/app/main.py
  backend/app/models/preview.py
  backend/app/services/developer_checklist_service.py
  backend/app/services/preview_jobs.py
  backend/app/utils/metrics.py
  backend/jobs/preview_generate.py
  backend/scripts/preview.py
  backend/tests/test_api/test_developer_checklist_templates.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_api/test_finance_asset_breakdown.py
  backend/tests/test_services/test_preview_generator.py
Due: none

feat(phase2b): add 3D preview viewer and site acquisition UI integration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/components/site-acquisition/Preview3DViewer.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  static
Due: prettier, eslint

docs(phase2b): update delivery audit, roadmap, and coding rules
  CODING_RULES.md
  coverage.json
  docs/PHASE2B_VISUALISATION_STUB.MD
  docs/ROADMAP.MD
  docs/WORK_QUEUE.MD
  docs/audits/coverage_opportunities.md
  docs/development/AI_AGENT_ENFORCEMENT_GUIDE.md
  docs/observability/preview_generation_monitoring.md
  docs/phase2b_delivery_audit.md
Due: none

fix: restore skip markers to stabilize test baseline at 61.78%
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_api/test_finance_asset_breakdown.py
  backend/tests/test_services/test_preview_jobs.py
Due: none

fix: refactor market_demo_data fixture to prevent test pollution
  backend/migrations/versions/20251104_000022_fix_propertytype_enum.py
  backend/migrations/versions/20251104_000023_add_property_checklist_professional_fields.py
  backend/tests/conftest.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_api/test_finance_asset_breakdown.py
  backend/tests/test_services/test_preview_jobs.py
  coverage_new.json
  docs/PHASE2B_VISUALISATION_STUB.MD
  docs/WORK_QUEUE.MD
  docs/phase2b_delivery_audit.md
  infra/observability/grafana/phase2b_preview_dashboard.json
  infra/observability/prometheus/preview_generation.rules.yml
Due: none

test: improve postgis.py coverage from 77% to 93%
  backend/tests/services/test_postgis_service.py
Due: none

test: improve coverage for standards, products, and reference_sources
  backend/tests/services/test_products_service.py
  backend/tests/services/test_reference_sources.py
  backend/tests/services/test_standards_service.py
Due: none

test: improve coverage for geocoding, storage, and heritage_overlay (batch 2)
  backend/tests/services/test_geocoding_service.py
  backend/tests/services/test_heritage_overlay_service.py
  backend/tests/services/test_storage_service.py
Due: none

test: add comprehensive tests for deals/utils.py (100% coverage)
  backend/tests/test_services/test_deals_utils.py
Due: none

test: expand coverage to 81% (ingestion flows, Singapore property, market analytics)
  backend/tests/flows/test_ingestion_flows.py
  backend/tests/services/test_market_data_service.py
  backend/tests/test_api/test_singapore_property_api.py
  coverage_summary.txt
Due: none

chore: code formatting and cleanup (pre-commit fixes)
  backend/app/services/finance/asset_models.py
  backend/tests/test_api/test_developer_condition_report.py
  backend/tests/test_api/test_imports.py
  backend/tests/test_api/test_performance.py
  backend/tests/test_api/test_roi.py
  backend/tests/test_migrations/conftest.py
  backend/tests/unit/test_utils_logging.py
  backend/tests/unit/test_utils_render.py
  docs/phase2c_finance_delivery_plan.md
  docs/validation/live_testing_guide.md
  frontend/src/index.css
  frontend/src/modules/finance/FinanceWorkspace.tsx
  sitecustomize.py
Due: prettier, eslint

docs: add comprehensive AI agent guide and enhance coding rules with examples
  CLAUDE.md
  CODING_RULES.md
  docs/ai-agents/claude.md
Due: none

chore: add npm convenience scripts for frontend commands
  frontend/package.json
  package.json
Due: prettier

fix(frontend): resolve 55 of 58 TypeScript type errors (95% reduction)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/agents.ts
  frontend/src/api/deals.ts
  frontend/src/api/finance.ts
  frontend/src/api/performance.ts
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/site-acquisition/ChecklistTemplateManager.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/components/agents/MarketIntelligenceDashboard.tsx
  frontend/src/components/agents/widgets/MarketCycleIndicator.tsx
  frontend/src/modules/cad/CadDetectionPreview.stories.tsx
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/pages/AgentsGpsCapturePage.tsx
  frontend/tsconfig.json
Due: prettier, eslint

fix(frontend): resolve all remaining TypeScript type errors (58 → 0)
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/business-performance/components/AnalyticsPanel.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/components/agents/widgets/PipelineTimelineWidget.tsx
  frontend/src/services/analytics/advancedAnalytics.ts
Due: prettier, eslint

feat(makefile): add comprehensive development workflow enhancements
  Makefile
Due: none

docs: add manual QA checklists for phases 1A-1C, 2C and update phase 1D
  docs/development/testing/phase-1a-manual-qa-checklist.md
  docs/development/testing/phase-1b-manual-qa-checklist.md
  docs/development/testing/phase-1c-manual-qa-checklist.md
  docs/development/testing/phase-1d-manual-qa-checklist.md
  docs/development/testing/phase-2c-manual-qa-checklist.md
Due: none

fix: achieve 86% test coverage by optimizing coverage scope
  .coveragerc
  backend/tests/test_api/test_test_users_api.py
  coverage.json
Due: none

test: add API tests for products and standards endpoints
  backend/tests/test_api/test_products_api.py
  backend/tests/test_api/test_standards_api.py
Due: none

fix: correct SQLAlchemy enum serialization in property and entitlements models
  backend/app/models/entitlements.py
  backend/app/models/property.py
Due: none

fix: add values_callable to remaining enum columns across 5 model files
  backend/app/models/ai_agents.py
  backend/app/models/developer_checklists.py
  backend/app/models/market.py
  backend/app/models/projects.py
  backend/app/models/users.py
Due: none

feat: add automated enforcement for SQLAlchemy enum values_callable
  .pre-commit-config.yaml
  CODING_RULES.md
  ENUM_MISMATCH_ANALYSIS.md
  backend/scripts/check_enum_patterns.py
Due: none

fix: implement inline job execution for preview generation
  backend/app/core/config.py
  backend/app/services/geocoding.py
  backend/app/services/preview_jobs.py
  frontend/vite.config.ts
Due: prettier, eslint

test: add automated integration tests for preview job execution
  .github/workflows/ci.yml
  backend/tests/test_integration/test_preview_job_integration.py
  docs/AUTOMATED_TESTING.md
Due: none

docs: complete Phase 2B manual QA with comprehensive test results
  docs/phase2b_manual_qa_results.md
Due: none

docs: complete Phase 2B manual QA with layer stacking verification
  docs/phase2b_manual_qa_results.md
Due: none

docs: add RQ async verification test results for Phase 2B
  backend/app/services/preview_generator.py
  docs/PHASE2B_VISUALISATION_STUB.MD
  docs/phase2b_manual_qa_results.md
Due: none

feat(phase2b): add Prometheus/Grafana observability stack for preview generation
  backend/app/services/preview_generator.py
  backend/scripts/run_smokes.py
  docs/PHASE2B_VISUALISATION_STUB.MD
  docs/observability/preview_generation_monitoring.md
  infra/observability/docker-compose.yml
  infra/observability/grafana/dashboards/phase2b_preview_dashboard.json
  infra/observability/grafana/provisioning/dashboards/preview.yaml
  infra/observability/grafana/provisioning/datasources/prometheus.yaml
  infra/observability/prometheus/preview_generation.rules.yml
  infra/observability/prometheus/prometheus.yml
Due: none

feat(phase2c): add finance API privacy enforcement and observability
  backend/app/api/v1/finance.py
  backend/app/core/config.py
  backend/app/schemas/finance.py
  backend/app/utils/metrics.py
  backend/scripts/finance_run_scenario.py
  backend/tests/test_api/test_finance_asset_breakdown.py
  backend/tests/test_api/test_finance_helpers.py
  backend/tests/test_api/test_finance_metrics.py
  backend/tests/test_api/test_finance_project_scope.py
  docs/WORK_QUEUE.MD
  docs/phase2c_finance_delivery_plan.md
  tests/finance/test_api_integration.py
  tests/finance/test_finance_smoke.py
Due: none

test(frontend): migrate from Node test runner to Vitest
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  scripts/migrate-tests-to-vitest.sh
  scripts/run-frontend-tests.mjs
Due: prettier, eslint
