Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, prettier-admin, eslint, eslint-admin

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check'
  language: system

prettier-admin:
  name: prettier-admin
  entry: bash -c 'cd ui-admin && npx prettier --check'
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint'
  language: system

eslint-admin:
  name: eslint-admin
  entry: bash -c 'cd ui-admin && npx eslint'
  language: system

refactor(frontend): create shared API utilities and migrate deals.ts
  frontend/src/api/deals.ts
  frontend/src/api/utils/baseUrl.ts
  frontend/src/api/utils/errors.ts
  frontend/src/api/utils/index.ts
  frontend/src/api/utils/mappers.ts
  frontend/src/api/utils/request.ts
Due: prettier, eslint

docs: add updated spec v2 feature backlog to roadmap
  docs/all_steps_to_product_completion.md
  docs/planning/features.md
Due: none

docs: add spec line references and completion entry for 32-feature integration
  docs/all_steps_to_product_completion.md
Due: none

refactor(backend): split developers.py into domain-focused modules
  backend/app/api/v1/developers.py
  backend/app/api/v1/developers_checklists.py
  backend/app/api/v1/developers_common.py
  backend/app/api/v1/developers_conditions.py
  backend/app/api/v1/developers_gps.py
Due: none

docs: update phase statuses to reflect v1/v2 distinction
  docs/all_steps_to_product_completion.md
Due: none

docs: mark multi-jurisdiction features as implemented
  docs/all_steps_to_product_completion.md
Due: none

feat(phase1a): implement accuracy bands display (±8-15% by asset class)
  backend/app/services/agents/gps_property_logger.py
  docs/all_steps_to_product_completion.md
  frontend/src/api/agents.ts
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/styles/gps-capture.css
Due: prettier, eslint

fix(phase1a): fix accuracy bands display for all scenarios
  backend/app/services/agents/gps_property_logger.py
  frontend/src/api/agents.ts
Due: prettier, eslint

refactor(site-acquisition): extract preview layer components (1,455 → 928 lines)
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/ColorLegendEditor.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/LayerBreakdownCards.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PreviewLayersTable.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/index.ts
Due: prettier, eslint

feat(phase1a): complete v2 features - voice notes and image watermarks
  backend/app/api/v1/agents.py
  backend/app/models/property.py
  backend/app/services/agents/image_watermark.py
  backend/app/services/agents/photo_documentation.py
  backend/app/services/agents/voice_note_service.py
  backend/migrations/versions/20251129_000026_add_voice_notes_table.py
  docs/all_steps_to_product_completion.md
  frontend/src/app/pages/site-acquisition/components/capture-form/PropertyCaptureForm.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/VoiceNoteRecorder.tsx
Due: prettier, eslint

refactor(frontend): extract ConditionAssessmentSection card components
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/InsightCard.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ManualInspectionControls.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/OverallAssessmentCard.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ScenarioComparisonCard.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/SystemRatingCard.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/index.ts
  frontend/src/app/pages/site-acquisition/utils/index.ts
  frontend/src/app/pages/site-acquisition/utils/insights.ts
Due: prettier, eslint

fix(frontend): resolve TypeScript errors and add voice notes list component
  backend/app/models/property.py
  backend/migrations/versions/4f0afb00724b_merge_voice_notes_head.py
  backend/migrations/versions/f64ee42f9736_add_timezone_to_voice_notes_capture_date.py
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/site-acquisition/DeveloperPreviewStandalone.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/InspectionHistorySummary.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/PropertyCaptureForm.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/VoiceNoteList.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/VoiceNoteRecorder.tsx
  frontend/src/app/pages/site-acquisition/components/scenario-focus/ScenarioFocusSection.tsx
  frontend/src/app/pages/site-acquisition/hooks/useConditionAssessment.ts
  frontend/src/app/pages/site-acquisition/hooks/usePreviewJob.ts
  frontend/src/app/pages/site-acquisition/hooks/useScenarioComparison.ts
  frontend/src/app/pages/site-acquisition/previewMetadata.ts
  frontend/src/app/pages/site-acquisition/types.ts
  frontend/src/app/pages/site-acquisition/utils/cardBuilders.ts
  frontend/src/app/pages/site-acquisition/utils/signals.ts
  frontend/src/hooks/useFeaturePreferences.ts
  frontend/src/pages/AgentsGpsCapturePage.tsx
  frontend/src/styles/finance.css
  frontend/src/styles/finance/capital-advisory.css
  frontend/src/styles/finance/core.css
  frontend/src/styles/finance/modals-actions.css
  frontend/src/styles/finance/sensitivity.css
  frontend/src/styles/gps-capture.css
  frontend/src/styles/gps-capture/core.css
  frontend/src/styles/gps-capture/feature-cards.css
  frontend/src/styles/gps-capture/placeholders.css
  frontend/src/styles/gps-capture/template-manager.css
Due: prettier, eslint

refactor(frontend): extract shared API utilities into shared/ folder
  frontend/src/api/agents.ts
  frontend/src/api/finance.ts
  frontend/src/api/shared/coercion.ts
  frontend/src/api/shared/index.ts
  frontend/src/api/shared/urlBuilder.ts
  frontend/src/api/siteAcquisition.ts
Due: prettier, eslint

feat(photo-docs): add photo documentation with feature toggle support
  backend/app/api/v1/agents.py
  backend/app/services/agents/image_watermark.py
  backend/app/services/agents/photo_documentation.py
  frontend/src/app/components/gps-capture/FeatureTogglePanel.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/photos/PhotoCapture.tsx
  frontend/src/app/pages/site-acquisition/components/photos/PhotoDocumentation.tsx
  frontend/src/app/pages/site-acquisition/components/photos/PhotoGallery.tsx
  frontend/src/app/pages/site-acquisition/components/photos/index.ts
  frontend/src/hooks/useFeaturePreferences.ts
Due: prettier, eslint

docs: mark Phase 1A v2 watermarks feature as complete in backlog
  docs/all_steps_to_product_completion.md
Due: none

feat(advisory): add sales velocity and advisory insights components
  backend/app/api/v1/agents.py
  backend/app/api/v1/projects_api.py
  backend/app/api/v1/screen.py
  backend/app/api/v1/users_db.py
  backend/app/services/agents/advisory.py
  backend/pyproject.toml
  frontend/src/api/advisory.ts
  frontend/src/app/pages/advisory/AdvisoryPage.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/advisory/SalesVelocityCard.tsx
Due: prettier, eslint

feat: add RAG intelligence, Yosai shell, and feasibility loop
  Makefile
  backend/app/api/v1/advanced_intelligence.py
  backend/app/api/v1/feasibility.py
  backend/app/core/rag.py
  backend/app/services/intelligence.py
  backend/requirements.txt
  backend/scripts/ingest_seattle_zones.py
  backend/tests/test_services/test_intelligence.py
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/app/layout/AppShell.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/main.tsx
  frontend/src/modules/cad/CadDetectionPreview.tsx
  frontend/src/modules/cad/RoiSummary.tsx
  frontend/src/modules/cad/useFeasibilityLoop.ts
  frontend/src/router.tsx
  frontend/src/theme/ThemeContext.tsx
  frontend/src/theme/ThemeToggle.tsx
  frontend/src/theme/YosaiThemeProvider.tsx
  frontend/src/theme/index.ts
  frontend/src/theme/tokens.ts
  frontend/src/theme/yosaiTheme.ts
  jurisdictions/base_fetchers.py
  ui-admin/index.html
  ui-admin/package-lock.json
  ui-admin/package.json
  ui-admin/src/main.tsx
Due: prettier, prettier-admin, eslint, eslint-admin

Logs
  commit_log.txt
  current_branch.txt
  git_status.txt
  quick_check_log.txt
  quick_check_log_2.txt
  quick_check_log_3.txt
  terminal_debug.txt
Due: none

Update YosaiShell.tsx
  frontend/src/components/layout/YosaiShell.tsx
Due: prettier, eslint

refactor(frontend): add base layout components and update shell
  frontend/src/app/layout/BaseLayout.tsx
  frontend/src/app/layout/BaseLayoutContext.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/components/layout/YosaiSidebar.tsx
  frontend/src/main.tsx
  frontend/src/router.tsx
Due: prettier, eslint

feat(frontend): add skeleton loader and update feasibility components
  Makefile
  core/design-tokens/index.ts
  core/design-tokens/tokens.css
  frontend/src/App.tsx
  frontend/src/components/feedback/SkeletonLoader.tsx
  frontend/src/components/layout/YosaiSidebar.tsx
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/feasibility/components/AddressForm.tsx
  frontend/src/modules/feasibility/components/ResultsPanel.tsx
  frontend/src/styles/feasibility.css
Due: prettier, eslint

fix(frontend): update feasibility wizard and formatters
  .ui-canon-exceptions.yml
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/feasibility/utils/formatters.ts
  frontend/src/styles/feasibility.css
Due: prettier, eslint

feat: Feasibility Wizard V2 & Production Readiness (Staged & Optimized)
  README.md
  frontend/src/api/buildable.ts
  frontend/src/api/feasibility.ts
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/business-performance/components/AnalyticsPanel.tsx
  frontend/src/app/pages/business-performance/components/RoiPanel.tsx
  frontend/src/config.ts
  frontend/src/i18n/locales/en.json
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/feasibility/__tests__/FeasibilityWizard.test.tsx
  frontend/src/modules/feasibility/components/AIAssistantSidebar.tsx
  frontend/src/modules/feasibility/components/AssumptionsPanel.tsx
  frontend/src/modules/feasibility/components/FeasibilityLayout.tsx
  frontend/src/modules/feasibility/components/FinancialSettingsPanel.tsx
  frontend/src/modules/feasibility/components/GenerativeDesignPanel.tsx
  frontend/src/modules/feasibility/components/MetricsView.tsx
  frontend/src/modules/feasibility/components/PackGenerationPanel.tsx
  frontend/src/modules/feasibility/components/PackGrid.tsx
  frontend/src/modules/feasibility/components/ResultsPanel.tsx
  frontend/src/modules/feasibility/components/ScenarioFAB.tsx
  frontend/src/modules/feasibility/components/ScenarioHistorySidebar.tsx
  frontend/src/modules/feasibility/components/SmartSearchBar.tsx
  frontend/src/modules/feasibility/components/index.ts
  frontend/src/modules/feasibility/hooks/index.ts
  frontend/src/modules/feasibility/hooks/useAIAssistant.ts
  frontend/src/modules/feasibility/hooks/useAssumptions.ts
  frontend/src/modules/feasibility/hooks/useFeasibilityCompute.ts
  frontend/src/modules/feasibility/hooks/useFinancials.ts
  frontend/src/modules/feasibility/types/index.ts
  frontend/src/styles/feasibility.css
  frontend/src/styles/index.css
  frontend/src/test/setup.ts
  frontend/src/theme/theme.ts
  frontend/vite.config.ts
Due: prettier, eslint

Update Makefile
  Makefile
Due: none

feat: Phase 2E team/workflow API tests and router fixes
  backend/app/api/v1/team.py
  backend/app/api/v1/workflow.py
  backend/app/models/team.py
  backend/app/utils/logging.py
  backend/app/utils/security.py
  backend/tests/test_api/test_team.py
  backend/tests/test_api/test_workflow.py
  frontend/src/components/layout/YosaiSidebar.tsx
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/feasibility/components/AssumptionsPanel.tsx
  frontend/src/modules/feasibility/components/FeasibilityLayout.tsx
  frontend/src/modules/feasibility/components/FinancialSettingsPanel.tsx
  frontend/src/modules/feasibility/components/GenerativeDesignPanel.tsx
  frontend/src/modules/feasibility/components/ImmersiveMap.tsx
  frontend/src/modules/feasibility/components/LiveScorecard.tsx
  frontend/src/modules/feasibility/components/index.ts
Due: prettier, eslint

feat: Feasibility Workspace UI polish and "Wow" factors
  frontend/src/components/layout/YosaiSidebar.tsx
  frontend/src/modules/feasibility/components/AssumptionsPanel.tsx
  frontend/src/modules/feasibility/components/FinancialSettingsPanel.tsx
  frontend/src/modules/feasibility/components/GenerativeDesignPanel.tsx
  frontend/src/modules/feasibility/components/ImmersiveMap.tsx
  frontend/src/modules/feasibility/components/LiveScorecard.tsx
Due: prettier, eslint

Update all_steps_to_product_completion.md
  docs/all_steps_to_product_completion.md
Due: none

fix(frontend): resolve URL SyntaxError and ESLint errors in ApiClient
  frontend/src/api/client.ts
Due: prettier, eslint

fix(frontend): handle invalid JSON responses in ApiClient
  frontend/src/api/client.ts
Due: prettier, eslint

fix(cad): resolve detection page display and layout issues
  frontend/src/modules/cad/CadDetectionPreview.tsx
  frontend/src/pages/CadDetectionPage.tsx
  frontend/src/pages/CadPipelinesPage.tsx
  frontend/src/pages/CadUploadPage.tsx
  samples/flat_two_bed.dxf
Due: prettier, eslint

feat: add notification system and regulatory/team components
  backend/app/api/v1/notifications.py
  backend/app/models/notification.py
  backend/app/schemas/notification.py
  backend/app/services/notification/__init__.py
  backend/app/services/notification/email_service.py
  backend/app/services/notification/notification_service.py
  backend/migrations/versions/20251208_000038_add_notification_tables.py
  frontend/src/api/notifications.ts
  frontend/src/api/regulatory.ts
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/regulatory/components/ChangeOfUseWizard.tsx
  frontend/src/app/pages/regulatory/components/CompliancePathTimeline.tsx
  frontend/src/app/pages/regulatory/components/HeritageSubmissionForm.tsx
  frontend/src/app/pages/regulatory/components/index.ts
  frontend/src/app/pages/team/components/ProjectProgressDashboard.tsx
  frontend/src/app/pages/team/components/WorkflowDashboard.tsx
  frontend/src/components/notifications/NotificationBell.tsx
  frontend/src/components/notifications/index.ts
  frontend/src/contexts/NotificationContext.tsx
Due: prettier, eslint

feat(security): add production security hardening
  .documentation-whitelist.yaml
  .env.example
  backend/app/core/auth/service.py
  backend/app/main.py
  backend/app/services/minio_service.py
  backend/app/utils/security.py
  docs/SECURITY.md
Due: none

Add expanded persona playbooks and whitelist; guard recent migrations
  .documentation-whitelist.yaml
  AGENTS.md
  MCP.md
  backend/migrations/versions/20251207_000037_add_fin_scenarios_missing_columns.py
  backend/migrations/versions/20251208_000038_add_notification_tables.py
  docs/ai-agents/README.md
  docs/ai-agents/accessibility_specialist.md
  docs/ai-agents/architect.md
  docs/ai-agents/cost_optimization_engineer.md
  docs/ai-agents/data_governance_steward.md
  docs/ai-agents/data_quality_analyst.md
  docs/ai-agents/devops_engineer.md
  docs/ai-agents/finance_underwriting_specialist.md
  docs/ai-agents/geospatial_specialist.md
  docs/ai-agents/incident_commander.md
  docs/ai-agents/legal_regulatory_analyst.md
  docs/ai-agents/localization_content_strategist.md
  docs/ai-agents/observability_sre_engineer.md
  docs/ai-agents/performance_engineer.md
  docs/ai-agents/privacy_compliance_officer.md
  docs/ai-agents/product_owner.md
  docs/ai-agents/qa_engineer.md
  docs/ai-agents/release_manager.md
  docs/ai-agents/security_engineer.md
  docs/ai-agents/support_success_advocate.md
  docs/ai-agents/sustainability_esg_analyst.md
  docs/ai-agents/tech_lead.md
  docs/ai-agents/training_enablement_lead.md
  docs/ai-agents/ui_ux_designer.md
Due: none

Enhance persona playbooks and whitelist coverage
  .documentation-whitelist.yaml
  docs/ai-agents/README.md
  docs/ai-agents/_TEMPLATE.md
  docs/ai-agents/data_scientist.md
  docs/ai-agents/documentation_specialist.md
  docs/ai-agents/domain_expert.md
Due: none

refactor(layout): canonicalize spacing with tokenized 16px padding
  core/design-tokens/tokens.css
  frontend/src/app/layout/AppShell.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/components/layout/YosaiSidebar.tsx
  frontend/src/styles/agent-performance.css
  frontend/src/styles/agents-capture.css
  frontend/src/styles/business-performance.css
  frontend/src/styles/cad.css
  frontend/src/styles/core.css
  frontend/src/styles/developer-preview.css
  frontend/src/styles/feasibility.css
  frontend/src/styles/finance/core.css
  frontend/src/styles/glass.css
  frontend/src/styles/gps-capture/core.css
  frontend/src/styles/gps-capture/template-manager.css
  frontend/src/styles/page-layout.css
  frontend/src/styles/phase-management.css
  frontend/src/styles/site-acquisition.css
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/
