Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/

feat(ui): refine project hub navigation and topnav branding
  backend/app/api/v1/projects_api.py
  frontend/src/api/projects.ts
  frontend/src/app/navigation.ts
  frontend/src/app/pages/projects/ProjectHubPage.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
Due: check-ui-canon, mypy-critical, prettier, eslint

feat(ui): update side navigation and frontend utilities
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/utils/errors.ts
  frontend/src/api/utils/request.ts
  frontend/src/components/layout/YosaiSidebar.tsx
  frontend/vite.config.ts
Due: check-ui-canon, prettier, eslint

feat(backend): enhance development potential scanner logic
  backend/app/services/agents/development_potential_scanner.py
  backend/tests/services/test_development_potential_scanner.py
Due: pdf-smoke-test

fix(db): remove invalid teams table FK reference from ai_configs
  backend/app/models/ai_config.py
  backend/migrations/versions/20260117_000040_add_ai_config_tables.py
Due: check-migration-enums, check-enum-patterns

fix: resolve code quality violations for pre-push checks
  backend/app/api/v1/projects_api.py
  backend/app/core/secrets.py
  backend/jobs/parse_cad.py
  backend/tests/services/test_development_potential_scanner.py
Due: mypy-critical

Upgrade Vite/Storybook and add react-leaflet patch
  frontend/package-lock.json
  frontend/package.json
  frontend/patches/react-leaflet+5.0.0.patch
  frontend/scripts/run-e2e.cjs
  frontend/vite.config.ts
  frontend/vitest.capture.config.ts
  frontend/vitest.config.ts
Due: prettier, eslint

docs: document type ignore justifications and update technical debt tracker
  backend/app/core/auth/service.py
  backend/app/models/hong_kong_property.py
  backend/app/models/market.py
  backend/app/models/new_zealand_property.py
  backend/app/models/property.py
  backend/app/models/seattle_property.py
  backend/app/models/singapore_property.py
  backend/app/models/toronto_property.py
  backend/app/services/team/team_service.py
  backend/app/utils/encryption.py
  docs/TECHNICAL_DEBT.md
Due: check-enum-patterns, check-documentation-whitelist

feat: enhance developer GPS, capture workflow, and feasibility UI
  backend/app/api/v1/agents.py
  backend/app/api/v1/developers_checklists.py
  backend/app/api/v1/developers_gps.py
  backend/app/services/agents/gps_property_logger.py
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/site-acquisition/components/checklist/DueDiligenceChecklistSection.tsx
  frontend/src/app/pages/site-acquisition/hooks/useChecklist.ts
  frontend/src/modules/feasibility/components/FeasibilityLayout.tsx
  frontend/src/styles/feasibility.css
Due: pdf-smoke-test, check-ui-canon, mypy-critical, prettier, eslint

Add canonical agent memory runner and enforce in pre-push/CI
  .documentation-whitelist.yaml
  .git-hooks/pre-push
  .github/workflows/ci.yml
  CLAUDE.md
  MCP.md
  Makefile
  docs/ai-agents/codex.md
  docs/ai/AGENT_MEMORY.md
  scripts/agents/__init__.py
  scripts/agents/runner.py
  tests/test_scripts/test_agent_runner.py
  tests/test_scripts/test_agent_runner_enforcement.py
Due: check-documentation-whitelist

Fix test warning noise and modernize Pydantic/async fixtures
  backend/app/api/v1/singapore_property.py
  backend/app/api/v1/users_db.py
  backend/app/schemas/buildable.py
  backend/app/schemas/finance.py
  backend/app/schemas/rulesets.py
  backend/app/schemas/security.py
  backend/app/schemas/team.py
  backend/app/schemas/workflow.py
  backend/app/services/integrations/edgeprop.py
  backend/app/services/integrations/propertyguru.py
  backend/app/services/integrations/zoho.py
  backend/app/utils/logging.py
  backend/app/utils/security.py
  backend/scripts/seed_finance_demo.py
  conftest.py
  frontend/src/api/__tests__/agents.test.ts
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/app/pages/regulatory/__tests__/RegulatoryDashboardPage.test.tsx
  frontend/src/app/pages/regulatory/components/__tests__/CompliancePathTimeline.test.tsx
  frontend/src/app/pages/team/__tests__/TeamManagementPage.test.tsx
  frontend/src/app/pages/team/components/__tests__/WorkflowDashboard.test.tsx
  frontend/src/modules/finance/components/__tests__/FinanceStackAndDrawdown.test.tsx
  frontend/src/pages/__tests__/AgentAdvisoryPage.test.tsx
  infra/helm/optimal-build/charts/postgresql/Chart.yaml
  infra/helm/optimal-build/charts/postgresql/values.yaml
  infra/helm/optimal-build/charts/redis/Chart.yaml
  infra/helm/optimal-build/charts/redis/values.yaml
  tests/conftest.py
  tests/finance/test_api_integration.py
  tests/finance/test_finance_smoke.py
  unit_tests/test_overlay_missing_metric.py
  unit_tests/test_users_routes.py
Due: check-ui-canon, mypy-critical, prettier, eslint

chore: commit remaining workspace files
  .devstack/pre-commit-cache/.lock
  .devstack/pre-commit-cache/README
  metrics/agent_memory.jsonl
  metrics/agent_runs.jsonl
  scripts/agents/runner.py
  tests/test_scripts/test_agent_runner_intelligence.py
Due: none

feat(agent-memory): upgrade semantic retrieval, governance, and dashboard
  .git-hooks/pre-push
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  docs/ai-agents/codex.md
  docs/ai/AGENT_MEMORY.md
  scripts/agents/runner.py
  tests/test_scripts/test_agent_runner.py
  tests/test_scripts/test_agent_runner_intelligence.py
Due: check-documentation-whitelist

update for user flow
  .documentation-whitelist.yaml
  docs/user-flow.md
Due: check-documentation-whitelist

docs: update user flow and completion steps; clean up DeveloperResults
  docs/all_steps_to_product_completion.md
  docs/user-flow.md
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
Due: check-documentation-whitelist, check-ui-canon, prettier, eslint

Add import budgets and quiet startup warnings
  .github/workflows/ci.yml
  backend/app/api/v1/imports.py
  backend/pyproject.toml
  backend/scripts/check_import_budget.py
  backend/tests/test_api/test_ai_imports.py
  backend/tests/test_api/test_imports_utils.py
  pytest.ini
Due: mypy-critical

Lazy auth startup paths and harden password hashing
  backend/app/api/v1/entitlements.py
  backend/app/api/v1/users_db.py
  backend/app/api/v1/users_secure.py
  backend/app/core/auth/__init__.py
  backend/app/core/auth/service.py
  backend/app/utils/security.py
  backend/pyproject.toml
  backend/scripts/check_import_budget.py
  backend/tests/test_api/test_ai_imports.py
  backend/tests/test_api/test_users_db.py
  backend/tests/test_utils/test_security.py
  pytest.ini
Due: mypy-critical

Stabilize full repo pytest matrix
  backend/app/api/v1/__init__.py
  backend/app/api/v1/agents.py
  backend/app/api/v1/ai.py
  backend/app/api/v1/finance_common.py
  backend/app/api/v1/projects_api.py
  backend/app/core/auth/service.py
  backend/app/services/agents/advisory.py
  backend/app/services/agents/gps_property_logger.py
  backend/app/services/agents/pdf_generator.py
  backend/app/services/agents/photo_documentation.py
  backend/app/services/agents/scenario_builder_3d.py
  backend/app/services/entitlements.py
  backend/app/services/geocoding.py
  backend/app/services/minio_service.py
  backend/app/services/regulatory_service.py
  backend/app/services/storage.py
  backend/app/services/team/workflow_service.py
  backend/scripts/seed_finance_demo.py
  backend/tests/conftest.py
  backend/tests/pwp/test_buildable_metrics.py
  backend/tests/services/test_photo_documentation_helpers.py
  backend/tests/test_api/test_ai.py
  backend/tests/test_services/test_agents/test_photo_documentation.py
  backend/tests/test_services/test_finance_calculator.py
  backend/tests/test_services/test_overlay_ingest.py
  core/canonical_models.py
  infra/helm/optimal-build/charts/postgresql/Chart.yaml
  infra/helm/optimal-build/charts/postgresql/values.yaml
  infra/helm/optimal-build/charts/redis/Chart.yaml
  infra/helm/optimal-build/charts/redis/values.yaml
  tests/conftest.py
  tests/finance/test_api_integration.py
  tests/finance/test_finance_smoke.py
  unit_tests/test_compliance_api.py
  unit_tests/test_market_intelligence_analytics.py
  unit_tests/test_users_routes.py
Due: pdf-smoke-test, mypy-critical

Reduce warning debt and revive skipped suites
  backend/app/api/v1/agents.py
  backend/app/api/v1/developers_common.py
  backend/app/api/v1/feasibility.py
  backend/app/api/v1/singapore_property_api.py
  backend/app/models/hong_kong_property.py
  backend/app/models/market.py
  backend/app/models/new_zealand_property.py
  backend/app/models/property.py
  backend/app/models/seattle_property.py
  backend/app/models/singapore_property.py
  backend/app/models/toronto_property.py
  backend/app/services/agents/development_potential_scanner.py
  backend/app/services/agents/market_intelligence_analytics.py
  backend/app/services/heritage_overlay.py
  backend/app/services/minio_service.py
  backend/app/services/regulatory/service.py
  backend/app/utils/encryption.py
  backend/pyproject.toml
  backend/tests/test_integration/test_pdf_download_flow.py
  backend/tests/test_services/test_alerts_service.py
  backend/tests/test_services/test_costs_service.py
  backend/tests/test_services/test_notification_service.py
  backend/tests/test_services/test_standards_service.py
  backend/tests/test_services/test_team_service.py
  backend/tests/test_services/test_universal_site_pack.py
  backend/tests/test_services/test_workflow_service.py
  docs/ARCHITECTURE_REALITY_CHECK.md
  docs/SECURITY.md
  docs/architecture.md
  docs/architecture/api-endpoints.md
  docs/architecture/dependency-tree.txt
  pytest.ini
  tests/conftest.py
  unit_tests/test_overlay_missing_metric.py
Due: pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, mypy-critical

Eliminate remaining pytest warning noise
  backend/app/api/v1/projects_api.py
  backend/app/models/hong_kong_property.py
  backend/app/models/listing_integration.py
  backend/app/models/market.py
  backend/app/models/new_zealand_property.py
  backend/app/models/property.py
  backend/app/models/seattle_property.py
  backend/app/models/singapore_property.py
  backend/app/models/toronto_property.py
  backend/app/services/integrations/accounts.py
Due: check-enum-patterns, mypy-critical

Re-enable skipped API integration suites
  backend/app/jobs_registry.py
  backend/app/models/agent_advisory.py
  backend/tests/conftest.py
  backend/tests/test_api/test_agent_advisory.py
  backend/tests/test_api/test_imports.py
  backend/tests/test_api/test_listing_integrations.py
  backend/tests/test_api/test_overlay.py
  backend/tests/test_api/test_roi.py
Due: check-enum-patterns

Normalize test stack and re-enable agent suites
  backend/app/models/market.py
  backend/app/models/regulatory.py
  backend/app/services/agents/market_data_service.py
  backend/app/services/agents/pdf_generator.py
  backend/httpx.py
  backend/pytest_asyncio/__init__.py
  backend/pytest_asyncio/plugin.py
  backend/scripts/aec_flow.py
  backend/tests/conftest.py
  backend/tests/test_services/test_agents/test_investment_memorandum.py
  backend/tests/test_services/test_agents/test_market_data_service.py
  backend/tests/test_services/test_agents/test_marketing_materials.py
  backend/tests/test_services/test_agents/test_photo_documentation.py
  backend/tests/test_services/test_agents/test_universal_site_pack.py
  config/type_safety/guardrails.toml
  mypy.ini
  security/pip-audit-allowlist.txt
  tests/conftest.py
Due: pdf-smoke-test, check-enum-patterns

Tighten schema and API typing coverage
  .pre-commit-config.yaml
  backend/app/api/v1/advanced_intelligence.py
  backend/app/api/v1/compliance.py
  backend/app/api/v1/costs.py
  backend/app/api/v1/developers_common.py
  backend/app/api/v1/developers_conditions.py
  backend/app/api/v1/entitlements.py
  backend/app/api/v1/feasibility.py
  backend/app/api/v1/finance_scenarios.py
  backend/app/api/v1/notifications.py
  backend/app/api/v1/projects_api.py
  backend/app/api/v1/rules.py
  backend/app/api/v1/screen.py
  backend/app/api/v1/singapore_property_api.py
  backend/app/api/v1/test_users.py
  backend/app/schemas/__init__.py
  backend/app/schemas/buildable.py
  backend/app/schemas/finance.py
  backend/app/schemas/performance.py
  backend/app/schemas/property.py
  backend/app/schemas/user.py
  config/type_safety/guardrails.toml
  mypy.ini
Due: mypy-critical

Tighten API typing and reduce skip and audit debt
  backend/app/api/v1/agents.py
  backend/app/api/v1/ai.py
  backend/app/api/v1/developers_checklists.py
  backend/app/api/v1/developers_gps.py
  backend/app/api/v1/finance_export.py
  backend/app/api/v1/finance_feasibility.py
  backend/app/api/v1/imports.py
  backend/app/api/v1/overlay.py
  backend/app/services/agents/photo_documentation.py
  backend/app/utils/toronto_compliance.py
  backend/jobs/raster_vector.py
  backend/requirements.txt
  backend/tests/test_api/test_performance.py
  backend/tests/test_services/test_pwp.py
  backend/tests/test_services/test_reference_sources.py
  backend/tests/test_utils/test_hong_kong_compliance.py
  backend/tests/test_utils/test_new_zealand_compliance.py
  backend/tests/test_utils/test_seattle_compliance.py
  backend/tests/test_utils/test_singapore_compliance.py
  backend/tests/test_utils/test_toronto_compliance.py
  backend/tests/test_workflows/test_aec_pipeline.py
  config/type_safety/guardrails.toml
  mypy.ini
  requirements.txt
  security/pip-audit-allowlist.txt
Due: pdf-smoke-test, pip-audit, mypy-critical

Split commercial property pack routes from agents router
  .pre-commit-config.yaml
  backend/app/api/v1/__init__.py
  backend/app/api/v1/agents.py
  backend/app/api/v1/commercial_property_packs.py
  backend/tests/test_api/test_agents_packs.py
  scripts/smoke_test_pdfs.py
Due: pdf-smoke-test, mypy-critical

Polish empty states and fix frontend type errors
  frontend/package.json
  frontend/src/api/advisory.ts
  frontend/src/app/pages/business-performance/BusinessPerformancePage.test.ts
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/projects/ProjectHubPage.tsx
  frontend/src/app/pages/projects/ProjectListPage.test.tsx
  frontend/src/app/pages/projects/ProjectListPage.tsx
  frontend/src/modules/cad/InteractiveFloorplate.test.tsx
  frontend/src/modules/cad/InteractiveFloorplate.tsx
  frontend/src/modules/feasibility/components/FeasibilityOutputPanel.tsx
  frontend/src/pages/AgentAdvisoryPage.tsx
  frontend/src/pages/__tests__/AgentAdvisoryPage.test.tsx
  frontend/src/pages/advisory/components/AbsorptionChart.tsx
  frontend/src/pages/advisory/components/AssetMixPanel.tsx
  frontend/src/pages/advisory/components/FeedbackForm.tsx
  frontend/src/pages/advisory/components/MarketPositioningPanel.tsx
  frontend/src/pages/visualizations/AdvancedIntelligence.tsx
  frontend/src/pages/visualizations/__tests__/AdvancedIntelligence.test.tsx
  frontend/src/test/renderWithProviders.tsx
Due: check-ui-canon, prettier, eslint

Update Makefile
  Makefile
Due: none

Update .env
  .env
Due: none

Add Due Diligence page and refactor site acquisition components
  frontend/src/app/navigation.ts
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/due-diligence/DueDiligencePage.test.tsx
  frontend/src/app/pages/due-diligence/DueDiligencePage.tsx
  frontend/src/app/pages/due-diligence/index.ts
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/OptimalIntelligenceCard.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.test.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/components/scenario-focus/ScenarioFocusSection.tsx
  frontend/src/app/pages/site-acquisition/hooks/useCaptureScenarioComparison.ts
  frontend/src/app/pages/site-acquisition/hooks/useDueDiligenceScenarioComparison.ts
  frontend/src/app/pages/site-acquisition/types.ts
  frontend/src/app/pages/site-acquisition/utils/signals.ts
  frontend/src/components/layout/ProjectSelector.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/main.tsx
Due: check-ui-canon, prettier, eslint

Update build tooling, CI config, and vite configs
  .devstack/backend.port
  .devstack/frontend.port
  .devstack/ui-admin.port
  .git-hooks/pre-push
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  config/type_safety/guardrails.toml
  frontend/vite.config.ts
  scripts/check_type_ignore_budget.py
  skills-lock.json
  tests/test_scripts/test_type_ignore_budget.py
  ui-admin/vite.config.ts
Due: prettier, prettier-admin, eslint, eslint-admin

Extend backend API endpoints, schemas, and services
  backend/app/api/v1/__init__.py
  backend/app/api/v1/agents.py
  backend/app/api/v1/audit.py
  backend/app/api/v1/developers.py
  backend/app/api/v1/developers_common.py
  backend/app/api/v1/developers_deal_calculator.py
  backend/app/api/v1/developers_gps.py
  backend/app/api/v1/finance_feasibility.py
  backend/app/api/v1/finance_workbook.py
  backend/app/api/v1/geocoding.py
  backend/app/api/v1/listings.py
  backend/app/api/v1/regulatory.py
  backend/app/api/v1/review.py
  backend/app/api/v1/screen.py
  backend/app/api/v1/singapore_property_api.py
  backend/app/core/audit/ledger.py
  backend/app/schemas/buildable.py
  backend/app/schemas/deal_calculator.py
  backend/app/schemas/external_sources.py
  backend/app/schemas/feasibility.py
  backend/app/schemas/finance_workbook.py
  backend/app/schemas/regulatory.py
  backend/app/services/agents/gps_property_logger.py
  backend/app/services/agents/ura_integration.py
  backend/app/services/buildable.py
  backend/app/services/deals/utils.py
  backend/app/services/feasibility/__init__.py
  backend/app/services/finance/workbook_exchange.py
  backend/app/services/geocoding.py
  backend/app/services/integrations/edgeprop.py
  backend/app/services/integrations/propertyguru.py
  backend/app/services/integrations/zoho.py
  backend/app/services/mock_corenet.py
  backend/app/services/regulatory/corenet_adapter.py
  backend/app/services/regulatory_service.py
  backend/app/services/rules/zone_rules.py
  backend/app/utils/singapore_compliance.py
Due: pdf-smoke-test, mypy-critical

Add and expand backend test coverage
  backend/tests/pwp/test_buildable_golden.py
  backend/tests/pwp/test_buildable_request_aliases.py
  backend/tests/services/test_geocoding_service.py
  backend/tests/test_api/test_agents_gps.py
  backend/tests/test_api/test_audit.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_api/test_developers_deal_calculator.py
  backend/tests/test_api/test_feasibility.py
  backend/tests/test_api/test_finance_origin_classification.py
  backend/tests/test_api/test_finance_workbook.py
  backend/tests/test_api/test_listing_integrations.py
  backend/tests/test_api/test_regulatory.py
  backend/tests/test_api/test_review_api.py
  backend/tests/test_api/test_screen_api.py
  backend/tests/test_api/test_singapore_property_api.py
  backend/tests/test_core/test_audit_ledger.py
  backend/tests/test_services/test_buildable.py
  backend/tests/test_services/test_deals_utils.py
  backend/tests/test_services/test_feasibility.py
  backend/tests/test_services/test_finance_golden_deals.py
  backend/tests/test_services/test_mock_corenet.py
  backend/tests/test_utils/test_singapore_compliance.py
  backend/tests/unit/services/test_regulatory_service.py
  backend/tests/utils/test_singapore_compliance.py
  unit_tests/test_gps_property_logger.py
Due: none

Improve app shell UX: accessibility, consistency, and onboarding
  CLAUDE.md
  frontend/src/app/components/AppNavigation.tsx
  frontend/src/app/navigation.ts
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/TopUtilityMenu.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/styles/app-shell.css
Due: check-ui-canon, prettier, eslint

Remove AI slop, canonicalize Deal Calculator and Capture pages, fix CORS crash
  .env
  backend/app/core/config.py
  backend/app/middleware/security.py
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/deal-calculator/DealCalculatorPage.tsx
  frontend/src/components/canonical/Button.tsx
  frontend/src/components/canonical/Card.tsx
  frontend/src/components/canonical/MetricTile.tsx
  frontend/src/components/canonical/PremiumMetricCard.tsx
  frontend/src/components/canonical/index.ts
  frontend/src/components/layout/YosaiSidebar.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
  frontend/src/styles/app-shell.css
  frontend/src/styles/gps-capture/core.css
Due: check-ui-canon, prettier, eslint
