Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, prettier-admin, eslint, eslint-admin

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check'
  language: system

prettier-admin:
  name: prettier-admin
  entry: bash -c 'cd ui-admin && npx prettier --check'
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint'
  language: system

eslint-admin:
  name: eslint-admin
  entry: bash -c 'cd ui-admin && npx eslint'
  language: system

test: add asset_mix and developer_checklist tests to reach 80% coverage
  backend/app/core/config.py
  backend/app/core/database.py
  backend/tests/conftest.py
  backend/tests/test_models/test_finance.py
  backend/tests/test_models/test_property.py
  backend/tests/test_services/test_asset_mix.py
  backend/tests/test_services/test_costs.py
  backend/tests/test_services/test_developer_checklist.py
  backend/tests/test_utils/test_logging.py
  docs/audits/pre-phase-2d-audit.md
  ui-admin/tsconfig.json
  ui-admin/vite.config.ts
Due: prettier-admin, eslint-admin

test: add coverage for audit ledger and JWT auth
  backend/tests/test_core/test_audit_ledger.py
  backend/tests/test_core/test_jwt_auth.py
  ui-admin/package-lock.json
  ui-admin/package.json
Due: prettier-admin

Fix async pytest support and reuse shared fixtures
  app/__init__.py
  backend/__init__.py
  backend/_sqlalchemy_stub.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/agents.py
  backend/app/api/v1/market_intelligence.py
  backend/app/core/jwt_auth.py
  backend/app/models/__init__.py
  backend/app/services/__init__.py
  backend/app/services/agents/market_intelligence_analytics.py
  backend/tests/services/test_heritage_overlay_service.py
  docs/TEST_COVERAGE_REPORT.MD
  markupsafe/__init__.py
  numpy/__init__.py
  pandas/__init__.py
  pytest.ini
  scripts/__init__.py
  scripts/seed_screening.py
  shapely/__init__.py
  shapely/geometry.py
  shapely/strtree.py
  sqlalchemy/__init__.py
  sqlalchemy/util/__init__.py
  tests/conftest.py
  unit_tests/conftest.py
Due: none

Adjust app shell layout spacing and navigation
  frontend/src/app/components/AppNavigation.tsx
  frontend/src/index.css
Due: prettier, eslint

Consolidate respond and resolve panels
  frontend/src/components/layout/PageMiniNav.tsx
  frontend/src/components/layout/Panel.tsx
  frontend/src/components/layout/PanelBody.tsx
  frontend/src/components/layout/ViewportFrame.tsx
  frontend/src/features/pages/Main.tsx
  frontend/src/shared/components/app/security/AccessPatternHeatmap.tsx
  frontend/src/shared/components/app/security/ClockTicker.tsx
  frontend/src/shared/components/app/security/IncidentAlertsPanel.tsx
  frontend/src/shared/components/app/security/IncidentDetectionBreakdown.tsx
  frontend/src/shared/components/app/security/IncidentMapView.tsx
  frontend/src/shared/components/app/security/IncidentResponsePanel.tsx
  frontend/src/shared/components/app/security/LeftSidebar.tsx
  frontend/src/shared/components/app/security/LiveFeedPanel.tsx
  frontend/src/shared/components/app/security/ThreatScoreBreakdown.tsx
  frontend/src/shared/components/app/security/TimelineChart.tsx
  frontend/src/shared/components/app/security/types.ts
  frontend/src/shared/hooks/useFacilityLabel.ts
  frontend/src/shared/hooks/useNoBodyScroll.ts
  frontend/src/shared/media/yosai-logo.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: prettier, eslint

Use shared ticket types in LeftSidebar
  frontend/src/shared/components/app/security/LeftSidebar.tsx
Due: prettier, eslint

Expand SQLAlchemy stub coverage
  sqlalchemy/__init__.py
Due: none

Enhance SQLAlchemy stub Table support
  sqlalchemy/__init__.py
Due: none

Improve SQLAlchemy stub query execution
  sqlalchemy/__init__.py
Due: none

feat: add test coverage and fix API serialization issues
  backend/app/api/v1/imports.py
  backend/app/api/v1/overlay.py
  backend/app/models/base.py
  backend/app/services/compliance.py
  backend/flows/adapters/products_csv_validator.py
  backend/jobs/raster_vector.py
  backend/tests/conftest.py
  backend/tests/test_api/test_overlay.py
  backend/tests/test_core/test_geometry_utils.py
  backend/tests/test_models/test_base.py
  fastapi_shadow_1758771137/__init__.py
  fastapi_shadow_1758771137/status.py
  fastapi_shadow_1758771137/testclient.py
  pydantic_shadow_1758771277/__init__.py
Due: none

feat: add priority composite indexes and EXPLAIN ANALYZE benchmarks
  backend/app/models/business_performance.py
  backend/app/models/entitlements.py
  backend/app/models/preview.py
  backend/app/models/property.py
  db/versions/20250219000100_add_priority_indexes.py
  docs/audits/pre-phase-2d-audit.md
Due: none

chore: add bdd test scaffolding
  frontend/features/compliance.feature
  frontend/features/data_upload.feature
  frontend/features/main_dashboard.feature
  frontend/features/mapping_live.feature
  frontend/features/mapping_upload.feature
  frontend/features/mission_control.feature
  frontend/features/security_dashboard.feature
  frontend/features/settings.feature
  frontend/features/ticketing.feature
  frontend/features/weak_signal.feature
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/features/pages/ComplianceViolations.tsx
  frontend/src/features/pages/CrossBorderTransferDashboard.tsx
  frontend/src/features/pages/DPIADashboard.tsx
  frontend/src/features/pages/DSARComplianceDashboard.tsx
  frontend/src/features/pages/DataUpload.tsx
  frontend/src/features/pages/FacilitySensors.tsx
  frontend/src/features/pages/Main.tsx
  frontend/src/features/pages/MappingUpload.tsx
  frontend/src/features/pages/MissionControl.tsx
  frontend/src/features/pages/ROPADashboard.tsx
  frontend/src/features/pages/SecurityDashboard.tsx
  frontend/src/features/pages/Settings.tsx
  frontend/src/features/pages/Ticketing.tsx
  frontend/src/features/pages/WeakSignalFeed.tsx
  frontend/src/main.tsx
  frontend/src/styles/canonical-ui.css
  frontend/src/testing/testids.ts
  frontend/src/testing/withTestId.tsx
  frontend/tests/bdd/lib/locators.ts
  frontend/tests/bdd/steps/common.ts
Due: prettier, eslint

docs: note pending pre-phase audit benchmarks
  START_HERE.md
  docs/audits/PRE-PHASE-2D-AUDIT.MD
  docs/documentation_consolidation_strategy.md
  docs/planning/technical-debt.md
Due: none

Add frontend CI workflow with lint and smoke tests
  frontend/.github/workflows/ci.yml
  frontend/package.json
  frontend/playwright.config.ts
Due: prettier, eslint

feat: add upload bridge and smoke coverage for zen pages
  frontend/src/features/pages/ComplianceViolations.tsx
  frontend/src/features/pages/DataUpload.tsx
  frontend/src/features/pages/MappingUpload.tsx
  frontend/src/features/pages/Settings.tsx
  frontend/src/features/pages/Ticketing.tsx
  frontend/src/services/uploadBridge.ts
  frontend/tests/e2e/data-upload.smoke.spec.ts
  frontend/tests/e2e/mapping-upload.smoke.spec.ts
Due: prettier, eslint

feat: apply zen layout to remaining pages
  frontend/src/features/pages/ComplianceViolations.tsx
  frontend/src/features/pages/DataUpload.tsx
  frontend/src/features/pages/Main.tsx
  frontend/src/features/pages/MappingUpload.tsx
  frontend/src/features/pages/Settings.tsx
  frontend/src/features/pages/Ticketing.tsx
  frontend/src/features/pages/WeakSignalFeed.tsx
  frontend/src/features/pages/components/ZenPageHeader.tsx
  frontend/src/features/pages/components/zenMiniNavItems.ts
  frontend/src/main.tsx
  frontend/src/router.tsx
  frontend/src/services/uploadBridge.ts
Due: prettier, eslint

Revert "feat: add upload bridge and smoke coverage for zen pages"
  frontend/src/features/pages/ComplianceViolations.tsx
  frontend/src/features/pages/DataUpload.tsx
  frontend/src/features/pages/MappingUpload.tsx
  frontend/src/features/pages/Settings.tsx
  frontend/src/features/pages/Ticketing.tsx
  frontend/src/services/uploadBridge.ts
  frontend/tests/e2e/data-upload.smoke.spec.ts
  frontend/tests/e2e/mapping-upload.smoke.spec.ts
Due: prettier, eslint

Revert "Add Playwright BDD scaffolding and test IDs"
  frontend/features/compliance.feature
  frontend/features/data_upload.feature
  frontend/features/main_dashboard.feature
  frontend/features/mapping_live.feature
  frontend/features/mapping_upload.feature
  frontend/features/mission_control.feature
  frontend/features/security_dashboard.feature
  frontend/features/settings.feature
  frontend/features/ticketing.feature
  frontend/features/weak_signal.feature
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/features/pages/ComplianceViolations.tsx
  frontend/src/features/pages/CrossBorderTransferDashboard.tsx
  frontend/src/features/pages/DPIADashboard.tsx
  frontend/src/features/pages/DSARComplianceDashboard.tsx
  frontend/src/features/pages/DataUpload.tsx
  frontend/src/features/pages/FacilitySensors.tsx
  frontend/src/features/pages/Main.tsx
  frontend/src/features/pages/MappingUpload.tsx
  frontend/src/features/pages/MissionControl.tsx
  frontend/src/features/pages/ROPADashboard.tsx
  frontend/src/features/pages/SecurityDashboard.tsx
  frontend/src/features/pages/Settings.tsx
  frontend/src/features/pages/Ticketing.tsx
  frontend/src/features/pages/WeakSignalFeed.tsx
  frontend/src/main.tsx
  frontend/src/styles/canonical-ui.css
  frontend/src/testing/testids.ts
  frontend/src/testing/withTestId.tsx
  frontend/tests/bdd/lib/locators.ts
  frontend/tests/bdd/steps/common.ts
Due: prettier, eslint

Add frontend CI workflow for lint and smoke tests
  frontend/.github/workflows/ci.yml
  frontend/package.json
  frontend/playwright.config.ts
Due: prettier, eslint

Expand SQLAlchemy test stub to cover broader API
  sqlalchemy/__init__.py
  sqlalchemy/ext/asyncio.py
  sqlalchemy/orm/__init__.py
Due: none

docs: update Phase 2C status to COMPLETE across all planning docs
  docs/feature_delivery_plan_v2.md
  docs/planning/backlog.md
  docs/planning/technical-debt.md
Due: none

Document PostGIS toggle and support docker cleanup dry-run
  .env.example
  Makefile
  PRE_PHASE_2D_INFRASTRUCTURE_AUDIT.MD
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/main.py
  backend/app/middleware/observability.py
  backend/app/middleware/security.py
  backend/tests/test_middleware/conftest.py
  backend/tests/test_middleware/test_cors.py
  backend/tests/test_middleware/test_observability.py
  backend/tests/test_middleware/test_security.py
  docker-compose.postgis.yml
  docker-compose.yml
  docs/INFRA_MONITORING.MD
  docs/phase2b_heritage_ingestion_plan.md
  frontend/src/api/__tests__/advisory.test.ts
  frontend/src/components/layout/PageMiniNav.test.tsx
  frontend/tests/e2e/agent-advisory.spec.ts
  requirements.txt
  scripts/check_system_resources.sh
  scripts/docker_cleanup.sh
  scripts/init-db-simple.sql
  scripts/load_test_healthcheck.py
  setup_clean_env.sh
  sqlalchemy/dialects/__init__.py
  sqlalchemy/ext/asyncio.py
  sqlalchemy/util/__init__.py
Due: prettier, eslint

Restructure roadmap docs and work queue
  CODING_RULES.md
  CONTRIBUTING.md
  Makefile
  README.md
  START_HERE.md
  docs/README.md
  docs/ROADMAP.MD
  docs/SOLO_FOUNDER_GUIDE.md
  docs/WORK_QUEUE.MD
  docs/ai-agents/claude.md
  docs/ai-agents/codex.md
  docs/ai-agents/next_steps.md
  docs/architecture/codebase_overview.md
  docs/archive/BACKLOG.MD
  docs/archive/FEATURE_DELIVERY_PLAN_V2.MD
  docs/archive/TECHNICAL_DEBT.MD
  docs/audits/PRE-PHASE-2D-AUDIT.MD
  docs/documentation_consolidation_strategy.md
  docs/handoff_playbook.md
  docs/jurisdiction_expansion_playbook.md
  docs/phase2c_finance_delivery_plan.md
  docs/phase_1d_business_performance_design.md
  docs/planning/features.md
  docs/planning/roadmap.md
  docs/validation/live_testing_guide.md
  docs/validation/live_walkthrough_plan.md
  frontend/README_AI_AGENTS.md
  scripts/check_coding_rules.py
  scripts/check_phase_gate.py
  scripts/validate_delivery_plan.py
Due: prettier

Document Business Performance UI completion
  docs/ROADMAP.MD
  docs/WORK_QUEUE.MD
  docs/archive/FEATURE_DELIVERY_PLAN_V2.MD
  frontend/src/api/deals.ts
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/business-performance/components/AnalyticsPanel.tsx
  frontend/src/app/pages/business-performance/components/DealInsightsPanel.tsx
  frontend/src/app/pages/business-performance/components/PipelineBoard.tsx
  frontend/src/app/pages/business-performance/components/RoiPanel.tsx
  frontend/src/index.css
Due: prettier, eslint

fix: auto-format and lint cleanup from pre-commit hooks
  backend/app/middleware/security.py
  backend/tests/conftest.py
  backend/tests/test_middleware/test_observability.py
  docs/ROADMAP.MD
  docs/WORK_QUEUE.MD
  pydantic/__init__.py
  scripts/load_test_healthcheck.py
  scripts/validate_delivery_plan.py
  tests/conftest.py
Due: none

docs: mark Option 10 (pre-commit hooks) as complete in WORK_QUEUE
  docs/WORK_QUEUE.MD
Due: none

docs: add Phase 1D Business Performance UI manual QA checklist
  docs/development/testing/phase-1d-manual-qa-checklist.md
Due: none

wip: Infrastructure Audit Option 11 - test coverage improvements (in progress)
  backend/app/main.py
  backend/app/schemas/deals.py
  backend/app/services/deals/pipeline.py
  backend/tests/conftest.py
  fastapi_shadow_1758771137/openapi/utils.py
  sqlalchemy/__init__.py
  starlette/__init__.py
  starlette/middleware/__init__.py
  starlette/middleware/base.py
  starlette/middleware/gzip.py
  starlette/types.py
Due: none

feat: add Rule 12.1 to enforce manual QA for UI phases
  CODING_RULES.md
  backend/app/api/v1/rules.py
  backend/app/utils/cache.py
  backend/requirements.txt
  backend/tests/test_utils/test_cache.py
  docs/audits/PRE-PHASE-2D-AUDIT.MD
  requirements.txt
  scripts/check_coding_rules.py
Due: none

docs: remove incorrect 'test harness' concept and establish production UI standards
  CODING_RULES.md
  README.md
  START_HERE.md
  backend/tests/unit/test_utils_metrics.py
  docs/development/testing/phase-1d-manual-qa-checklist.md
  docs/planning/ui-status.md
  fastapi/__init__.py
  fastapi/middleware/__init__.py
  fastapi/middleware/cors.py
  fastapi/responses.py
  fastapi/status.py
  fastapi_shadow_1758771137/__init__.py
  fastapi_shadow_1758771137/middleware/__init__.py
  fastapi_shadow_1758771137/middleware/cors.py
  fastapi_shadow_1758771137/openapi/__init__.py
  fastapi_shadow_1758771137/openapi/utils.py
  fastapi_shadow_1758771137/responses.py
  fastapi_shadow_1758771137/security.py
  fastapi_shadow_1758771137/status.py
  fastapi_shadow_1758771137/testclient.py
  frontend/README_AI_AGENTS.md
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/business-performance/components/AnalyticsPanel.tsx
  frontend/src/app/pages/business-performance/components/RoiPanel.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  pytest_cov_backup/__init__.py
  starlette/__init__.py
  starlette/background.py
  starlette/middleware/__init__.py
  starlette/middleware/base.py
  starlette/middleware/gzip.py
  starlette/types.py
  starlette_shadow_1758771185/__init__.py
  starlette_shadow_1758771185/background.py
Due: prettier, eslint

Document Phase 2B parallelisation process
  docs/ROADMAP.MD
  docs/WORK_QUEUE.MD
  docs/phase2b_visualisation_stub.md
Due: none

Document manual UI QA guardrails for Phase 2B
  backend/app/services/preview_generator.py
  backend/jobs/preview_generate.py
  backend/tests/test_services/test_preview_generator.py
  docs/PHASE2B_VISUALISATION_STUB.MD
  docs/ROADMAP.MD
  docs/WORK_QUEUE.MD
  docs/archive/BACKLOG.MD
  docs/archive/FEATURE_DELIVERY_PLAN_V2.MD
  docs/archive/TECHNICAL_DEBT.MD
  docs/development/testing/summary.md
Due: none

Allow backend stubs to fall back to real deps
  backend/fastapi/__init__.py
  backend/pydantic/__init__.py
  backend/starlette/__init__.py
Due: none

chore: remove shadow fastapi/starlette directories blocking imports
  backend/fastapi/__init__.py
  backend/fastapi_stub_1758768319/__init__.py
  backend/starlette/__init__.py
Due: none

docs: update Phase 1D manual QA checklist with production UI framing and test results
  docs/development/testing/phase-1d-manual-qa-checklist.md
Due: none

test: extend alert service coverage
  backend/tests/test_services/test_alerts.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/
