Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/

feat(ui): add canonical component library with Square Cyber-Minimalism design
  .gitignore
  core/design-tokens/index.ts
  frontend/src/components/canonical/AlertBlock.tsx
  frontend/src/components/canonical/Button.tsx
  frontend/src/components/canonical/Card.tsx
  frontend/src/components/canonical/DataBlock.tsx
  frontend/src/components/canonical/EmptyState.tsx
  frontend/src/components/canonical/GlassButton.tsx
  frontend/src/components/canonical/GlassWindow.tsx
  frontend/src/components/canonical/Input.tsx
  frontend/src/components/canonical/MetricCard.tsx
  frontend/src/components/canonical/MetricTile.tsx
  frontend/src/components/canonical/Panel.tsx
  frontend/src/components/canonical/SectionHeader.tsx
  frontend/src/components/canonical/Skeleton.tsx
  frontend/src/components/canonical/StatusChip.tsx
  frontend/src/components/canonical/Tabs.tsx
  frontend/src/components/canonical/Tag.tsx
  frontend/src/components/canonical/Window.tsx
  frontend/src/components/canonical/index.ts
  frontend/src/theme/theme.ts
  frontend/src/utils/themeStyles.ts
  ui-admin/tailwind.config.cjs
Due: check-ui-canon, prettier, eslint

docs: add typography standards and update documentation whitelist
  .documentation-whitelist.yaml
  docs/development/typography-standards.md
Due: check-documentation-whitelist

test: add unit tests for core modules
  unit_tests/test_core_database.py
  unit_tests/test_integration_clients.py
  unit_tests/test_service_base.py
  unit_tests/test_users_routes.py
  unit_tests/test_utils_cache_metrics.py
Due: none

chore: update backend configs and test fixtures
  .coveragerc
  backend/app/services/entitlements.py
  conftest.py
  frontend/src/modules/cad/CadDetectionPreview.tsx
  frontend/src/modules/cad/CadUploader.tsx
  frontend/src/modules/cad/RoiSummary.tsx
  pydantic/__init__.py
  tests/conftest.py
Due: check-ui-canon, prettier, eslint

chore: update backend configs and test fixtures
  .coveragerc
  backend/app/services/entitlements.py
  conftest.py
  pydantic/__init__.py
  tests/conftest.py
Due: none

refactor(cad): tokenize hardcoded colors and replace MUI theme dependencies
  frontend/src/modules/cad/CadDetectionPreview.tsx
  frontend/src/modules/cad/InteractiveFloorplate.tsx
  frontend/src/modules/cad/RoiSummary.tsx
  frontend/src/styles/cad.css
Due: check-ui-canon, prettier, eslint

refactor(cad): migrate CAD upload UI to canonical components
  frontend/src/modules/cad/CadUploader.tsx
  frontend/src/pages/CadUploadPage.tsx
Due: check-ui-canon, prettier, eslint

fix(cors): add 127.0.0.1 origins to fix CORS preflight errors
  backend/app/core/config.py
  frontend/src/App.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/modules/cad/CadUploader.tsx
  frontend/src/pages/CadUploadPage.tsx
Due: check-ui-canon, prettier, eslint

refactor(cad): add StatusChip and restore shell header
  frontend/src/modules/cad/CadUploader.tsx
Due: check-ui-canon, prettier, eslint

refactor(ui): tokenize hardcoded values in layout and CAD components
  core/design-tokens/tokens.css
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/modules/cad/CadUploader.tsx
  frontend/src/pages/CadUploadPage.tsx
Due: check-ui-canon, prettier, eslint

fix(ui): enforce Square Cyber-Minimalism border-radius standards
  frontend/src/components/canonical/GlassButton.tsx
  frontend/src/components/canonical/GlassCard.tsx
  frontend/src/components/canonical/HeroMetric.tsx
Due: check-ui-canon, prettier, eslint

docs: consolidate UI design standards for AI agent enforcement
  CLAUDE.md
  docs/design-system/design-token-audit.md
  frontend/UI_STANDARDS.md
  frontend/src/styles/STYLE_GUIDE.md
Due: check-documentation-whitelist, prettier

refactor(ui): canonicalize layout and CAD components with design tokens
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/main.tsx
  frontend/src/modules/cad/RulePackExplanationPanel.tsx
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/FinanceProjectSelector.tsx
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/styles/finance/polish.css
Due: check-ui-canon, prettier, eslint

refactor(ui): canonicalize page styles with design tokens
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/team/TeamManagementPage.tsx
  frontend/src/styles/core.css
  frontend/src/styles/gps-capture/core.css
Due: check-ui-canon, prettier, eslint

chore: mark 20251214 UI audit as superseded
  artifacts/ui_audit_20251214_pages_only_superseded.md
Due: none

fix(Input): prevent inputVariant prop from reaching DOM
  frontend/src/components/canonical/Input.tsx
Due: check-ui-canon, prettier, eslint

feat(nav): switch from sidebar to top navigation bar
  frontend/src/app/layout/BaseLayout.tsx
  frontend/src/app/layout/BaseLayoutContext.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
Due: check-ui-canon, prettier, eslint

Phase 2E backend: workflow approvals, notifications, listing
  backend/app/api/deps.py
  backend/app/api/v1/workflow.py
  backend/app/main.py
  backend/app/models/users.py
  backend/app/models/workflow.py
  backend/app/schemas/workflow.py
  backend/app/services/team/team_service.py
  backend/app/services/team/workflow_service.py
  backend/tests/test_api/test_team.py
  backend/tests/test_api/test_workflow.py
Due: check-enum-patterns, mypy-critical

refactor(ui): tokenize + canonicalize layout and finance widgets
  core/design-tokens/tokens.css
  docs/all_steps_to_product_completion.md
  frontend/UI_STANDARDS.md
  frontend/src/api/finance.ts
  frontend/src/app/layout/BaseLayout.tsx
  frontend/src/app/layout/BaseLayoutContext.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/HeaderUtilityCluster.tsx
  frontend/src/components/layout/TopUtilityMenu.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/modules/finance/components/CapitalStackChart.tsx
  frontend/src/modules/finance/components/CapitalStackFacilityTable.tsx
  frontend/src/modules/finance/components/CapitalStackHeader.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioCards.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioTabs.tsx
  frontend/src/modules/finance/components/DrawdownChart.tsx
  frontend/src/modules/finance/components/DrawdownDetailsPanel.tsx
  frontend/src/modules/finance/components/DrawdownHeader.tsx
  frontend/src/modules/finance/components/DrawdownInsightBox.tsx
  frontend/src/modules/finance/components/DrawdownStatsCards.tsx
  frontend/src/modules/finance/components/FinanceCapitalStack.tsx
  frontend/src/modules/finance/components/FinanceDrawdownSchedule.tsx
  frontend/src/modules/finance/components/FinanceMetricsGrid.tsx
  frontend/src/modules/finance/components/ScenarioSelector.tsx
  frontend/src/modules/finance/utils/chartTheme.ts
  frontend/src/styles/index.css
Due: check-documentation-whitelist, check-ui-canon, prettier, eslint

fix(finance): sticky header and compact controls
  frontend/src/api/finance.ts
  frontend/src/app/layout/BaseLayout.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/main.tsx
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/CapitalStackChart.tsx
  frontend/src/modules/finance/components/CapitalStackHeader.tsx
  frontend/src/modules/finance/components/CapitalStackInsightBox.tsx
  frontend/src/modules/finance/components/CapitalStackMiniBar.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
  frontend/src/modules/finance/components/FinanceCapitalStack.tsx
  frontend/src/modules/finance/components/FinanceMetricsGrid.tsx
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/modules/finance/components/__tests__/FinanceStackAndDrawdown.test.tsx
Due: check-ui-canon, prettier, eslint

feat(finance): scenario grid dashboard layout
  core/design-tokens/tokens.css
  frontend/src/api/finance.ts
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/CapitalStackFacilityTable.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
  frontend/src/modules/finance/components/FinanceCapitalStack.tsx
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/modules/finance/hooks/useFinanceScenarios.ts
Due: check-ui-canon, prettier, eslint

refactor(finance): compact header controls
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/FinanceHeaderControls.tsx
Due: check-ui-canon, prettier, eslint

fix(finance): compact header control sizing
  frontend/src/modules/finance/components/FinanceHeaderControls.tsx
Due: check-ui-canon, prettier, eslint

fix(finance): constrain header control pill
  core/design-tokens/tokens.css
  frontend/src/modules/finance/components/FinanceHeaderControls.tsx
Due: check-ui-canon, prettier, eslint

fix(finance): single project selector in header
  core/design-tokens/tokens.css
  frontend/src/modules/finance/components/FinanceHeaderControls.tsx
Due: check-ui-canon, prettier, eslint

fix(finance): label spacing and dropdown arrow
  frontend/src/modules/finance/components/FinanceHeaderControls.tsx
Due: check-ui-canon, prettier, eslint

fix(finance): tighten select spacing and export width
  core/design-tokens/tokens.css
  frontend/src/modules/finance/components/FinanceHeaderControls.tsx
Due: check-ui-canon, prettier, eslint

fix(frontend): ensure rule arrays are defined and pipeline IDs are unique
  frontend/src/api/client.ts
Due: prettier, eslint

fix(ui): finance header and pipelines toolbar
  core/design-tokens/tokens.css
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
  frontend/src/modules/finance/components/FinanceHeaderControls.tsx
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/pages/CadPipelinesPage.tsx
Due: check-ui-canon, prettier, eslint

feat(ui): toggle developer workspace links
  frontend/src/components/layout/TopUtilityMenu.tsx
Due: check-ui-canon, prettier, eslint

feat(nav): show developer tabs in top nav
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: check-ui-canon, prettier, eslint

fix(ui): align headers and pass typecheck
  frontend/src/api/client.ts
  frontend/src/app/pages/advisory/AdvisoryPage.tsx
  frontend/src/app/pages/business-performance/BusinessPerformancePage.tsx
  frontend/src/app/pages/business-performance/components/AnalyticsPanel.tsx
  frontend/src/app/pages/developer/DeveloperControlPanel.tsx
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/app/pages/regulatory/RegulatoryDashboardPage.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/team/TeamManagementPage.tsx
  frontend/src/components/canonical/Button.tsx
  frontend/src/components/canonical/Card.tsx
  frontend/src/components/canonical/GlassButton.tsx
  frontend/src/components/canonical/GlassCard.tsx
  frontend/src/components/canonical/GlassWindow.tsx
  frontend/src/components/canonical/HeroMetric.tsx
  frontend/src/components/canonical/MetricCard.tsx
  frontend/src/components/canonical/Tabs.tsx
  frontend/src/modules/agent-performance/AgentPerformancePage.tsx
  frontend/src/modules/cad/CadUploader.tsx
  frontend/src/modules/cad/RulePackExplanationPanel.tsx
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/CapitalStackScenarioGrid.tsx
  scripts/enforce-feasibility-tokens.mjs
Due: check-ui-canon, prettier, eslint

feat(ui): tokenized header entrance motion
  core/design-tokens/tokens.css
  frontend/src/components/canonical/AnimatedPageHeader.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/styles/core.css
Due: check-ui-canon, prettier, eslint

Revert "feat(ui): tokenized header entrance motion"
  core/design-tokens/tokens.css
  frontend/src/components/canonical/AnimatedPageHeader.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/styles/core.css
Due: check-ui-canon, prettier, eslint

feat(ui): tokenized header bounce
  core/design-tokens/tokens.css
  frontend/src/components/canonical/AnimatedPageHeader.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/styles/core.css
Due: check-ui-canon, prettier, eslint

fix(ui): replay header animation on route change
  frontend/src/components/layout/AppShell.tsx
Due: check-ui-canon, prettier, eslint
