Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

check-migration-enums:
  name: Check migration ENUM patterns
  entry: python3 scripts/check_migration_enums.py
  language: system
  pass_filenames: false

pdf-smoke-test:
  name: PDF generation smoke test
  entry: python3 scripts/smoke_test_pdfs.py
  language: system
  pass_filenames: false

check-enum-patterns:
  name: Check SQLAlchemy enum patterns have values_callable
  entry: python3 backend/scripts/check_enum_patterns.py
  language: system
  pass_filenames: true

check-documentation-whitelist:
  name: Documentation whitelist enforcement (Rule 14.2)
  entry: python3 scripts/check_documentation_whitelist.py
  language: system
  pass_filenames: false

check-ui-canon:
  name: UI canon enforcement (inline styles, hardcoded colors)
  entry: python3 scripts/check_ui_canon.py
  language: system
  pass_filenames: false

pip-audit:
  name: Dependency vulnerability scan (pip-audit)
  ...

mypy-critical:
  name: mypy (critical paths - blocks on new errors)
  entry: bash -c 'cd backend && ../.venv/bin/mypy app/api/ app/schemas/ --config-file=../mypy.ini --no-error-summary --exclude "(app/schemas/user\.py|app/api/v1/test_users\.py|app/schemas/buildable\.py|app/api/v1/users_secure\.py)"'
  language: system
  ...

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check'
  language: system

prettier-admin:
  name: prettier-admin
  entry: bash -c 'cd ui-admin && npx prettier --check'
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint'
  language: system

eslint-admin:
  name: eslint-admin
  entry: bash -c 'cd ui-admin && npx eslint'
  language: system

telemetry: wire entity_history writer via mapper events (PR3)
  backend/app/api/deps.py
  backend/app/main.py
  backend/app/services/entity_history_recorder.py
Due: mypy-critical

telemetry: predictions writer + soft-delete filter + scenario picker (PR4)
  backend/app/main.py
  backend/app/services/ai/compliance_predictor.py
  backend/app/services/prediction_recorder.py
  backend/app/services/soft_delete_filter.py
  frontend/src/modules/feasibility/components/ScenarioSelector.tsx
Due: check-ui-canon, prettier, eslint

db: auto-repair SQLite dev schema for missing nullable columns
  backend/app/main.py
  backend/tests/unit/test_sqlite_schema_repair.py
Due: none

tests(cors): cover preflight for lowercase identity headers
  backend/tests/test_middleware/test_cors.py
Due: none

preview_jobs: replace [QUEUE_PREVIEW_*] debug spam with structured logs
  backend/app/services/preview_jobs.py
Due: none

frontend(api): send reviewer identity headers on capture and preview writes
  frontend/src/api/__tests__/agents.test.ts
  frontend/src/api/agents.ts
  frontend/src/api/siteAcquisition.capture.test.ts
  frontend/src/api/siteAcquisition.previewJobs.test.ts
  frontend/src/api/siteAcquisition.ts
Due: prettier, eslint

telemetry: route endpoints through buildUrl
  frontend/src/services/telemetry/decisions.ts
  frontend/src/services/telemetry/telemetry.ts
Due: prettier, eslint

capture: drop mission-control idioms in favour of plain language and denser results
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/components/AgentResultsPanel.tsx
  frontend/src/app/pages/capture/components/MissionLog.tsx
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/styles/gps-capture/core.css
Due: check-ui-canon, prettier, eslint

Resolve repo-wide verification drift
  backend/tests/test_api/test_singapore_properties.py
  core/canonical_models.py
  frontend/src/app/pages/business-performance/components/RoiPanel.tsx
  frontend/src/app/pages/phase-management/components/HeritageView.tsx
  frontend/src/app/pages/phase-management/components/TenantRelocationDashboard.tsx
  frontend/src/components/agents/widgets/AbsorptionTrendsChart.tsx
  frontend/src/components/agents/widgets/MarketCycleIndicator.tsx
  frontend/src/components/agents/widgets/PipelineTimelineWidget.tsx
  frontend/src/components/agents/widgets/YieldBenchmarkChart.tsx
  frontend/src/modules/cad/CadDetectionPreview.tsx
  security/pip-audit-allowlist.txt
Due: check-ui-canon, prettier, eslint

Resolve SAST SQLAlchemy text findings
  backend/app/main.py
  backend/migrations/versions/20260518_000042_db_hardening_ml_readiness.py
  backend/scripts/prove_analytics_capture_paths.py
Due: check-migration-enums

Fix Postgres analytics proof foreign key setup
  backend/scripts/prove_analytics_capture_paths.py
Due: none

Seed property for Postgres analytics proof
  backend/scripts/prove_analytics_capture_paths.py
Due: none

Seed project for Postgres analytics proof
  backend/scripts/prove_analytics_capture_paths.py
Due: none

Align due diligence test labels
  frontend/src/app/pages/due-diligence/DueDiligencePage.test.tsx
Due: check-ui-canon, prettier, eslint

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/
