Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

check-migration-enums:
  name: Check migration ENUM patterns
  entry: python3 scripts/check_migration_enums.py
  language: system
  pass_filenames: false

pdf-smoke-test:
  name: PDF generation smoke test
  entry: python3 scripts/smoke_test_pdfs.py
  language: system
  pass_filenames: false

check-enum-patterns:
  name: Check SQLAlchemy enum patterns have values_callable
  entry: python3 backend/scripts/check_enum_patterns.py
  language: system
  pass_filenames: true

check-documentation-whitelist:
  name: Documentation whitelist enforcement (Rule 14.2)
  entry: python3 scripts/check_documentation_whitelist.py
  language: system
  pass_filenames: false

check-ui-canon:
  name: UI canon enforcement (inline styles, hardcoded colors)
  entry: python3 scripts/check_ui_canon.py
  language: system
  pass_filenames: false

pip-audit:
  name: Dependency vulnerability scan (pip-audit)
  ...

mypy-critical:
  name: mypy (critical paths - blocks on new errors)
  entry: bash -c 'cd backend && ../.venv/bin/mypy app/api/ app/schemas/ --config-file=../mypy.ini --no-error-summary --exclude "(app/schemas/user\.py|app/api/v1/test_users\.py|app/schemas/buildable\.py|app/api/v1/users_secure\.py)"'
  language: system
  ...

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check'
  language: system

prettier-admin:
  name: prettier-admin
  entry: bash -c 'cd ui-admin && npx prettier --check'
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint'
  language: system

eslint-admin:
  name: eslint-admin
  entry: bash -c 'cd ui-admin && npx eslint'
  language: system

Polish intelligence and CAD surfaces
  frontend/src/components/agents/MarketIntelligenceDashboard.tsx
  frontend/src/components/agents/widgets/AbsorptionTrendsChart.tsx
  frontend/src/components/agents/widgets/ComparablesWidget.tsx
  frontend/src/components/agents/widgets/MarketCycleIndicator.tsx
  frontend/src/components/agents/widgets/MarketHeatmap.tsx
  frontend/src/components/agents/widgets/PipelineTimelineWidget.tsx
  frontend/src/components/agents/widgets/QuickInsights.tsx
  frontend/src/components/agents/widgets/YieldBenchmarkChart.tsx
  frontend/src/components/ai/AIAssistantChat.tsx
  frontend/src/components/ai/AIFloatingButton.tsx
  frontend/src/components/ai/AIInsightsPanel.tsx
  frontend/src/components/ai/DealScoreCard.tsx
  frontend/src/hooks/useInvestigationAnalytics.ts
  frontend/src/modules/agent-performance/AgentPerformancePage.tsx
  frontend/src/modules/agent-performance/components/PerformanceTrendsSection.tsx
  frontend/src/modules/cad/CadDetectionPreview.tsx
  frontend/src/modules/cad/CadUploader.tsx
  frontend/src/modules/cad/InteractiveFloorplate.tsx
  frontend/src/modules/cad/RoiSummary.tsx
  frontend/src/modules/cad/RulePackExplanationPanel.tsx
  frontend/src/pages/CadPipelinesPage.tsx
  frontend/src/pages/__tests__/AgentPerformancePage.analytics.integration.test.tsx
  frontend/src/pages/visualizations/AdvancedIntelligence.tsx
  frontend/src/pages/visualizations/__tests__/AdvancedIntelligence.test.tsx
  frontend/src/pages/visualizations/components/ConfidenceGauge.tsx
  frontend/src/pages/visualizations/components/CorrelationHeatmap.tsx
  frontend/src/pages/visualizations/components/KPITickerCard.tsx
  frontend/src/pages/visualizations/components/RelationshipGraph.tsx
  frontend/src/styles/agent-performance.css
  frontend/src/styles/cad.css
  frontend/src/styles/visualizations.css
Due: check-ui-canon, prettier, eslint

Stabilize shell context tests
  frontend/src/pages/__tests__/AgentPerformancePage.analytics.integration.test.tsx
  frontend/src/test/renderWithProviders.tsx
Due: check-ui-canon, prettier, eslint

Improve Capture rule ingestion and recommendation UX
  backend/app/api/v1/developers_gps.py
  backend/app/core/config.py
  backend/app/services/agents/gps_property_logger.py
  backend/app/services/agents/ura_integration.py
  backend/app/services/rules/__init__.py
  backend/app/services/rules/official_source_ingestion.py
  backend/app/services/rules/zone_rules.py
  backend/tests/services/test_gps_property_logger_helpers.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_services/test_official_source_ingestion.py
  backend/tests/test_services/test_ura_integration.py
  backend/tests/test_services/test_zone_rules.py
  frontend/src/api/siteAcquisition.capture.test.ts
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/capture/components/CaptureRecommendationSection.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/useStarterModelMemos.ts
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/capture/utils/captureResultV2.test.ts
  frontend/src/styles/gps-capture/core.css
Due: pdf-smoke-test, check-ui-canon, mypy-critical, prettier, eslint

Improve Capture rule resolution status
  backend/app/api/v1/developers_gps.py
  backend/app/services/rules/official_source_ingestion.py
  backend/app/services/rules/zone_rules.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_services/test_official_source_ingestion.py
  backend/tests/test_services/test_zone_rules.py
  frontend/src/app/pages/capture/components/CaptureRecommendationSection.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/useStarterModelMemos.ts
Due: check-ui-canon, mypy-critical, prettier, eslint

Resolve Capture step-back controls
  backend/app/api/v1/developers_gps.py
  backend/app/services/rules/official_source_ingestion.py
  backend/app/services/rules/zone_rules.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_services/test_official_source_ingestion.py
  backend/tests/test_services/test_zone_rules.py
  frontend/src/app/pages/capture/components/CaptureRecommendationSection.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/useStarterModelMemos.ts
Due: check-ui-canon, mypy-critical, prettier, eslint

Refine Capture official control workflow
  backend/app/api/v1/developers_gps.py
  backend/app/services/rules/zone_rules.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_services/test_zone_rules.py
  frontend/src/app/pages/capture/components/CaptureRecommendationSection.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/useStarterModelMemos.ts
Due: check-ui-canon, mypy-critical, prettier, eslint

Resolve Capture registry controls
  backend/app/services/rules/zone_rules.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_services/test_zone_rules.py
  frontend/src/app/pages/capture/components/CaptureRecommendationSection.tsx
Due: check-ui-canon, prettier, eslint

Resolve zoning layer deeper controls
  backend/app/services/rules/zone_rules.py
  backend/tests/test_services/test_zone_rules.py
Due: none

Checkpoint Capture address corrections
  backend/app/services/agents/gps_property_logger.py
  backend/app/services/agents/ura_integration.py
  backend/app/services/heritage_overlay.py
  backend/app/services/rules/zone_rules.py
  backend/tests/services/test_heritage_overlay_service.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_services/test_ura_integration.py
  backend/tests/test_services/test_zone_rules.py
  frontend/src/app/pages/capture/components/CaptureRecommendationSection.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/useStarterModelMemos.ts
  frontend/src/app/pages/capture/utils/captureResultV2.test.ts
  frontend/src/app/pages/capture/utils/captureResultV2.ts
Due: pdf-smoke-test, check-ui-canon, prettier, eslint

Fix CI migration dependency bridge
  backend/sqlalchemy/__init__.py
  backend/tests/test_core/test_sentry.py
Due: none

Fix test lint blockers
  tests/conftest.py
Due: none

Install async pytest plugin in test lint CI
  .github/workflows/lint.yml
Due: none

Fix CI workflow test environments
  .github/workflows/lint.yml
  .github/workflows/migration-validation.yaml
Due: none

Fix CI validation credentials and GPS unit source
  .github/workflows/migration-validation.yaml
  unit_tests/test_gps_property_logger.py
Due: none

Fix deal outcomes migration foreign key type
  backend/migrations/versions/a1b2c3d4e5f6_add_deal_outcomes_table.py
Due: check-migration-enums

Fix team migration UUID foreign keys
  backend/migrations/versions/20251207_000027_add_phase_2e_team_models.py
Due: check-migration-enums

Install dev test dependencies in migration validation
  .github/workflows/migration-validation.yaml
Due: none

Fix CI pre-commit environment
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/requirements.txt
  security/pip-audit-allowlist.txt
  ui-admin/vite.config.ts
Due: pip-audit, prettier-admin, eslint-admin

Exclude node modules from pre-commit hygiene hooks
  .pre-commit-config.yaml
Due: none

Fix frontend lint node setup in CI
  .github/workflows/ci.yml
Due: none

Remove fragile pnpm caching from CI
  .github/workflows/ci.yml
Due: none

Pin pnpm version for CI
  .github/workflows/ci.yml
Due: none

Use npm lockfile for frontend CI
  .github/workflows/ci.yml
Due: none

Fetch full history for CI type guardrails
  .github/workflows/ci.yml
Due: none

Align code quality gate Python version
  .github/workflows/code-quality-gate.yml
Due: none

Override Makefile venv defaults in CI
  .github/workflows/ci.yml
  .github/workflows/code-quality-gate.yml
Due: none

Set CI Tests env requirements and trim quality gate
  .github/workflows/ci.yml
  .github/workflows/code-quality-gate.yml
Due: none

Force local seeders in CI when no backend container
  .github/workflows/ci.yml
Due: none

Fix reference seed data blockers
  backend/scripts/seed_finance_demo.py
  backend/scripts/seed_properties_projects.py
  backend/tests/test_scripts/test_seed_reference_data.py
Due: none

Load model registry before property seeding
  backend/scripts/seed_properties_projects.py
  backend/tests/test_scripts/test_seed_reference_data.py
Due: none

Load model registry before watch fetch smoke
  backend/flows/watch_fetch.py
  backend/tests/test_flows/test_watch_fetch_flow.py
Due: none

Load model registry before parse segment flow
  backend/flows/parse_segment.py
  backend/tests/test_flows/test_parse_segment_flow.py
Due: none

Keep parse segment CLI on one event loop
  backend/flows/parse_segment.py
  backend/tests/test_flows/test_parse_segment_flow.py
Due: none

Harden health check for CI readiness
  backend/app/main.py
  backend/tests/test_api/test_health.py
Due: none

Capture uvicorn output to surface buildable smoke failure
  .github/workflows/ci.yml
Due: none

Fix smoke uvicorn PYTHONPATH for backend.* imports
  .github/workflows/ci.yml
Due: none

Poll preview job status instead of asserting on first response
  backend/tests/test_integration/test_preview_job_integration.py
Due: none

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/
