Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, prettier-admin, eslint, eslint-admin

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check'
  language: system

prettier-admin:
  name: prettier-admin
  entry: bash -c 'cd ui-admin && npx prettier --check'
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint'
  language: system

eslint-admin:
  name: eslint-admin
  entry: bash -c 'cd ui-admin && npx eslint'
  language: system

fix(test): resolve infinite loop in FinanceSensitivityControls test
  frontend/src/modules/finance/components/__tests__/FinanceSensitivityControls.test.tsx
Due: prettier, eslint

docs: add Level 2 detail specification for 3D preview enhancement
  docs/PHASE2B_VISUALISATION_STUB.MD
  docs/archive/FEATURE_DELIVERY_PLAN_V2.MD
Due: none

docs: consolidate phase-specific technical content into Feature Delivery Plan v2
  docs/archive/FEATURE_DELIVERY_PLAN_V2.MD
Due: none

docs: consolidate architecture documentation into single source of truth
  backend/migrations/versions/20251111_000024_add_fin_asset_breakdowns.py
  docs/ARCHITECTURE_REALITY_CHECK.md
  docs/architecture/data-models.md
Due: none

fix: update coding rules check to reference WORK_QUEUE.MD after consolidation
  scripts/check_coding_rules.py
  scripts/validate_delivery_plan.py
Due: none

feat: add documentation whitelist enforcement (Rule 14.2)
  .documentation-whitelist.yaml
  .pre-commit-config.yaml
  CODING_RULES.md
  scripts/check_documentation_whitelist.py
Due: none

docs: complete documentation consolidation - update all ROADMAP.MD references
  CONTRIBUTING.md
  Makefile
  README.md
  START_HERE.md
  docs/README.md
  docs/SOLO_FOUNDER_GUIDE.md
  docs/WORK_QUEUE.MD
  docs/ai-agents/claude.md
  docs/ai-agents/codex.md
  docs/ai-agents/next_steps.md
  docs/archive/documentation-consolidation/documentation_consolidation_strategy_archived_2025-11-12.md
  docs/archive/documentation-consolidation/validation_live_walkthrough_plan_archived_2025-11-12.md
  docs/archive/phase2c/phase2c_finance_delivery_plan_archived_2025-11-12.md
  docs/audits/PRE-PHASE-2D-AUDIT.MD
  docs/audits/THIRD_PARTY_AUDIT_GUIDE.md
  docs/development/AI_AGENT_ENFORCEMENT_GUIDE.md
  docs/development/testing/phase-1a-manual-qa-checklist.md
  docs/development/testing/phase-1b-manual-qa-checklist.md
  docs/development/testing/phase-1c-manual-qa-checklist.md
  docs/development/testing/phase-1d-manual-qa-checklist.md
  docs/development/testing/phase-2c-manual-qa-checklist.md
  docs/feature_delivery_plan_v2.md
  docs/handoff_playbook.md
  docs/jurisdiction_expansion_playbook.md
  docs/phase_1d_business_performance_design.md
  docs/planning/features.md
  docs/validation/live_testing_guide.md
  scripts/check_coding_rules.py
  scripts/check_phase_gate.py
  scripts/validate_delivery_plan.py
Due: none

fix(ui): resolve finance table overflow issues for NPV/IRR columns and tranche headers
  frontend/src/index.css
Due: prettier

fix(migrations): align ProjectType, ProjectPhase, and ApprovalStatus enums with Python models
  backend/migrations/versions/1c64fb33855c_update_projectphase_and_approvalstatus_.py
  backend/migrations/versions/a4d8de5a445b_update_projecttype_enum_to_lowercase.py
Due: none

feat(phase2b): complete 3D preview generator with GLTF export and inline job execution
  backend/app/api/deps.py
  backend/app/api/v1/developers.py
  backend/app/core/config.py
  backend/app/services/preview_generator.py
  backend/app/services/preview_jobs.py
  backend/jobs/preview_generate.py
  backend/tests/test_services/test_preview_generator.py
  backend/tests/test_services/test_preview_jobs.py
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/site-acquisition/DeveloperPreviewStandalone.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

feat(phase2c): add finance scenario privacy controls and asset breakdown API
  backend/app/api/v1/finance.py
  backend/scripts/seed_finance_demo.py
  backend/tests/test_api/test_finance_asset_breakdown.py
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/FinancePrivacyNotice.tsx
Due: prettier, eslint

docs: update Phase 2B/2C completion status and test results
  docs/WORK_QUEUE.MD
  docs/development/testing/summary.md
  docs/feature_delivery_plan_v2.md
Due: none

feat(phase2c): add frontend API client methods for DELETE and CSV export
  frontend/src/api/finance.ts
Due: prettier, eslint

feat(phase2c): add translations for delete and export CSV features
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
Due: prettier

feat(phase2b): add layer controls and metadata viewer to 3D preview
  backend/app/api/v1/developers.py
  backend/app/services/preview_generator.py
  backend/app/services/preview_jobs.py
  backend/jobs/preview_generate.py
  backend/tests/test_services/test_preview_generator.py
  backend/tests/test_services/test_preview_jobs.py
  frontend/src/app/components/site-acquisition/Preview3DViewer.tsx
  frontend/src/app/pages/site-acquisition/DeveloperPreviewStandalone.tsx
  frontend/src/index.css
Due: prettier, eslint

feat(phase2c): add delete scenario dialog and export CSV functionality
  backend/tests/test_api/test_finance_asset_breakdown.py
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ja.json
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/FinanceScenarioDeleteDialog.tsx
  frontend/src/modules/finance/components/FinanceScenarioTable.tsx
Due: prettier, eslint

fix(phase2b): apply color legend changes to GLTF materials
  backend/app/services/preview_generator.py
Due: none

fix(phase2b): use legend label in layer breakdown card titles
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

fix(phase2b): apply legend labels to preview metadata layer names
  backend/app/services/preview_generator.py
Due: none

fix(phase2b): apply title-casing to rendered layers table
  frontend/src/app/pages/site-acquisition/DeveloperPreviewStandalone.tsx
Due: prettier, eslint

fix(phase2b): apply title-casing to rendered layers table in site acquisition
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

fix(phase2b): apply title-casing to color legend editor headers
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

fix(phase2b): apply custom color legend labels consistently across all UI elements
  backend/app/api/v1/developers.py
  backend/app/services/preview_generator.py
  backend/app/services/preview_jobs.py
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/components/site-acquisition/Preview3DViewer.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/previewMetadata.ts
  frontend/src/modules/finance/FinanceWorkspace.tsx
  frontend/src/modules/finance/components/FinanceSensitivityControls.tsx
  frontend/src/modules/finance/components/FinanceSensitivitySummary.tsx
  frontend/src/modules/finance/components/__tests__/FinanceSensitivitySummary.test.tsx
  frontend/src/modules/finance/components/sensitivitySummary.ts
Due: prettier, eslint

fix(phase2b): restore asset type in layer breakdown subtitle for context
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

fix(phase2b): layer breakdown subtitle now reflects live color legend labels
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

fix(phase2b): enable reset to preview defaults button
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

fix(phase2b): reset button now correctly resets to preview metadata defaults
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

fix(phase2b): reset button preserves first preview baseline, never updates
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

fix(typescript): add non-null assertion for previewViewerMetadataUrl in fetch
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
Due: prettier, eslint

fix: resolve all TypeScript errors in frontend codebase
  frontend/src/api/finance.ts
  frontend/src/app/pages/site-acquisition/DeveloperPreviewStandalone.tsx
  frontend/src/app/pages/site-acquisition/previewMetadata.ts
Due: prettier, eslint

fix(mypy): improve type safety in heritage_overlay and asset_mix services
  backend/app/services/asset_mix.py
  backend/app/services/heritage_overlay.py
Due: none

fix(mypy): fix SQLAlchemy imports and add type annotations in base.py
  backend/app/models/base.py
Due: none

fix(mypy): fix dataclass typing and geometry dict invariance errors
  backend/_compat/dataclasses.py
  backend/app/core/models/geometry.py
Due: none

fix(mypy): improve type annotations in asset_mix.py
  backend/app/services/asset_mix.py
Due: none

fix(mypy): replace compat_dataclass with standard dataclass across codebase
  backend/app/api/deps.py
  backend/app/core/export/entitlements.py
  backend/app/core/metrics/roi.py
  backend/app/services/agents/advisory.py
  backend/app/services/compliance.py
  backend/app/services/entitlements.py
  backend/app/services/reference_sources.py
  backend/app/services/reference_storage.py
  backend/app/services/storage.py
Due: none

fix(mypy): replace _dataclass wrapper with standard dataclass in developer_condition_service
  backend/app/services/developer_condition_service.py
Due: none

fix(mypy): add type annotations to MetadataProxy and __repr__ methods
  backend/app/models/ai_agents.py
  backend/app/models/base.py
  backend/app/models/projects.py
  backend/app/models/singapore_property.py
  backend/app/models/users.py
Due: none

fix(mypy): add type annotations to database event listeners and PDF generator classes
  backend/app/core/database.py
  backend/app/services/agents/pdf_generator.py
Due: none

fix(mypy): add type annotations to middleware and test shims in main.py
  backend/app/main.py
  backend/app/middleware/security.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/
