Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

check-migration-enums:
  name: Check migration ENUM patterns
  entry: python3 scripts/check_migration_enums.py
  language: system
  pass_filenames: false

pdf-smoke-test:
  name: PDF generation smoke test
  entry: python3 scripts/smoke_test_pdfs.py
  language: system
  pass_filenames: false

check-enum-patterns:
  name: Check SQLAlchemy enum patterns have values_callable
  entry: python3 backend/scripts/check_enum_patterns.py
  language: system
  pass_filenames: true

check-documentation-whitelist:
  name: Documentation whitelist enforcement (Rule 14.2)
  entry: python3 scripts/check_documentation_whitelist.py
  language: system
  pass_filenames: false

check-ui-canon:
  name: UI canon enforcement (inline styles, hardcoded colors)
  entry: python3 scripts/check_ui_canon.py
  language: system
  pass_filenames: false

pip-audit:
  name: Dependency vulnerability scan (pip-audit)
  ...

mypy-critical:
  name: mypy (critical paths - blocks on new errors)
  entry: bash -c 'cd backend && ../.venv/bin/mypy app/api/ app/schemas/ --config-file=../mypy.ini --no-error-summary --exclude "(app/schemas/user\.py|app/api/v1/test_users\.py|app/schemas/buildable\.py|app/api/v1/users_secure\.py)"'
  language: system
  ...

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check'
  language: system

prettier-admin:
  name: prettier-admin
  entry: bash -c 'cd ui-admin && npx prettier --check'
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint'
  language: system

eslint-admin:
  name: eslint-admin
  entry: bash -c 'cd ui-admin && npx eslint'
  language: system

Drop unreachable coverage gate from smoke pytest step
  .github/workflows/ci.yml
Due: none

Override .coveragerc fail_under for smoke pytest step
  .github/workflows/ci.yml
Due: none

Stabilize frontend tests for CI
  frontend/src/api/__tests__/advisory.test.ts
  frontend/src/app/pages/projects/ProjectListPage.test.tsx
  frontend/src/app/pages/regulatory/__tests__/RegulatoryDashboardPage.test.tsx
  frontend/src/app/pages/site-acquisition/components/__tests__/VoiceObservationsPanel.test.tsx
  frontend/src/app/pages/team/__tests__/TeamManagementPage.test.tsx
  frontend/src/app/pages/team/components/__tests__/WorkflowDashboard.test.tsx
  frontend/src/components/layout/Breadcrumbs.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/TopNav.tsx
  frontend/src/contexts/useProject.ts
  frontend/src/hooks/useNavGroups.ts
  frontend/src/modules/feasibility/__tests__/FeasibilityWizardCompute.test.tsx
  frontend/src/modules/finance/components/__tests__/FinanceStackAndDrawdown.test.tsx
  frontend/src/pages/__tests__/AgentsGpsCapturePage.test.tsx
Due: check-ui-canon, prettier, eslint

Fix E2E runner module mode
  frontend/scripts/run-e2e.js
Due: prettier, eslint

Retry CI database migrations
  .github/workflows/ci.yml
Due: none

Fix Playwright config for ESM
  frontend/playwright.config.ts
Due: prettier, eslint

Fix Playwright backend server command
  frontend/playwright.config.ts
Due: prettier, eslint

Use npm for Playwright frontend server
  frontend/playwright.config.ts
Due: prettier, eslint

Prefer installed Playwright cache in CI
  frontend/scripts/run-e2e.js
Due: prettier, eslint

Use CI Playwright browser cache directly
  frontend/scripts/run-e2e.js
Due: prettier, eslint

Fix frontend E2E CI preview flow
  .github/workflows/ci.yml
  frontend/tests/e2e/agent-advisory.spec.ts
  frontend/tests/e2e/feasibility-wizard.spec.ts
  frontend/tests/e2e/feasibility_advisories.spec.ts
Due: prettier, eslint

Capture Playwright failure diagnostics
  frontend/playwright.config.ts
  frontend/tests/e2e/agent-advisory.spec.ts
  frontend/tests/e2e/feasibility-wizard.spec.ts
  frontend/tests/e2e/feasibility_advisories.spec.ts
  frontend/tests/e2e/support/diagnostics.ts
Due: prettier, eslint

Drop manualChunks: every split produces a runtime TDZ
  frontend/vite.config.ts
Due: prettier, eslint

Allow preview origin in Playwright-launched backend CORS
  frontend/playwright.config.ts
Due: prettier, eslint

Drive MUI Sentiment select via click+option in E2E
  frontend/tests/e2e/agent-advisory.spec.ts
Due: prettier, eslint

Tighten advisory assertion + restore efficiency input id
  frontend/src/modules/feasibility/components/AssumptionsPanel.tsx
  frontend/tests/e2e/agent-advisory.spec.ts
Due: check-ui-canon, prettier, eslint

Add CI workflow hygiene guardrails
  .github/workflows/auto-format.yml
  .github/workflows/code-quality-gate.yml
  .github/workflows/duplicate-scan.yml
  .github/workflows/infra-tests.yml
  .github/workflows/lint-prod.yml
  .github/workflows/lint.yml
  .github/workflows/migration-validation.yaml
  .github/workflows/migrations-audit.yml
  .github/workflows/production-readiness-gate.yml
  .github/workflows/security-scan.yml
  .gitignore
  tests/test_ci_workflows.py
Due: none

Improve Singapore Capture geocoding
  .env.example
  Makefile
  backend/app/api/v1/developers_gps.py
  backend/app/api/v1/geocoding.py
  backend/app/core/config.py
  backend/app/services/geocoding.py
  backend/tests/services/test_geocoding_service.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_core/test_config.py
  docs/SECURITY.md
  docs/jurisdictions/sg.md
  docs/runbooks/production-deployment.md
  frontend/src/api/geocoding.test.ts
  frontend/src/api/geocoding.ts
  frontend/src/app/pages/capture/UnifiedCapturePage.test.tsx
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/styles/gps-capture/core.css
  infra/secrets/README.md
Due: check-documentation-whitelist, check-ui-canon, mypy-critical, prettier, eslint

Fix CI reference smoke setup
  .github/workflows/ci.yml
  .github/workflows/infra-tests.yml
  backend/flows/watch_fetch.py
  backend/tests/test_flows/test_watch_fetch_flow.py
Due: none

Install backend deps for infra pytest jobs
  .github/workflows/infra-tests.yml
Due: none

Fix Helm CI test selection
  .github/workflows/infra-tests.yml
Due: none

Fix backup script shellcheck warnings
  infra/backup/backup.sh
  infra/backup/restore.sh
Due: none

Improve Singapore Capture geocoding
  .env.example
  .github/workflows/ci.yml
  .github/workflows/infra-tests.yml
  Makefile
  backend/app/api/v1/developers_gps.py
  backend/app/api/v1/geocoding.py
  backend/app/core/config.py
  backend/app/services/geocoding.py
  backend/flows/watch_fetch.py
  backend/tests/services/test_geocoding_service.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_core/test_config.py
  backend/tests/test_flows/test_watch_fetch_flow.py
  docs/SECURITY.md
  docs/jurisdictions/sg.md
  docs/runbooks/production-deployment.md
  frontend/src/api/geocoding.test.ts
  frontend/src/api/geocoding.ts
  frontend/src/app/pages/capture/UnifiedCapturePage.test.tsx
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/styles/gps-capture/core.css
  infra/backup/backup.sh
  infra/backup/restore.sh
  infra/secrets/README.md
Due: check-documentation-whitelist, check-ui-canon, mypy-critical, prettier, eslint

Tune SQLAlchemy pool and document PgBouncer trigger
  .env.example
  CLAUDE.md
  backend/app/core/async_db.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/utils/singapore_compliance.py
  backend/scripts/seed_hong_kong_rules.py
  backend/scripts/seed_new_zealand_rules.py
  backend/scripts/seed_seattle_rules.py
  backend/scripts/seed_toronto_rules.py
  docs/runbooks/production-deployment.md
Due: check-documentation-whitelist

Preserve deal outcome audit trail when recorder is deleted
  backend/app/api/v1/deal_outcomes.py
  backend/app/models/deal_outcome.py
  backend/app/schemas/deal_outcome.py
  backend/app/services/deal_outcomes.py
  backend/migrations/versions/b2c3d4e5f6a7_alter_deal_outcomes_recorded_by.py
  backend/tests/test_api/test_deal_outcomes.py
Due: check-migration-enums, check-enum-patterns, mypy-critical

Add footprint area and surface URA control-automation dependencies
  backend/app/api/v1/developers_common.py
  backend/app/api/v1/developers_gps.py
  backend/app/services/preview_generator.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_services/test_preview_generator.py
Due: mypy-critical

Render envelope starter model and surface technical brief
  frontend/src/api/siteAcquisition.capture.test.ts
  frontend/src/api/siteAcquisition.previewJobs.test.ts
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/components/site-acquisition/Preview3DViewer.tsx
  frontend/src/app/components/site-acquisition/previewFallbackMassing.test.ts
  frontend/src/app/components/site-acquisition/previewFallbackMassing.ts
  frontend/src/app/pages/capture/UnifiedCapturePage.test.tsx
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/components/CaptureRecommendationSection.tsx
  frontend/src/app/pages/capture/components/ConceptPreviewSection.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/capture/components/useStarterModelMemos.ts
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
Due: check-ui-canon, prettier, eslint

Add missing token aliases flagged by check_design_tokens.py
  core/design-tokens/tokens.css
Due: none

Harden deal outcome service: scenario reuse and audit coverage
  backend/app/services/deal_outcomes.py
  backend/tests/test_api/test_deal_outcomes.py
Due: none

Remove orphan dev artifacts and ignore coverage outputs
  .env
  .gitignore
  FLOOR_UNIT_DETECTION_TEST.html
  coverage.json
  coverage_new.json
  coverage_summary.txt
  create_demo_via_fixture.py
  create_test_property.py
  debug_import.py
Due: none

Rename _api-suffixed routers to drop the suffix
  backend/app/api/v1/__init__.py
  backend/app/api/v1/projects.py
  backend/app/api/v1/singapore_properties.py
  backend/tests/test_api/test_ai_imports.py
  backend/tests/test_api/test_projects.py
  backend/tests/test_api/test_singapore_properties.py
Due: mypy-critical

Clear backend mypy errors and fix mypy.ini section syntax
  backend/app/api/v1/deal_outcomes.py
  backend/app/models/rkp.py
  config/type_safety/guardrails.toml
  mypy.ini
  pyproject.toml
Due: check-enum-patterns, mypy-critical

Drop unused sync compliance wrappers
  backend/app/utils/singapore_compliance.py
  backend/tests/test_utils/test_singapore_compliance.py
  backend/tests/utils/test_singapore_compliance.py
Due: none

Replace eval() and hasattr/value with safer idioms
  backend/app/services/ai/workflow_engine.py
  backend/app/services/team/team_service.py
Due: none

Guard official-source-gap entries against null records
  frontend/src/app/pages/capture/components/useStarterModelMemos.ts
Due: prettier, eslint

Migrate remaining datetime.utcnow callers to _compat.utcnow
  backend/app/api/v1/finance_export.py
  backend/app/models/development_phase.py
  backend/app/services/developer_checklist_service.py
  backend/app/services/mock_corenet.py
  backend/app/services/regulatory_service.py
Due: check-enum-patterns, mypy-critical

Apply Black formatting and follow database.resolve_database_url rename
  unit_tests/test_compliance_api.py
  unit_tests/test_core_database.py
  unit_tests/test_integration_clients.py
  unit_tests/test_users_routes.py
  unit_tests/test_utils_cache_metrics.py
Due: none

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/
