Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, prettier-admin, eslint, eslint-admin

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: audit-migrations
      name: audit-migrations
      entry: python3 scripts/audit_migrations.py
      language: system
      pass_filenames: false

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
    - id: check-merge-conflict

- repo: https://github.com/psf/black
  rev: 24.8.0  # MUST match requirements.txt and requirements-dev.txt
  hooks:
    - id: black
      args: ["--line-length=88"]
      files: ^(backend|app|core|db|jurisdictions|scripts|tests|uvicorn_app|prefect|jobs|samples)/

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
    - id: ruff
      args: ["--fix"]
      files: ^(backend|app|core|db|jurisdictions|scripts|tests|uvicorn_app|prefect|jobs|samples)/

- repo: https://github.com/PyCQA/flake8
  rev: 7.1.1
  hooks:
    - id: flake8
      additional_dependencies: [flake8-bugbear==24.8.19]
      files: ^(backend/tests|tests)/

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.7.1
  hooks:
    - id: mypy
      name: mypy-backend
      files: ^backend/
      args: [--config-file=mypy.ini]
      pass_filenames: false
      additional_dependencies:
        - fastapi==0.104.1
        - uvicorn[standard]==0.24.0
        - pydantic[email]==2.5.0
        - pydantic==2.5.0
        - sqlalchemy[asyncio]==2.0.23
        - asyncpg==0.29.0
        - alembic==1.13.0
        - python-multipart==0.0.6
        - python-jose[cryptography]==3.3.0
        - passlib[bcrypt]==1.7.4
        - httpx==0.25.2
        - python-dateutil==2.8.2
        - prefect==2.14.10
        - structlog==23.2.0
        - prometheus-client==0.19.0

- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: bash -c 'cd frontend && npx prettier --check'
      language: system
      files: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$
      exclude: ^frontend/node_modules/
    - id: prettier-admin
      name: prettier-admin
      entry: bash -c 'cd ui-admin && npx prettier --check'
      language: system
      files: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$
      exclude: ^ui-admin/node_modules/

- repo: local
  hooks:
    - id: eslint
      name: eslint
      entry: bash -c 'cd frontend && npx eslint'
      language: system
      files: ^frontend/.*\.(js|jsx|ts|tsx)$
      exclude: ^frontend/node_modules/
    - id: eslint-admin
      name: eslint-admin
      entry: bash -c 'cd ui-admin && npx eslint'
      language: system
      files: ^ui-admin/.*\.(js|jsx|ts|tsx)$
      exclude: ^ui-admin/node_modules/

# Temporarily disabled due to SSL certificate issues
# - repo: https://github.com/gitleaks/gitleaks
#   rev: v8.18.4
#   hooks:
#     - id: gitleaks
#       args: ["protect", "--verbose", "--redact", "--staged"]

type: add missing function parameter and return annotations (71 errors fixed)
  backend/app/core/export/entitlements.py
  backend/app/services/developer_checklist_service.py
  backend/app/services/entitlements.py
Due: none

type: add return annotations to agent service methods (5 errors fixed)
  backend/app/schemas/finance.py
  backend/app/services/agents/gps_property_logger.py
  backend/app/services/agents/photo_documentation.py
  backend/app/services/agents/ura_integration.py
  backend/app/services/geocoding.py
Due: none

type: add return annotations to agent services and test API (12 errors fixed)
  backend/app/api/v1/test_users.py
  backend/app/services/agents/development_potential_scanner.py
  backend/app/services/agents/investment_memorandum.py
  backend/app/services/agents/market_data_service.py
  backend/app/services/agents/market_intelligence_analytics.py
  backend/app/services/agents/marketing_materials.py
Due: none

fix: use camelCase field names for Pydantic response models (20 errors fixed)
  backend/app/api/v1/developers.py
Due: none

refactor(type-checking): add mypy enforcement infrastructure and fix linting errors
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  backend/app/api/v1/deals.py
  backend/app/api/v1/developers.py
  backend/app/api/v1/entitlements.py
  backend/app/api/v1/finance.py
  backend/app/api/v1/listings.py
  backend/app/api/v1/projects_api.py
  backend/app/api/v1/singapore_property_api.py
  backend/app/api/v1/users_db.py
  backend/app/api/v1/users_secure.py
  backend/app/core/geometry/utils.py
  backend/app/schemas/deals.py
  backend/app/services/agents/development_potential_scanner.py
  backend/app/services/agents/pdf_generator.py
  backend/app/services/buildable.py
  backend/app/services/deals/commission.py
  backend/app/services/deals/pipeline.py
  backend/app/services/developer_checklist_service.py
  backend/app/services/entitlements.py
  backend/app/services/integrations/accounts.py
  backend/app/services/preview_generator.py
  backend/app/services/preview_jobs.py
  backend/app/utils/singapore_compliance.py
  backend/tests/test_api/test_finance_asset_breakdown.py
  docs/WORK_QUEUE.MD
  docs/development/testing/known-issues.md
  docs/feature_delivery_plan_v2.md
  mypy.ini
Due: none

fix(deps): resolve all npm audit vulnerabilities (3 moderate → 0)
  docs/all_steps_to_product_completion.md
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat: enable mypy plugins and complete Phase 2C finance exports
  backend/app/api/v1/finance.py
  backend/app/services/preview_generator.py
  backend/requirements.txt
  backend/tests/test_api/test_finance_asset_breakdown.py
  docs/all_steps_to_product_completion.md
  mypy.ini
Due: none

feat(finance): add sensitivity job deduplication and Linux validation guide
  .documentation-whitelist.yaml
  backend/app/api/v1/finance.py
  backend/app/core/config.py
  backend/tests/test_api/test_finance_asset_breakdown.py
  docs/all_steps_to_product_completion.md
  docs/validation/finance_sensitivity_linux.md
Due: none

Align compliance imports with shared model
  backend/app/api/v1/singapore_property_api.py
  backend/app/models/__init__.py
  backend/app/models/compliance.py
  backend/app/models/singapore_property.py
  backend/app/schemas/property.py
  backend/app/services/compliance.py
  backend/app/utils/singapore_compliance.py
  backend/flows/compliance_flow.py
  backend/tests/services/test_compliance_service_unit.py
  backend/tests/test_api/test_compliance.py
  backend/tests/test_api/test_singapore_property_api.py
  backend/tests/test_services/test_compliance.py
  backend/tests/test_utils/test_singapore_compliance.py
  docker-compose.yml
  docs/ARCHITECTURE_REALITY_CHECK.md
  docs/all_steps_to_product_completion.md
Due: none

Document rate limit storage and harden checks
  .env.example
  backend/app/core/config.py
  backend/app/main.py
  backend/requirements.txt
  backend/tests/test_core/test_rate_limiting.py
Due: none

feat(phase2c): complete finance sensitivity validation
  docs/all_steps_to_product_completion.md
  scripts/run_finance_sensitivity_validation.sh
  scripts/validate_finance_sensitivity_docker.sh
  scripts/validate_finance_sensitivity_linux.sh
  scripts/validate_finance_sensitivity_macos.sh
  validation_results_phase2c_20251118.md
Due: none

docs: update Phase 2B status to COMPLETE in progress snapshot
  docs/all_steps_to_product_completion.md
Due: none

feat(preview): add preview validation infrastructure and duration monitoring
  .documentation-whitelist.yaml
  backend/app/api/v1/developers.py
  backend/app/services/developer_checklist_service.py
  backend/scripts/preview_duration_report.py
  docs/all_steps_to_product_completion.md
  docs/validation/preview_async_linux.md
  frontend/src/app/pages/site-acquisition/DeveloperPreviewStandalone.tsx
  frontend/src/app/pages/site-acquisition/previewMetadata.ts
  frontend/src/index.css
  scripts/validate_preview_async_linux.sh
Due: prettier, eslint

feat(hk): add Hong Kong jurisdiction support with WFS zoning ingestion
  .documentation-whitelist.yaml
  .env.example
  .gitignore
  backend/app/core/config.py
  backend/app/services/overlay_ingest.py
  backend/requirements.txt
  backend/scripts/ingest_hk_zones.py
  backend/tests/test_hk_jurisdiction.py
  data/hk_market_assumptions.yaml
  docs/jurisdiction_expansion_playbook.md
  docs/jurisdictions/hk.md
Due: none

feat(security): add comprehensive security guardrails
  .pre-commit-config.yaml
  backend/app/api/v1/users_secure.py
  backend/app/main.py
  backend/app/middleware/request_guards.py
  backend/app/services/account_lockout.py
  backend/app/services/agents/photo_documentation.py
  backend/requirements.txt
  bandit.yaml
  mypy.ini
Due: none

fix: resolve PostgreSQL ENUM type mismatch for property_type
  backend/app/models/market.py
  backend/migrations/versions/9e6cabd1ec16_drop_unused_propertytype_enum.py
Due: none

feat(hk): complete HK jurisdiction support with GPS flow and finance integration
  backend/app/api/v1/developers.py
  backend/app/api/v1/finance.py
  backend/app/data/jurisdictions.json
  backend/app/models/property.py
  backend/app/schemas/finance.py
  backend/app/services/agents/gps_property_logger.py
  backend/app/services/jurisdictions.py
  backend/app/services/overlay_ingest.py
  backend/app/services/preview_jobs.py
  backend/migrations/versions/20251118_000025_add_property_jurisdiction.py
  backend/migrations/versions/8706cd5fd7e5_merge_hk_jurisdiction_heads.py
  backend/scripts/ingest_hk_parcels.py
  backend/scripts/ingest_hk_zones.py
  backend/scripts/seed_properties_projects.py
  backend/tests/fixtures/hk/lots_sample.geojson
  backend/tests/fixtures/hk/regulated_area_sample.geojson
  backend/tests/test_hk_jurisdiction.py
  backend/tests/test_scripts/test_ingest_hk_parcels.py
  backend/tests/test_scripts/test_ingest_hk_zones.py
  docs/ai-agents/next_steps.md
  docs/all_steps_to_product_completion.md
  docs/audits/PRE-PHASE-2D-AUDIT.MD
  docs/development/testing/phase-1d-manual-qa-checklist.md
  docs/jurisdiction_expansion_playbook.md
  docs/jurisdictions/hk.md
  docs/validation/preview_async_linux.md
Due: none

feat(nz): add New Zealand jurisdiction support
  .documentation-whitelist.yaml
  .env.example
  backend/app/core/config.py
  backend/app/data/jurisdictions.json
  backend/app/services/overlay_ingest.py
  backend/scripts/ingest_nz_parcels.py
  backend/scripts/ingest_nz_zones.py
  backend/scripts/seed_properties_projects.py
  backend/tests/test_nz_jurisdiction.py
  data/nz_finance_scenario_payload.json
  data/nz_market_assumptions.yaml
  docs/jurisdictions/nz.md
Due: none

feat(gps): add jurisdiction selector to GPS capture UI
  backend/app/api/v1/agents.py
  backend/app/services/agents/gps_property_logger.py
  frontend/src/api/agents.ts
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
Due: prettier, eslint

feat(sg): add Singapore parcel ingestion infrastructure
  backend/scripts/ingest_sg_parcels.py
  backend/tests/test_scripts/test_ingest_sg_parcels.py
  docs/jurisdictions/sg.md
Due: none

feat: add seattle ingestion scaffolding and canonical tech debt doc
  .documentation-whitelist.yaml
  .env.example
  backend/app/core/config.py
  backend/app/services/overlay_ingest.py
  backend/scripts/ingest_seattle_parcels.py
  backend/scripts/ingest_seattle_zones.py
  backend/scripts/seed_properties_projects.py
  backend/tests/test_seattle_jurisdiction.py
  docs/TECHNICAL_DEBT.md
  docs/archive/TECHNICAL_DEBT.MD
  docs/jurisdictions/seattle.md
Due: none

feat(security): production readiness - upgrade dependencies and add automated scanning
  .coding-rules-exceptions.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  backend/app/api/v1/singapore_property_api.py
  backend/requirements.txt
  docs/all_steps_to_product_completion.md
Due: none

feat(seattle): add data directory with download instructions
  data/seattle/.gitkeep
  data/seattle/README.md
Due: none

chore: gitignore Seattle and NZ geospatial data files
  .gitignore
Due: none

chore: jurisdiction data directory cleanup
  .gitignore
  backend/scripts/ingest_nz_zones.py
  data/seattle/README.md
Due: none

feat(jurisdictions): complete NZ and Seattle expansion validation
  backend/app/data/jurisdictions.json
  docs/all_steps_to_product_completion.md
Due: none

docs(data): add HK and NZ data directory READMEs
  data/hk/README.md
  data/nz/README.md
Due: none

feat(ui): add Seattle jurisdiction to GPS capture dropdown
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
Due: prettier, eslint

docs: update Phase 2A status to IN PROGRESS with FEATURES.md gap tracking
  docs/all_steps_to_product_completion.md
Due: none

docs: add comprehensive Toronto dataset documentation
  data/toronto/README.md
Due: none

feat(toronto): add Toronto jurisdiction with CAD market data
  backend/app/data/jurisdictions.json
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
Due: prettier, eslint

fix(toronto): recognize Toronto zoning field names (ZN_ZONE, GEN_ZONE, _id)
  backend/scripts/ingest_toronto_zones.py
Due: none

feat(toronto): add parcels ingestion script and documentation
  .documentation-whitelist.yaml
  backend/scripts/ingest_toronto_parcels.py
  backend/tests/test_toronto_jurisdiction.py
  docs/jurisdictions/toronto.md
Due: none

refactor(frontend): modularize index.css into 10 feature-based CSS modules
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/styles/agent-performance.css
  frontend/src/styles/agents-capture.css
  frontend/src/styles/app-shell.css
  frontend/src/styles/business-performance.css
  frontend/src/styles/cad.css
  frontend/src/styles/core.css
  frontend/src/styles/developer-preview.css
  frontend/src/styles/feasibility.css
  frontend/src/styles/finance.css
  frontend/src/styles/gps-capture.css
  frontend/src/styles/index.css
Due: prettier, eslint

refactor(frontend): modularize SiteAcquisitionPage from 7,135 to 2,344 lines
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/PropertyCaptureForm.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/index.ts
  frontend/src/app/pages/site-acquisition/components/checklist/DueDiligenceChecklistSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentEditor.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/index.ts
  frontend/src/app/pages/site-acquisition/components/inspection-history/HistoryCompareView.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/HistoryTimelineView.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/InspectionHistoryContent.tsx
  frontend/src/app/pages/site-acquisition/components/inspection-history/index.ts
  frontend/src/app/pages/site-acquisition/components/modals/InspectionHistoryModal.tsx
  frontend/src/app/pages/site-acquisition/components/modals/QuickAnalysisHistoryModal.tsx
  frontend/src/app/pages/site-acquisition/components/modals/index.ts
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/index.ts
  frontend/src/app/pages/site-acquisition/components/property-overview/PropertyOverviewSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/index.ts
  frontend/src/app/pages/site-acquisition/components/scenario-focus/ScenarioFocusSection.tsx
  frontend/src/app/pages/site-acquisition/components/scenario-focus/index.ts
  frontend/src/app/pages/site-acquisition/constants.ts
  frontend/src/app/pages/site-acquisition/hooks/index.ts
  frontend/src/app/pages/site-acquisition/hooks/useChecklist.ts
  frontend/src/app/pages/site-acquisition/hooks/useConditionAssessment.ts
  frontend/src/app/pages/site-acquisition/hooks/useGeocoding.ts
  frontend/src/app/pages/site-acquisition/hooks/usePreviewJob.ts
  frontend/src/app/pages/site-acquisition/hooks/usePropertyCapture.ts
  frontend/src/app/pages/site-acquisition/hooks/useScenarioComparison.ts
  frontend/src/app/pages/site-acquisition/types.ts
  frontend/src/app/pages/site-acquisition/utils/draftBuilders.ts
  frontend/src/app/pages/site-acquisition/utils/formatters.ts
  frontend/src/app/pages/site-acquisition/utils/index.ts
  frontend/src/app/pages/site-acquisition/utils/insights.ts
Due: prettier, eslint

refactor(frontend): modularize FeasibilityWizard and AgentPerformancePage
  frontend/src/modules/agent-performance/AgentPerformancePage.tsx
  frontend/src/modules/agent-performance/components/TimelinePanel.tsx
  frontend/src/modules/agent-performance/components/index.ts
  frontend/src/modules/agent-performance/hooks/index.ts
  frontend/src/modules/agent-performance/hooks/useAnalytics.ts
  frontend/src/modules/agent-performance/hooks/useBenchmarks.ts
  frontend/src/modules/agent-performance/hooks/useDeals.ts
  frontend/src/modules/agent-performance/hooks/useTimeline.ts
  frontend/src/modules/agent-performance/index.ts
  frontend/src/modules/agent-performance/types/index.ts
  frontend/src/modules/agent-performance/utils/formatters.ts
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/feasibility/components/AddressForm.tsx
  frontend/src/modules/feasibility/components/AdvisoryView.tsx
  frontend/src/modules/feasibility/components/AssetMixView.tsx
  frontend/src/modules/feasibility/components/AssumptionsPanel.tsx
  frontend/src/modules/feasibility/components/MetricsView.tsx
  frontend/src/modules/feasibility/components/PackGenerationPanel.tsx
  frontend/src/modules/feasibility/components/ResultsPanel.tsx
  frontend/src/modules/feasibility/components/index.ts
  frontend/src/modules/feasibility/hooks/index.ts
  frontend/src/modules/feasibility/hooks/useAssumptions.ts
  frontend/src/modules/feasibility/hooks/useFeasibilityCompute.ts
  frontend/src/modules/feasibility/hooks/usePackGeneration.ts
  frontend/src/modules/feasibility/types/index.ts
  frontend/src/modules/feasibility/utils/formatters.ts
  frontend/src/pages/AgentPerformancePage.tsx
Due: prettier, eslint

refactor(backend): split finance.py into domain-focused modules (3,291 → 5 files)
  backend/app/api/v1/__init__.py
  backend/app/api/v1/finance.py
  backend/app/api/v1/finance_common.py
  backend/app/api/v1/finance_export.py
  backend/app/api/v1/finance_feasibility.py
  backend/app/api/v1/finance_jobs.py
  backend/app/api/v1/finance_scenarios.py
  backend/tests/test_api/test_finance_helpers.py
  backend/tests/test_api/test_finance_internal.py
Due: none

refactor(backend): split finance.py into domain-focused modules (3,291 → 5 files)
  frontend/src/api/geocoding.ts
Due: prettier, eslint

feat(gps-capture): add feature toggles and modularize GPS capture components
  .env.example
  .gitignore
  CODING_RULES.md
  backend/app/api/v1/agents.py
  backend/app/core/config.py
  backend/app/services/overlay_ingest.py
  docs/jurisdiction_expansion_playbook.md
  frontend/src/api/agents.ts
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/components/gps-capture/AssetOptimizationSummary.tsx
  frontend/src/app/components/gps-capture/FeatureTogglePanel.tsx
  frontend/src/app/components/gps-capture/FinancialSummaryCard.tsx
  frontend/src/app/components/gps-capture/HeritageContextCard.tsx
  frontend/src/app/components/gps-capture/index.ts
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/hooks/useFeaturePreferences.ts
  frontend/src/pages/AgentsGpsCapturePage.tsx
Due: prettier, eslint
