Repository WSG23/optimal_build: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-enums, pdf-smoke-test, check-enum-patterns, check-documentation-whitelist, check-ui-canon, pip-audit, mypy-critical, prettier, prettier-admin, eslint, eslint-admin

Path conditions:
  check-migration-enums: any of: ^(backend/)?migrations/versions/.*\.py$
  pdf-smoke-test: any of: ^backend/app/(services/agents|api/v1/agents).*\.(py)$
  check-enum-patterns: any of: ^backend/app/models/.*\.py$
  check-documentation-whitelist: any of: ^docs/.*\.md$
  check-ui-canon: any of: ^frontend/src/.*\.(tsx|css)$
  pip-audit: any of: ^backend/requirements.*\.txt$
  mypy-critical: any of: ^backend/app/(api|schemas)/ and \.py$ and not (^backend/app/(schemas/user\.py|api/v1/test_users\.py|schemas/buildable\.py|api/v1/users_secure\.py)$)
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^frontend/node_modules/
  prettier-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx|css|json|md)$, but not: ^ui-admin/node_modules/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/node_modules/
  eslint-admin: any of: ^ui-admin/.*\.(js|jsx|ts|tsx)$, but not: ^ui-admin/node_modules/

refactor(site-acquisition): canonicalize components with design tokens
  core/design-tokens/tokens.css
  frontend/src/api/client.ts
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/advisory/SalesVelocityCard.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/PropertyCaptureForm.tsx
  frontend/src/app/pages/site-acquisition/components/checklist/DueDiligenceChecklistSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentSection.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PropertyOverviewSection.tsx
  frontend/src/app/pages/site-acquisition/components/scenario-focus/ScenarioFocusSection.tsx
  frontend/src/main.tsx
  frontend/src/modules/cad/CadUploader.tsx
  frontend/src/modules/cad/RulePackExplanationPanel.tsx
  frontend/src/pages/CadUploadPage.tsx
  frontend/src/styles/advisory.css
  frontend/src/styles/site-acquisition.css
Due: check-ui-canon, prettier, eslint

docs(ux): add 4 UX friction points and solutions from AI Studio
  frontend/UX_ARCHITECTURE.md
Due: prettier

feat(site-acquisition): implement UX friction solutions for Property Overview
  frontend/src/app/components/AppNavigation.tsx
  frontend/src/app/layout/BaseLayoutContext.tsx
  frontend/src/app/layout/baseLayoutContextDef.ts
  frontend/src/app/layout/useBaseLayout.ts
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/AIInsightPanel.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/AssetMixChart.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/ProcessingStatusCard.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PropertyOverviewSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/StatCard.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/index.ts
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/HeaderUtilityCluster.tsx
  frontend/src/components/layout/TopUtilityMenu.tsx
  frontend/src/components/layout/YosaiShell.tsx
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/contexts/DeveloperContext.tsx
  frontend/src/contexts/developerContextDef.ts
  frontend/src/contexts/useDeveloperMode.ts
  frontend/src/modules/finance/components/FinanceScenarioCreator.tsx
  frontend/src/pages/visualizations/__tests__/AdvancedIntelligence.test.tsx
  start-dev.sh
Due: check-ui-canon, prettier, eslint

docs: major documentation cleanup and AI agent enforcement improvements
  .windsurfrules
  AGENTS.md
  CLAUDE.md
  CODING_RULES.md
  GEMINI.md
  MCP.md
  README.md
  START_HERE.md
  backend/app/api/v1/developers_common.py
  backend/app/api/v1/developers_gps.py
  backend/app/models/projects.py
  backend/app/models/property.py
  backend/app/models/workflow.py
  backend/app/services/finance_project_creation.py
  backend/app/services/rules/__init__.py
  backend/app/services/rules/zone_rules.py
  backend/migrations/versions/20251230_000039_add_property_project_link.py
  backend/tests/test_api/test_developer_site_acquisition.py
  docs/ai-agents/README.md
  docs/ai-agents/claude.md
  docs/all_steps_to_product_completion.md
  docs/architecture/api-endpoints.md
  docs/archive/CODING_RULES_detailed_archived_2025-12-30.md
  docs/archive/ENUM_MISMATCH_ANALYSIS_archived_2025-12-30.md
  docs/archive/README.md
  docs/archive/TEST_ISOLATION_ANALYSIS_archived_2025-12-30.md
  docs/archive/design-token-audit_archived_2025-12-30.md
  docs/archive/validation_results_phase2c_20251118_archived_2025-12-30.md
  docs/mcp/README.md
  frontend/UX_ARCHITECTURE.md
  frontend/src/api/siteAcquisition.ts
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/AIInsightPanel.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/AssetMixChart.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/ProcessingStatusCard.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PropertyOverviewSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/__tests__/PropertyOverviewSection.test.tsx
  frontend/src/app/pages/site-acquisition/utils/cardBuilders.ts
  frontend/src/modules/finance/FinanceWorkspace.tsx
Due: check-migration-enums, check-enum-patterns, check-documentation-whitelist, check-ui-canon, mypy-critical, prettier, eslint

fix(layout): resolve scroll lock and paint blocking on Site Acquisition
  frontend/src/app/layout/BaseLayout.tsx
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/InspectionHistorySummary.tsx
  frontend/src/app/pages/site-acquisition/components/MassingLayersPanel.tsx
  frontend/src/app/pages/site-acquisition/components/OptimalIntelligenceCard.tsx
  frontend/src/app/pages/site-acquisition/components/VoiceObservationsPanel.tsx
  frontend/src/app/pages/site-acquisition/components/advisory/SalesVelocityCard.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/PropertyCaptureForm.tsx
  frontend/src/app/pages/site-acquisition/components/checklist/DueDiligenceChecklistSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/AIInsightPanel.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ImmediateActionsGrid.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/OverallAssessmentCard.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/index.ts
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/AssetMixChart.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PreviewLayersTable.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PropertyOverviewSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/index.ts
  frontend/src/app/pages/site-acquisition/components/scenario-focus/ScenarioFocusSection.tsx
  frontend/src/components/canonical/GlassCard.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/styles/advisory.css
  frontend/src/styles/premium-effects.css
  frontend/src/styles/site-acquisition.css
Due: check-ui-canon, prettier, eslint

refactor(site-acquisition): canonicalize buttons with Protocol Alpha/Beta/Gamma
  core/design-tokens/tokens.css
  frontend/UI_STANDARDS.md
  frontend/UX_ARCHITECTURE.md
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/InspectionHistorySummary.tsx
  frontend/src/app/pages/site-acquisition/components/MassingLayersPanel.tsx
  frontend/src/app/pages/site-acquisition/components/advisory/SalesVelocityCard.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/PropertyCaptureForm.tsx
  frontend/src/app/pages/site-acquisition/components/checklist/DueDiligenceChecklistSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentEditor.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/InsightCard.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ManualInspectionControls.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/SystemRatingCard.tsx
  frontend/src/app/pages/site-acquisition/components/map/PropertyLocationMap.tsx
  frontend/src/app/pages/site-acquisition/components/modals/InspectionHistoryModal.tsx
  frontend/src/app/pages/site-acquisition/components/modals/QuickAnalysisHistoryModal.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/components/property-overview/PreviewLayersTable.tsx
  frontend/src/components/canonical/Button.tsx
  frontend/src/components/canonical/GlassCard.tsx
  frontend/src/styles/site-acquisition.css
Due: check-ui-canon, prettier, eslint

docs(ui): enhance UI_STANDARDS and UX_ARCHITECTURE with new patterns
  frontend/UI_STANDARDS.md
  frontend/UX_ARCHITECTURE.md
Due: prettier

refactor(Button): add size-proportional padding and wider letter-spacing
  frontend/src/components/canonical/Button.tsx
Due: check-ui-canon, prettier, eslint

feat(site-acquisition): add CommandBar component for property capture
  frontend/src/app/pages/site-acquisition/components/CommandBar.tsx
Due: check-ui-canon, prettier, eslint

refactor(site-acquisition): apply Flat Section Pattern and tokenize styling
  frontend/src/app/pages/site-acquisition/SiteAcquisitionPage.tsx
  frontend/src/app/pages/site-acquisition/components/InspectionHistorySummary.tsx
  frontend/src/app/pages/site-acquisition/components/VoiceObservationsPanel.tsx
  frontend/src/app/pages/site-acquisition/components/capture-form/PropertyCaptureForm.tsx
  frontend/src/app/pages/site-acquisition/components/checklist/DueDiligenceChecklistSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ImmediateActionsGrid.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/InsightCard.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/SystemRatingCard.tsx
  frontend/src/app/pages/site-acquisition/components/map/PropertyLocationMap.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/utils/insights.ts
  frontend/src/styles/site-acquisition.css
Due: check-ui-canon, prettier, eslint

feat(tokens): add dark mode interactive, input, and table surface tokens
  core/design-tokens/tokens.css
  frontend/UI_STANDARDS.md
Due: prettier

fix(ci): add property-project link migration to audit exceptions
  .coding-rules-exceptions.yml
Due: none

feat(canonical): add SegmentedGauge and SystemMarker components
  frontend/src/components/canonical/SegmentedGauge.tsx
  frontend/src/components/canonical/SystemMarker.tsx
Due: check-ui-canon, prettier, eslint

refactor(canonical): update AnimatedPageHeader, HeroMetric, Tag exports
  frontend/src/components/canonical/AnimatedPageHeader.tsx
  frontend/src/components/canonical/HeroMetric.tsx
  frontend/src/components/canonical/Tag.tsx
  frontend/src/components/canonical/index.ts
Due: check-ui-canon, prettier, eslint

refactor(site-acquisition): streamline ConditionAssessment and MultiScenario sections
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ConditionAssessmentSection.tsx
  frontend/src/app/pages/site-acquisition/components/condition-assessment/ImmediateActionsGrid.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/FeasibilityIntelTape.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/MultiScenarioComparisonSection.tsx
  frontend/src/app/pages/site-acquisition/components/multi-scenario-comparison/telemetry.ts
Due: check-ui-canon, prettier, eslint

feat(capture): add Unified Capture page module
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/components/AgentResultsPanel.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/capture/components/MissionLog.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/app/pages/capture/index.ts
Due: check-ui-canon, prettier, eslint

docs(ui): expand UI_STANDARDS and UX_ARCHITECTURE documentation
  frontend/UI_STANDARDS.md
  frontend/UX_ARCHITECTURE.md
Due: prettier

chore(tooling): add UI standards linter and build script
  Makefile
  frontend/package.json
  scripts/lint-ui-standards.mjs
Due: prettier

style(ui): update layout, navigation, and CSS styling
  frontend/src/components/layout/YosaiTopNav.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/main.tsx
  frontend/src/styles/gps-capture/core.css
  frontend/src/styles/site-acquisition.css
Due: check-ui-canon, prettier, eslint

fix(backend): resolve technical debt across async patterns, migrations, and types
  backend/app/api/v1/imports.py
  backend/app/api/v1/singapore_property_api.py
  backend/app/api/v1/users_db.py
  backend/app/api/v1/users_secure.py
  backend/app/core/export/entitlements.py
  backend/app/schemas/user.py
  backend/app/services/agents/development_potential_scanner.py
  backend/app/services/team/team_service.py
  backend/app/services/team/workflow_service.py
  backend/migrations/versions/20240816_000004_add_entitlements_tables.py
  backend/migrations/versions/20250220_000009_add_agent_advisory_feedback.py
  backend/migrations/versions/20250220_000013_add_performance_snapshots.py
  backend/migrations/versions/20251013_000015_add_developer_condition_assessments.py
  backend/migrations/versions/20251026_000019_add_projects_table_columns.py
  backend/tests/test_api/test_finance_asset_breakdown.py
Due: check-migration-enums, pdf-smoke-test, mypy-critical

fix(types): reduce type:ignore comments with proper MetadataProxy typing
  backend/app/api/v1/__init__.py
  backend/app/api/v1/deals.py
  backend/app/api/v1/developers_checklists.py
  backend/app/api/v1/finance_common.py
  backend/app/api/v1/finance_export.py
  backend/app/api/v1/finance_feasibility.py
  backend/app/api/v1/finance_scenarios.py
  backend/app/api/v1/listings.py
  backend/app/api/v1/singapore_property_api.py
  backend/app/models/base.py
  backend/app/schemas/deals.py
  backend/app/services/deals/commission.py
  backend/app/services/deals/pipeline.py
  backend/app/services/entitlements.py
  backend/app/services/integrations/accounts.py
  backend/app/services/preview_jobs.py
Due: check-enum-patterns, mypy-critical

fix(types): additional type:ignore cleanup and pattern fixes
  backend/app/api/deps.py
  backend/app/models/base.py
  backend/app/services/asset_mix.py
  backend/app/services/integrations/accounts.py
  backend/app/services/postgis.py
  backend/app/services/preview_jobs.py
Due: check-enum-patterns, mypy-critical

fix(types): fix client typing and cast patterns
  backend/app/services/base.py
  backend/app/services/geocoding.py
  backend/app/services/preview_jobs.py
Due: none

test(services): add robust tests for workflow, team, and scanner features
  backend/app/services/developer_condition_service.py
  backend/tests/conftest.py
  backend/tests/test_api/test_singapore_property_api.py
  backend/tests/test_services/test_development_potential_scanner.py
  backend/tests/test_services/test_team_service.py
  backend/tests/test_services/test_workflow_service.py
Due: none

fix(tests): resolve API test failures across workflow, finance, and httpx compatibility
  backend/app/api/v1/workflow.py
  backend/app/schemas/workflow.py
  backend/tests/test_api/test_compliance.py
  backend/tests/test_api/test_deals.py
  backend/tests/test_api/test_developer_site_acquisition.py
  backend/tests/test_api/test_finance_asset_breakdown.py
  backend/tests/test_api/test_finance_metrics.py
  backend/tests/test_api/test_performance.py
  backend/tests/test_api/test_products_api.py
  backend/tests/test_api/test_regulatory.py
  backend/tests/test_api/test_rules.py
  backend/tests/test_api/test_standards_api.py
  backend/tests/test_api/test_team.py
  backend/tests/test_api/test_workflow.py
Due: mypy-critical

test(services): add 97 unit tests for service coverage
  backend/tests/test_core/test_audit_ledger.py
  backend/tests/test_services/test_alerts_service.py
  backend/tests/test_services/test_compliance_service.py
  backend/tests/test_services/test_intelligence_service.py
  backend/tests/test_services/test_notification_service.py
  backend/tests/test_services/test_standards_service.py
Due: none

test(services): add 77 unit tests for costs, normalize, mock_corenet
  backend/tests/test_services/test_costs_service.py
  backend/tests/test_services/test_mock_corenet.py
  backend/tests/test_services/test_normalize_service.py
Due: none

test(compliance): increase coverage to 100% with comprehensive tests
  backend/tests/test_services/test_compliance_service.py
Due: none

feat(ai): implement complete AI rollout plan phases 1-4
  backend/app/services/ai/__init__.py
  backend/app/services/ai/anomaly_detector.py
  backend/app/services/ai/communication_drafter.py
  backend/app/services/ai/competitive_intelligence.py
  backend/app/services/ai/compliance_predictor.py
  backend/app/services/ai/conversational_assistant.py
  backend/app/services/ai/deal_scoring.py
  backend/app/services/ai/document_extractor.py
  backend/app/services/ai/due_diligence_generator.py
  backend/app/services/ai/market_predictor.py
  backend/app/services/ai/multi_modal_analyzer.py
  backend/app/services/ai/natural_language_query.py
  backend/app/services/ai/portfolio_optimizer.py
  backend/app/services/ai/rag_knowledge_base.py
  backend/app/services/ai/report_generator.py
  backend/app/services/ai/scenario_optimizer.py
  backend/app/services/ai/workflow_engine.py
  docs/planning/AI_ROLLOUT_PLAN.md
Due: check-documentation-whitelist

feat(api): add AI service API endpoints and frontend components
  backend/app/api/v1/__init__.py
  backend/app/api/v1/ai.py
  backend/app/schemas/ai.py
  frontend/src/api/ai.ts
  frontend/src/components/ai/AIAssistantChat.tsx
  frontend/src/components/ai/AIFloatingButton.tsx
  frontend/src/components/ai/AIInsightsPanel.tsx
  frontend/src/components/ai/DealScoreCard.tsx
  frontend/src/components/ai/index.ts
Due: check-ui-canon, mypy-critical, prettier, eslint

test(ai): add comprehensive tests for AI service API endpoints
  backend/tests/test_api/test_ai.py
Due: none

test(capture): add comprehensive tests for Unified Capture page
  frontend/src/app/pages/capture/UnifiedCapturePage.test.tsx
  frontend/src/app/pages/capture/UnifiedCapturePage.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/components/DeveloperResults.tsx
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
Due: check-ui-canon, prettier, eslint

style(gps-capture, site-acquisition): tokenize CSS and fix components
  frontend/src/app/pages/gps-capture/GpsCapturePage.tsx
  frontend/src/app/pages/site-acquisition/components/map/PropertyLocationMap.tsx
  frontend/src/styles/gps-capture/core.css
  frontend/src/styles/gps-capture/feature-cards.css
  frontend/src/styles/gps-capture/placeholders.css
  frontend/src/styles/gps-capture/template-manager.css
  frontend/src/styles/site-acquisition.css
Due: check-ui-canon, prettier, eslint

test(finance): improve finance module test coverage and components
  frontend/src/api/__tests__/finance.test.ts
  frontend/src/modules/finance/components/CapitalStackFacilityTable.tsx
  frontend/src/modules/finance/components/FinanceProjectSelector.tsx
  frontend/src/modules/finance/components/__tests__/FinanceProjectSelector.test.tsx
  frontend/src/modules/finance/components/__tests__/FinanceScenarioTable.test.tsx
  frontend/src/modules/finance/components/__tests__/FinanceStackAndDrawdown.test.tsx
Due: check-ui-canon, prettier, eslint

test(infra): enhance test setup and developer mode context
  frontend/src/contexts/useDeveloperMode.ts
  frontend/src/test/setup.ts
Due: prettier, eslint

chore(config): update .env.example with environment variables
  .env.example
Due: none

fix(agent-performance, feasibility): improve component structure and tests
  frontend/src/modules/agent-performance/AgentPerformancePage.tsx
  frontend/src/modules/feasibility/FeasibilityWizard.tsx
  frontend/src/modules/feasibility/__tests__/FeasibilityWizardCompute.test.tsx
  frontend/src/pages/__tests__/AgentPerformancePage.analytics.test.tsx
Due: check-ui-canon, prettier, eslint

style(tests): remove extra blank line in normalize service test
  backend/tests/test_services/test_normalize_service.py
Due: none

fix(backend,frontend): resolve import errors and add capture timeout
  backend/app/api/v1/ai.py
  backend/app/services/ai/anomaly_detector.py
  backend/app/services/ai/compliance_predictor.py
  frontend/src/app/pages/capture/hooks/useUnifiedCapture.ts
  frontend/src/modules/feasibility/hooks/useAssumptions.ts
Due: mypy-critical, prettier, eslint

test(frontend): harden capture coverage + timeouts
  frontend/package.json
  frontend/src/app/pages/capture/components/DeveloperResults.test.tsx
  frontend/src/app/pages/capture/hooks/__tests__/useUnifiedCapture.test.tsx
  frontend/src/modules/feasibility/__tests__/FeasibilityWizardCompute.test.tsx
  frontend/src/pages/__tests__/AgentPerformancePage.analytics.test.tsx
  frontend/src/pages/__tests__/AgentsGpsCapturePage.test.tsx
  frontend/vitest.capture.config.ts
Due: check-ui-canon, prettier, eslint
